@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--滚图-->
<div class="twoLink">
    <ul class="bg">
        <li></li>
        <li></li>
    </ul>
    <ul class="fg">
        <li>
            思考并找出解决方案的能力<br>
            比你知道某些特定的知识更重要
        </li>
        <li>
            重要的不是你知道的事实<br>
            而是你判断事实的能力
        </li>
    </ul>
    <ul class="link-dot">
        <li class="active"></li>
        <li></li>
    </ul>
    <div class="leftBtn">&lt;</div>
    <div class="rightBtn">&gt;</div>
</div>


<!--演讲联盟-->
<div class="container-fluid content">

    <div class="container">
        <h2>NSDA China</h2>
        <h3>全美辩论与演讲联盟</h3>
        <p>自1925 年起，NSDA 就开始为梦想在演讲与辩论领域有所成就的中学生提供实现自我的平台与资源支持。</p>
        <div class="row">
            <div class="col-sm-6 col-md-3 cont">
                <div class="thumbnail">
                    <div class="media">
                        <div class="media-left">
                            <i class="iconfont icon-iconset0202 icon1" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <div class="media-b-top">
                                <h4 class="media-heading">NSDA 会员体系</h4>
                                <p>Membership</p>
                            </div>
                            <div class="media-b-con">
                                <p>独有的会员积分和排名系统,在全美范围内建立起一个客观的学术评价体系。该体系作为学生的学术成就指标之一，得到全美各大学的大力认可，在每年的招生过程中被广泛使用。</p>
                            </div>
                        </div>
                    </div>
                    <span class="media-bot">
                        <a href="">了解详情</a>
                    </span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 cont">
                <div class="thumbnail">
                    <div class="media">
                        <div class="media-left">
                            <i class="iconfont icon-jiangbei icon1" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <div class="media-b-top">
                                <h4 class="media-heading">丰富的赛事活动</h4>
                                <p>Tournament</p>
                            </div>
                            <div class="media-b-con">
                                <p>举办辩论与演讲比赛、组织海内外辩论与演讲培训、提供校级比赛及学生俱乐部支持，并且组织中国学生参加多项NSDA 主办的大型国际赛事。</p>
                            </div>
                        </div>
                    </div>
                    <span class="media-bot">
                        <a href="">了解详情</a>
                    </span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 cont">
                <div class="thumbnail">
                    <div class="media">
                        <div class="media-left">
                            <i class="iconfont icon-shu icon1" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <div class="media-b-top">
                                <h4 class="media-heading">多样化的课程平台</h4>
                                <p>Curriculum</p>
                            </div>
                            <div class="media-b-con">
                                <p>提供丰富多样化的线上、线下课程。旨在全面培养学生语言、思维和表达能力。为爱好辩论与演讲的中国学生提供一个良好的生态圈。</p>
                            </div>
                        </div>
                    </div>
                    <span class="media-bot">
                        <a href="">了解详情</a>
                    </span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 cont">
                <div class="thumbnail">
                    <div class="media">
                        <div class="media-left">
                            <i class="iconfont icon-qianbi icon1" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <div class="media-b-top">
                                <h4 class="media-heading">提供社团技术支持</h4>
                                <p>Support</p>
                            </div>
                            <div class="media-b-con">
                                <p>为各辩论演讲社团提供更好更稳定的平台。您可以通过此系统组织和运营比赛，同时比赛经过NSDA 中国认证后，参赛选手将能获得NSDA官方积分。</p>
                            </div>
                        </div>
                    </div>
                    <span class="media-bot">
                        <a href="">了解详情</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--注册会员-->
<div class="parallax-window container-fluid" data-parallax="scroll" data-image-src="/asset/img/scroll-bg.png">
    <div class="container">
        <div class="row para-bg">
            <div class="media">
                <div class="col-md-8 data-num">
                    <i class="iconfont icon-yonghuqun hidden-sm" aria-hidden="true"></i>
                    <div class="data-num-right">
                        <span></span>
                        <p>目前NSDA China注册会员</p>
                        <p class="num">13016</p><p class="hz">位</p>
                    </div>
                </div>
                <div class="col-md-4 data-right" id="data">
                    <div class="thumbnail">
                        <h3>NSDA 会员体系 <i style="color: red;font-weight: normal;">|</i> NSDA Membership</h3>
                        <p>会员可享受NSDA 官方网站的资源库浏览和下载权限，可以免费阅读和下载大量的，仅对会员开放的学术文章资源</p>
                        <p><a href="#" class="btn btn-primary member" role="button">即可注册成为NSDA CHINA会员</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<!--学生证言-->
<div class="container-fluid testi">
    <p>Testimonials</p>
    <h3>学生证言</h3>

    <div class="container testmsg">
        <div class="test-list">
            <div class="row cen">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="dialog-box">
                            <div class="icon2">
                                <i class="iconfont icon-yinhao ic" aria-hidden="true"></i>
                            </div>
                            我觉得辩论是一项充满挑战的活动。不但在辩论场上要接受对手的反驳与质询，在准备的过程中也总是在挑战自己。为了搜到最有说服力的资料查过几百个网站，为了整理出最有力的论点布局和搭档彻夜改稿是常有的事。
                            <div class="tri"></div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="~/asset/img/per-pic.png" alt="...">
                            </div>
                            <div class="media-body msg">
                                <h4 class="media-heading">李蕊轶</h4>
                                <p>Harvar University</p>
                                <h4>2015-16 赛季第二轮四川赛区冠军</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="dialog-box">
                            <div class="icon2">
                                <i class="iconfont icon-yinhao ic" aria-hidden="true"></i>
                            </div>
                            我觉得辩论是一项充满挑战的活动。不但在辩论场上要接受对手的反驳与质询，在准备的过程中也总是在挑战自己。为了搜到最有说服力的资料查过几百个网站，为了整理出最有力的论点布局和搭档彻夜改稿是常有的事。
                            <div class="tri"></div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="~/asset/img/per-pic.png" alt="...">
                            </div>
                            <div class="media-body msg">
                                <h4 class="media-heading">李蕊轶</h4>
                                <p>Harvar University</p>
                                <h4>2015-16 赛季第二轮四川赛区冠军</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="dialog-box">
                            <div class="icon2">
                                <i class="iconfont icon-yinhao ic" aria-hidden="true"></i>
                            </div>
                            我觉得辩论是一项充满挑战的活动。不但在辩论场上要接受对手的反驳与质询，在准备的过程中也总是在挑战自己。为了搜到最有说服力的资料查过几百个网站，为了整理出最有力的论点布局和搭档彻夜改稿是常有的事。
                            <div class="tri"></div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="~/asset/img/per-pic.png" alt="...">
                            </div>
                            <div class="media-body msg">
                                <h4 class="media-heading">李蕊轶</h4>
                                <p>Harvar University</p>
                                <h4>2015-16 赛季第二轮四川赛区冠军</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row cen">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="dialog-box">
                            <div class="icon2">
                                <i class="iconfont icon-yinhao ic" aria-hidden="true"></i>
                            </div>
                            我觉得辩论是一项充满挑战的活动。不但在辩论场上要接受对手的反驳与质询，在准备的过程中也总是在挑战自己。为了搜到最有说服力的资料查过几百个网站，为了整理出最有力的论点布局和搭档彻夜改稿是常有的事。
                            <div class="tri"></div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="~/asset/img/per-pic.png" alt="...">
                            </div>
                            <div class="media-body msg">
                                <h4 class="media-heading">李ruiyi</h4>
                                <p>Harvar University</p>
                                <h4>2015-16 赛季第二轮四川赛区冠军</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="dialog-box">
                            <div class="icon2">
                                <i class="iconfont icon-yinhao ic" aria-hidden="true"></i>
                            </div>
                            我觉得辩论是一项充满挑战的活动。不但在辩论场上要接受对手的反驳与质询，在准备的过程中也总是在挑战自己。为了搜到最有说服力的资料查过几百个网站，为了整理出最有力的论点布局和搭档彻夜改稿是常有的事。
                            <div class="tri"></div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="~/asset/img/per-pic.png" alt="...">
                            </div>
                            <div class="media-body msg">
                                <h4 class="media-heading">李蕊轶</h4>
                                <p>Harvar University</p>
                                <h4>2015-16 赛季第二轮四川赛区冠军</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="dialog-box">
                            <div class="icon2">
                                <i class="iconfont icon-yinhao ic" aria-hidden="true"></i>
                            </div>
                            我觉得辩论是一项充满挑战的活动。不但在辩论场上要接受对手的反驳与质询，在准备的过程中也总是在挑战自己。为了搜到最有说服力的资料查过几百个网站，为了整理出最有力的论点布局和搭档彻夜改稿是常有的事。
                            <div class="tri"></div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="~/asset/img/per-pic.png" alt="...">
                            </div>
                            <div class="media-body msg">
                                <h4 class="media-heading">李蕊轶</h4>
                                <p>Harvar University</p>
                                <h4>2015-16 赛季第二轮四川赛区冠军</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="testmsg-dot">
            <li class="active2"></li>
            <li></li>
        </ul>
    </div>
</div>



<!--课程专栏-->
<div class="course">
    <h2>课程专栏</h2>
    <span></span>
    <h3>最新鲜有趣的话题，最丰富使用的咨询，<br>我们的明星外教帮你开拓思维和眼界，带你畅游世界。</h3>
</div>
<div class="container">
    <div class="course-list">
        <div class="row cour">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/asset/img/course.png" alt="...">
                    <div class="caption">
                        <h3>零基础Dabate & Speech全能班</h3>
                        <p>辩论最重要的部分是过程，在这一过程中，辩论教会你怎样去透彻的看待一件事情...</p>
                        <div class="course-detail">
                            <div class="coach-img"></div>
                            <h5>英锐教育 Eric</h5>
                            <h4>￥300.00</h4>
                        </div>
                        <div class="course-time">
                            <div class="time-icon">
                                <i class="iconfont icon-75" aria-hidden="true"></i>
                            </div>
                            <h5>11月12日  20:00直播</h5>
                            <h4>62人已付定金</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/asset/img/course.png" alt="...">
                    <div class="caption">
                        <h3>零基础Dabate & Speech全能班</h3>
                        <p>辩论最重要的部分是过程，在这一过程中，辩论教会你怎样去透彻的看待一件事情...</p>
                        <div class="course-detail">
                            <div class="coach-img"></div>
                            <h5>英锐教育 Eric</h5>
                            <h4>￥300.00</h4>
                        </div>
                        <div class="course-time">
                            <div class="time-icon">
                                <i class="iconfont icon-75" aria-hidden="true"></i>
                            </div>
                            <h5>11月12日  20:00直播</h5>
                            <h4>62人已付定金</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/asset/img/course.png" alt="...">
                    <div class="caption">
                        <h3>零基础Dabate & Speech全能班</h3>
                        <p>辩论最重要的部分是过程，在这一过程中，辩论教会你怎样去透彻的看待一件事情...</p>
                        <div class="course-detail">
                            <div class="coach-img"></div>
                            <h5>英锐教育 Eric</h5>
                            <h4>￥300.00</h4>
                        </div>
                        <div class="course-time">
                            <div class="time-icon">
                                <i class="iconfont icon-75" aria-hidden="true"></i>
                            </div>
                            <h5>11月12日  20:00直播</h5>
                            <h4>62人已付定金</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cour">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/asset/img/course.png" alt="...">
                    <div class="caption">
                        <h3>零基础Dabate & Speech全能班</h3>
                        <p>辩论最重要的部分是过程，在这一过程中，辩论教会你怎样去透彻的看待一件事情...</p>
                        <div class="course-detail">
                            <div class="coach-img"></div>
                            <h5>英锐教育 Eric</h5>
                            <h4>￥300.00</h4>
                        </div>
                        <div class="course-time">
                            <div class="time-icon">
                                <i class="iconfont icon-75" aria-hidden="true"></i>
                            </div>
                            <h5>11月12日  20:00直播</h5>
                            <h4>62人已付定金</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/asset/img/course.png" alt="...">
                    <div class="caption">
                        <h3>零基础Dabate & Speech全能班</h3>
                        <p>辩论最重要的部分是过程，在这一过程中，辩论教会你怎样去透彻的看待一件事情...</p>
                        <div class="course-detail">
                            <div class="coach-img"></div>
                            <h5>英锐教育 Eric</h5>
                            <h4>￥300.00</h4>
                        </div>
                        <div class="course-time">
                            <div class="time-icon">
                                <i class="iconfont icon-75" aria-hidden="true"></i>
                            </div>
                            <h5>11月12日  20:00直播</h5>
                            <h4>62人已付定金</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/asset/img/course.png" alt="...">
                    <div class="caption">
                        <h3>零基础Dabate & Speech全能班</h3>
                        <p>辩论最重要的部分是过程，在这一过程中，辩论教会你怎样去透彻的看待一件事情...</p>
                        <div class="course-detail">
                            <div class="coach-img"></div>
                            <h5>英锐教育 Eric</h5>
                            <h4>￥300.00</h4>
                        </div>
                        <div class="course-time">
                            <div class="time-icon">
                                <i class="iconfont icon-75" aria-hidden="true"></i>
                            </div>
                            <h5>11月12日  20:00直播</h5>
                            <h4>62人已付定金</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cour">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/asset/img/course.png" alt="...">
                    <div class="caption">
                        <h3>零基础Dabate & Speech全能班</h3>
                        <p>辩论最重要的部分是过程，在这一过程中，辩论教会你怎样去透彻的看待一件事情...</p>
                        <div class="course-detail">
                            <div class="coach-img"></div>
                            <h5>英锐教育 Eric</h5>
                            <h4>￥300.00</h4>
                        </div>
                        <div class="course-time">
                            <div class="time-icon">
                                <i class="iconfont icon-75" aria-hidden="true"></i>
                            </div>
                            <h5>11月12日  20:00直播</h5>
                            <h4>62人已付定金</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/asset/img/course.png" alt="...">
                    <div class="caption">
                        <h3>零基础Dabate & Speech全能班</h3>
                        <p>辩论最重要的部分是过程，在这一过程中，辩论教会你怎样去透彻的看待一件事情...</p>
                        <div class="course-detail">
                            <div class="coach-img"></div>
                            <h5>英锐教育 Eric</h5>
                            <h4>￥300.00</h4>
                        </div>
                        <div class="course-time">
                            <div class="time-icon">
                                <i class="iconfont icon-75" aria-hidden="true"></i>
                            </div>
                            <h5>11月12日  20:00直播</h5>
                            <h4>62人已付定金</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/asset/img/course.png" alt="...">
                    <div class="caption">
                        <h3>零基础Dabate & Speech全能班</h3>
                        <p>辩论最重要的部分是过程，在这一过程中，辩论教会你怎样去透彻的看待一件事情...</p>
                        <div class="course-detail">
                            <div class="coach-img"></div>
                            <h5>英锐教育 Eric</h5>
                            <h4>￥300.00</h4>
                        </div>
                        <div class="course-time">
                            <div class="time-icon">
                                <i class="iconfont icon-75" aria-hidden="true"></i>
                            </div>
                            <h5>11月12日  20:00直播</h5>
                            <h4>62人已付定金</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="course-dot">
        <li class="act"></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!--更好发展-->
<div class="container-fluid info hidden-md hidden-xs hidden-sm">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/asset/img/coach.png" alt="...">
            </a>
        </div>
        <div class="media-body info-con">
            <h4 class="media-heading">全面提供NSDA中国注册会员与机构支持，为辩论与演讲在中国更好的发展！</h4>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <p class="p-num">01. </p>
                        <p> 查询NSDA China注册教练</p>
                        <h4 class="panel-title">

                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                v<i class="glyphicon glyphicon-menu-down" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            我们记录在华教练的履历信息，并且我将通过记录教练对应的学生比赛成绩，学生评价等多方参数就算出教练等级。以帮助学生选择适合自己的
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <p class="p-num">02. </p>
                        <p> 帮助辩论与演讲社团成立</p>
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                v<i class="glyphicon glyphicon-menu-down" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            我们记录在华教练的履历信息，并且我将通过记录教练对应的学生比赛成绩，学生评价等多方参数就算出教练等级。以帮助学生选择适合自己的
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <p class="p-num">03. </p>
                        <p> 裁判招募，以支持各地赛事</p>
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                v<i class="glyphicon glyphicon-menu-down" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            我们记录在华教练的履历信息，并且我将通过记录教练对应的学生比赛成绩，学生评价等多方参数就算出教练等级。以帮助学生选择适合自己的
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <p class="p-num">04.</p>
                        <p> 比赛标准计分系统</p>
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                v<i class="glyphicon glyphicon-menu-down" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            我们记录在华教练的履历信息，并且我将通过记录教练对应的学生比赛成绩，学生评价等多方参数就算出教练等级。以帮助学生选择适合自己的
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container sinfo hidden-lg">
    <div class="media">

        <div class="media-body info-con">
            <h4 class="media-heading">全面提供NSDA中国注册会员与机构支持，为辩论与演讲在中国更好的发展！</h4>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <p class="p-num">01. </p>
                        <p> 查询NSDA China注册教练</p>
                        <h4 class="panel-title">

                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                v<i class="glyphicon glyphicon-menu-down" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            我们记录在华教练的履历信息，并且我将通过记录教练对应的学生比赛成绩，学生评价等多方参数就算出教练等级。以帮助学生选择适合自己的
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSix">
                        <p class="p-num">02. </p>
                        <p> 帮助辩论与演讲社团成立</p>
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                v<i class="glyphicon glyphicon-menu-down" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="panel-body">
                            我们记录在华教练的履历信息，并且我将通过记录教练对应的学生比赛成绩，学生评价等多方参数就算出教练等级。以帮助学生选择适合自己的
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSeven">
                        <p class="p-num">03. </p>
                        <p> 裁判招募，以支持各地赛事</p>
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                v<i class="glyphicon glyphicon-menu-down" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                        <div class="panel-body">
                            我们记录在华教练的履历信息，并且我将通过记录教练对应的学生比赛成绩，学生评价等多方参数就算出教练等级。以帮助学生选择适合自己的
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingEight">
                        <p class="p-num">04.</p>
                        <p> 比赛标准计分系统</p>
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                v<i class="glyphicon glyphicon-menu-down" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                        <div class="panel-body">
                            我们记录在华教练的履历信息，并且我将通过记录教练对应的学生比赛成绩，学生评价等多方参数就算出教练等级。以帮助学生选择适合自己的
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="/asset/js/change.js"></script>
}