<link href="~/Content/asset/css/index.css?1.1.0" rel="stylesheet" />

<div class="container">
    <div class="row contact">
        <span></span>
        <h2>联系我们<br>GET IN TOUCH</h2>
        <p>全美演讲与辩论联盟中国办公室（NSDA China）欢迎教育、传媒、金融等社会各领域组织机构<br>与我方进行冠名、赞助等多种形式合作，共同推动学术辩论与公共演讲在中国的蓬勃发展。</p>

        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <img src="~/Content/asset/img/map-3.svg" alt="">
                    <p>上海市杨浦区淞沪路303号创智天地11号楼501室</p>

                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <img src="~/Content/asset/img/chat-user-2.svg" alt="">
                    <p>021-60452021</p>

                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <img src="~/Content/asset/img/mail-at.svg" alt="">
                    <p>joyofdebate@dipont-edu.com</p>

                </div>
            </div>
        </div>

    </div>
</div>