@using nsda.Utilities
@{
    ViewBag.Title = "教练个人中心";
    Layout = "~/Areas/coach/Views/Shared/_Layout.cshtml";
}
@section styles
{
    <link rel="stylesheet" href="/asset/css/coachboundplayer.css?version=@Constant.Version">
}
<div class="score-con">
    <div class="score-top">
        <img class="integral" src="/asset/img/add_03.png" alt="...">
        <p class="scorecheck">Add your students</p>
        <button class="addbound" id="addplayer">Add New &nbsp;<i class="iconfont icon-jiahao"></i></button>
    </div>
    <div class="boundtable">
        <table>
            <thead>
                <tr>
                    <th>时间段</th>
                    <th>NSDA会员编号</th>
                    <th>姓名</th>
                    <th>执教期获胜数</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="data">
 
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation" id="pager">
    </nav>
</div>
@section scripts
{
    <script src="/asset/js/pager.js"></script>
    <script>
            //审核
            $(document).on("click", ".check", function () {
                var $this = $(this);
                $.ajax({
                    url: "/coach/coach/checkplayer",
                    type: "post",
                    dataType: "json",
                    data: {
                        id: $this.attr("data-id"),
                        isAgree: $this.attr("data-agree")
                    },
                    beforeSend: function () {
                        layer.msg('操作中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                    },
                    success: function (json) {
                        layer.closeAll();
                        if (json.flag) {
                            layer.msg("操作成功", { icon: 1, time: 1000 });
                            playercoach.Load(playercoach.param);
                        }
                        else {
                            layer.msg(json.msg, { icon: 5, time: 1000 });
                        }
                    }
                 , error: function () {
                     layer.closeAll();
                 }
                });
            });

            //删除
            $(document).on("click", ".delete", function () {
                $.ajax({
                    url: "/coach/coach/deleteplayer",
                    type: "post",
                    dataType: "json",
                    data: {
                        id:$(this).attr("data-id")
                    },
                    beforeSend: function () {
                        layer.msg('操作中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                    },
                    success: function (json) {
                        layer.closeAll();
                        if (json.flag) {
                            layer.msg("删除成功", { icon: 1, time: 1000 });
                            playercoach.Load(playercoach.param);
                        }
                        else {
                            layer.msg(json.msg, { icon: 5, time: 1000 });
                        }
                    }
                 , error: function () {
                     layer.closeAll();
                 }
                });
            });

            //编辑
            $(document).on("click", ".update", function () {
                layer.open({
                    title: "绑定学生",
                    type: 2,
                    content: "/coach/coach/update/" + $(this).attr("data-id"),
                    area: ["760px", "550px"],
                    end: function () {
                        location.reload();
                    }
                })
            });

            //新增
            $(document).on("click", "#addplayer", function () {
                layer.open({
                    title: "绑定学生",
                    type: 2,
                    content: "/coach/coach/add",
                    area: ["760px", "550px"],
                    end: function () {
                        location.reload();
                    }
                });
            });

            (function (w) {
                var playercoach = {
                    param: {
                        TotalPage: 1,
                        PageIndex: 1,
                        PageSize: 10,
                    }
                };
                playercoach.Load = function (filter) {
                    $.ajax({
                        url: "/coach/coach/coachplayer",
                        type: "get",
                        dataType: "json",
                        data: filter,
                        success: function (json) {
                            if (json.records > 0) {
                                var _pager = new w.pager({
                                    'parent': $('#pager')
                                });
                                playercoach.param.TotalPage = json.total;
                                _pager.init(filter, playercoach.param.PageIndex, playercoach.param.TotalPage, function (p) {
                                    playercoach.param.PageIndex = p;
                                    playercoach.Load(playercoach.param)
                                });
                                var html = '';
                                $.each(json.rows, function (k, val) {
                                    html+='<tr>';
                                    html += '<td>' + val.StartDate + '-';
                                    if (val.EndDate == "" || val.EndDate == null) {
                                        html += "至今";
                                    } else {
                                        html += val.EndDate;
                                    } if (val.PlayerCoachStatus == 1) {
                                        html += '<span>已验证</span>';
                                    }
                                    html+='</td>'
                                    html += '<td>' + val.PlayerCode + '</td>';
                                    html += '<td>' + val.PlayerPinYinName + '</td>';
                                    html += '<td>' + val.Times + '</td>';
                                    if (val.Flag) {
                                        html += '<td><button class="editcoach update" data-id=' + val.Id + '>Edit 修改</button> <button class="delcoach delete" data-id=' + val.Id + '>Del 删除</button></td>';
                                    }
                                    else {
                                        if (val.PlayerCoachStatus == 0) {
                                            html += '<td><button data-id=' + val.Id + ' data-agree=true class="confirmbound check">确认绑定</button> <button class="notpass check" data-id=' + val.Id + ' data-agree=false>不通过</button></td>';
                                        } else {
                                            html+='<td></td>'
                                        }
                                    }
                                    html+='</tr>';
                                });
                                $("#data").html(html)
                            } else {
                                $("#data").html('');
                                $("#pager").html("")
                            }
                        }
                    })
                };
                w.playercoach = playercoach
            })(window);
            playercoach.Load(playercoach.param);
    </script>
}