
table{
    margin-bottom:50px;
}
.info-con table thead{
    background: #E3D2D2;
}
.info-con thead th{
    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
    text-align: center;
    color: #666666;
    padding: 7px;
}
.info-con tbody td{
    border-bottom: 1px solid #a7a7a7;
    text-align: center;
    padding: 12px;
    box-sizing: border-box;
}
.info-con tbody td:not(:last-child) {
    border-right: 1px solid #a7a7a7;
}
.info-con tbody tr.pink {
    background: #F6F3E7;
}
.info-con tbody tr td a {
    display: inline;
    padding: 8px 16px;
    font-size:14px;
}
tbody tr td.last{
    width:120px;
    padding:6px;
} 


nav.info-nav{
    float:right;
    padding-right:3%;
    position:absolute;
    right:0;
    bottom:0;
    margin-bottom:50px;
}
.page{
    color: #a2a2a2;
    margin: 20px 0;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.page a.prev, .page a.next {
    font-size: 14px;
    font-weight: bold;
}
.page span, .page a {
    color: #a2a2a2;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    text-decoration: none;
}
.page a:hover, .page .on{
    background-color: #2577e3;
    border-radius: 30px;
    color: #fff;
}
.info-lists .panel:first-child a p.jc,.info-lists .panel:first-child a h3.mc{
    color:#52BEED;
}










