
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>player</title>
</head>
<body>
    <div> 
        <form action="/login/register" method="post">
            <input name="MemberType" value="1" type="hidden"/>
            <input type="submit" value="提交"/>
        </form>
    </div>
</body>
</html>
