@using nsda.Utilities
@{
    ViewBag.Title = "赛事管理员注册";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    <link rel="stylesheet" href="/asset/css/about.css?version=@Constant.Version">
    <link rel="stylesheet" href="/asset/css/eventmanageregform.css?version=@Constant.Version">
}

<div class="ad">

</div>

<!--面包屑导航-->
<div class="rode">

</div>

@*会员注册*@

<div class="container regform-con">
    <h3>欢迎加入NSDA赛事管理员，您需要几分钟填写申请信息</h3>
    <div class="reg-sign">
        <span class="signup">Sign Up</span>
        <form class="form-ctrl">
            <div class="form-group">
                <label for="account" class="form-label">注册邮箱</label>
                <input type="text" class="form-input" id="account">
            </div>
            <div class="form-group">
                <label for="pwd" class="form-label">密码</label>
                <input type="password" class="form-input" id="pwd">
            </div>
            <div class="form-group">
                <label for="againpwd" class="form-label">确认密码</label>
                <input type="password" class="form-input" id="againpwd">
            </div>
            <div class="form-group">
                <div class="form-group-small">
                    <label for="name" class="form-label">姓</label>
                    <input type="text" class="form-input" id="name">
                </div>
                <div class="form-group-small">
                    <label for="surname" class="form-label">名</label>
                    <input type="text" class="form-input" id="surname">
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-small">
                    <label for="pyname" class="form-label">拼音姓</label>
                    <input type="text" class="form-input" id="pyname">
                </div>
                <div class="form-group-small">
                    <label for="pinsurname" class="form-label">拼音名</label>
                    <input type="text" class="form-input" id="pinsurname">
                </div>
            </div>
            <div class="form-group">
                <label for="contactMobile" class="form-label">联系电话</label>
                <input type="text" class="form-input-phone" id="contactMobile">
            </div>
            <div class="form-group">
                <div class="form-group-small">
                    <label for="emergencycontact" class="form-label">紧急联系人</label>
                    <input type="text" class="form-input" id="emergencycontact">
                </div>
                <div class="form-group-small">
                    <label for="emergencycontactmobile" class="form-label">紧急电话</label>
                    <input type="text" class="form-input" id="emergencycontactmobile">
                </div>
            </div>
            <div class="form-group form-sexy">
                <label for="Gender" class="form-label">性别</label>
                <label class="radio-inline sexy">
                    <input type="radio" name="Gender" checked> 男
                </label>
                <label class="radio-inline sexy">
                    <input type="radio" name="Gender"> 女
                </label>
            </div>
            <div class="form-group">
                <label for="contactaddress" class="form-label">通讯地址</label>
                <input type="text" class="form-input" id="contactaddress">
            </div>
            <div class="form-group">
                <label for="card" class="form-label">有效证件</label>
                <select class="form-select-card" id="card">
                    <option>身份证</option>
                    <option>护照</option>
                    <option>港澳台通行证</option>
                </select>
                <input type="text" class="form-input-card" id="idcard">
            </div>

            <button type="button" id="register" class="button">递交申请赛事管理员</button>
        </form>
    </div>
</div>

@section scripts
{
    <script>
        $("#register").click(function () {
            var $Account = $("#account").val();
            if (validate.isNull($Account))
            {
                layer.msg('请输入注册邮箱', { icon: 5, time: 1000 });
                return;
            }
            if (!validate.isEmail($Account)) {
                layer.msg('请输入正确的注册邮箱', { icon: 5, time: 1000 });
                return;
            }
            var $Pwd = $("#pwd").val();
            var $againpwd = $("#againpwd").val();
            if (validate.isNull($Pwd)) {
                layer.msg('请输入密码', { icon: 5, time: 1000 });
                return;
            }
            if (validate.isNull($againpwd)) {
                layer.msg('请输入确认密码', { icon: 5, time: 1000 });
                return;
            }
            if ($Pwd != $againpwd) {
                layer.msg('两次输入的密码不一致', { icon: 5, time: 1000 });
                return;
            }
            if (!validate.isPwd($Pwd)) {
                layer.msg('密码必须是6-32位数字、大、小写字母、特殊符号中的二种及以上的组合！', { icon: 5, time: 1000 });
                return;
            }
            var $Name = $("#name").val();
            if (validate.isNull($Name))
            {
                layer.msg('请输入姓', { icon: 5, time: 1000 });
                return;
            }
            var $SurName = $("#surname").val();
            if (validate.isNull($SurName)) {
                layer.msg('请输入名', { icon: 5, time: 1000 });
                return;
            }
            var $PinYinName = $("#pyname").val();
            if (validate.isNull($PinYinName)) {
                layer.msg('请输入拼音姓', { icon: 5, time: 1000 });
                return;
            }
            var $PinYinSurName = $("#pinsurname").val();
            if (validate.isNull($PinYinSurName)) {
                layer.msg('请输入拼音名', { icon: 5, time: 1000 });
                return;
            }
            var $ContactMobile = $("#contactMobile").val();
            if (validate.isNull($ContactMobile)) {
                layer.msg('请输入联系电话', { icon: 5, time: 1000 });
                return;
            }
            var $EmergencyContact = $("#emergencycontact").val();
            if (validate.isNull($EmergencyContact)) {
                layer.msg('请输入紧急联系人', { icon: 5, time: 1000 });
                return;
            }
            var $EmergencyContactMobile = $("#emergencycontactmobile").val();
            if (validate.isNull($EmergencyContactMobile)) {
                layer.msg('请输入紧急电话', { icon: 5, time: 1000 });
                return;
            }
            var $ContactAddress = $("#contactaddress").val();
            if (validate.isNull($ContactAddress)) {
                layer.msg('请输入联系地址', { icon: 5, time: 1000 });
                return;
            }
            var $Card = $("#idcard").val();
            if (validate.isNull($Card)) {
                layer.msg('请输入证件号', { icon: 5, time: 1000 });
                return;
            }
            var $CardType = $("#card").val();
            var $Gender = $('input[name=Gender]:checked').val();
            $.ajax({
                url: "/register/registerevent",
                type: "post",
                dataType: "json",
                data: {
                    Account: $Account,
                    Pwd: $Pwd,
                    CardType: $CardType,
                    Card: $Card,
                    SurName: $SurName,
                    Name: $Name,
                    PinYinSurName: $PinYinSurName,
                    PinYinName: $PinYinName,
                    ContactMobile: $ContactMobile,
                    EmergencyContactMobile: $EmergencyContactMobile,
                    EmergencyContact: $EmergencyContact,
                    Gender: $Gender,
                    ContactAddress: $ContactAddress
                },
                beforeSend: function () {
                    layer.msg('赛事管理员注册中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                },
                success: function (json) {
                    layer.closeAll();
                    if (json.flag) {
                        location.href = json.msg;
                    }
                    else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                }
               , error: function () {
                   layer.closeAll();
               }
            });
        });
    </script>
}