@using nsda.Utilities
@using nsda.Model.dto.response
@{
    ViewBag.Title = "裁判注册";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = ViewBag.Condition as List<EventSelectResponse>;
}
@section styles
{
    <link rel="stylesheet" href="/asset/css/main/about.css?version=@Constant.Version">
    <link rel="stylesheet" href="/asset/css/judge/judgeregform.css?version=@Constant.Version">
}

<div class="ad">

</div>

<!--面包屑导航-->
<div class="rode">

</div>

@*会员注册*@

<div class="container regform-con">
    <h3>If you are not an NSDA  judger, create a new account.</h3>
    <div class="reg-sign">
        <span class="signup">Sign Up</span>
        <form class="form-ctrl">
            <div class="form-group">
                <label for="account" class="form-label">Email:</label>
                <input type="text" class="form-input" id="account">
            </div>
            <div class="form-group">
                <label for="pwd" class="form-label">Password:</label>
                <input type="password" class="form-input" id="pwd">
            </div>
            <div class="form-group">
                <label for="againpwd" class="form-label">Repeat the Password:</label>
                <input type="password" class="form-input" id="againpwd">
            </div>
            <div class="form-group">
                <label for="completename" class="form-label">Nick Name:</label>
                <input type="text" class="form-input-phone" id="completename">
            </div>
            <div class="form-group formname">
                <div class="form-group-small">
                    <label for="pyname" class="form-label">First Name:</label>
                    <input type="text" class="form-input" id="pyname">
                </div>
                <div class="form-group-small">
                    <label for="pinsurname" class="form-label">Last Name:</label>
                    <input type="text" class="form-input" id="pinsurname">
                </div>
            </div>
            <div class="form-group">
                <label for="contactMobile" class="form-label">Phone Number: </label>
                <input type="text" class="form-input-phone" id="contactMobile">
            </div>
            <div class="form-group formcontact">
                <div class="form-group-small">
                    <label for="emergencycontact" class="form-label">Emergency Contact Person:</label>
                    <input type="text" class="form-input" id="emergencycontact">
                </div>
                <div class="form-group-small">
                    <label for="emergencycontactmobile" class="form-label">Emergency Number:</label>
                    <input type="text" class="form-input" id="emergencycontactmobile">
                </div>
            </div>
            <div class="form-group form-sexy">
                <label for="sex" class="form-label">Gender:</label>
                <label class="radio-inline sexy">
                    <input type="radio" name="Gender" checked> Male
                </label>
                <label class="radio-inline sexy">
                    <input type="radio" name="Gender"> Female
                </label>
            </div>
            <div class="form-group">
                <label for="contactaddress" class="form-label">Address:</label>
                <input type="text" class="form-input" id="contactaddress">
            </div>
            <div class="form-group">
                <label for="event" class="form-label">I want to judge:</label>
                <select class="form-select-grade" id="event">
                    <option value="0">- No choice -</option>
                    @foreach (var item in data)
                    {
                        <option value="@item.EventId">@item.EventName</option>
                    }
                </select>
            </div>
            <button type="button" class="button" id="register">Create Login</button>
        </form>
    </div>
</div>

@section scripts
{
    <script>
        $("#register").click(function () {
            var $Account = $("#account").val();
            if (validate.isNull($Account)) {
                layer.msg('请输入Email', { icon: 5, time: 1000 });
                return;
            }
            if (!validate.isEmail($Account)) {
                layer.msg('请输入正确的Email', { icon: 5, time: 1000 });
                return;
            }
            var $Pwd = $("#pwd").val();
            var $againpwd = $("#againpwd").val();
            if (validate.isNull($Pwd)) {
                layer.msg('请输入Password', { icon: 5, time: 1000 });
                return;
            }
            if (validate.isNull($againpwd)) {
                layer.msg('请输入Repeat the Password', { icon: 5, time: 1000 });
                return;
            }
            if ($Pwd != $againpwd) {
                layer.msg('两次输入的密码不一致', { icon: 5, time: 1000 });
                return;
            }
            if (!validate.isPwd($Pwd)) {
                layer.msg('密码必须是6-32位数字、大、小写字母、特殊符号中的二种及以上的组合！', { icon: 5, time: 1000 });
                return;
            }

            var $CompleteName = $("#completename").val();
            if (validate.isNull($CompleteName)) {
                layer.msg('请输入Nick Name', { icon: 5, time: 1000 });
                return;
            }

            var $PinYinName = $("#pyname").val();
            if (validate.isNull($PinYinName)) {
                layer.msg('请输入First Name', { icon: 5, time: 1000 });
                return;
            }
            var $PinYinSurName = $("#pinsurname").val();
            if (validate.isNull($PinYinSurName)) {
                layer.msg('请输入Last Name', { icon: 5, time: 1000 });
                return;
            }
            var $ContactMobile = $("#contactMobile").val();
            if (validate.isNull($ContactMobile)) {
                layer.msg('请输入Phone Number', { icon: 5, time: 1000 });
                return;
            }
            var $EmergencyContact = $("#emergencycontact").val();
            if (validate.isNull($EmergencyContact)) {
                layer.msg('请输入Emergency Contact Person', { icon: 5, time: 1000 });
                return;
            }
            var $EmergencyContactMobile = $("#emergencycontactmobile").val();
            if (validate.isNull($EmergencyContactMobile)) {
                layer.msg('请输入Emergency Number', { icon: 5, time: 1000 });
                return;
            }
            var $ContactAddress = $("#contactaddress").val();
            if (validate.isNull($ContactAddress)) {
                layer.msg('请输入Address', { icon: 5, time: 1000 });
                return;
            }
            var $Gender = $('input[name=Gender]:checked').val();
            var $EventId = $("#event").val();
            $.ajax({
                url: "/register/registerreferee",
                type: "post",
                dataType: "json",
                data: {
                    Account: $Account,
                    Pwd: $Pwd,
                    CompleteName: $CompleteName,
                    PinYinSurName: $PinYinSurName,
                    PinYinName: $PinYinName,
                    ContactMobile: $ContactMobile,
                    EmergencyContactMobile: $EmergencyContactMobile,
                    EmergencyContact: $EmergencyContact,
                    Gender: $Gender,
                    ContactAddress: $ContactAddress,
                    EventId:$EventId
                },
                beforeSend: function () {
                    layer.msg('裁判注册中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                },
                success: function (json) {
                    layer.closeAll();
                    if (json.flag) {
                        location.href = json.msg;
                    }
                    else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                }
               ,error: function () {
                   layer.closeAll();
               }
            });
        });
    </script>
}