
.event-nav ul a:last-child li{
    position:relative;
    color:#fff;
}
.event-nav ul a:last-child .tri{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
    border-left: 15px solid transparent;
    position:absolute;
    top:20px;
    left:40%;
    z-index:9;
}
.event-lists{
    width:100%;
    margin-bottom:80px;
    padding-top:50px;
    min-height:800px;
    position:relative;
}
.compe-lists{
    width:260px;
    padding:10px;
    border:1px solid #B3B9BE;
    float:left;
    position:absolute;
    left:-270px;
}
.compe-lists .manage-lists li{
    width:100%;
    min-height:50px;
    padding:10px;
    text-align:left;
    font-size:18px;
    border-bottom:1px dashed #CED4D7;
}
.compe-lists .manage-lists li input[type=checkbox]{
    display:inline-block;
    width:40px;
    height:25px;
    float:left;

}
.compe-lists .manage-lists li p{
    float:left;
    font-size:18px;
    color:#666699;
    line-height:35px;
}
.compe-lists .manage-lists .clickready{
    display:inline-block;
    width:100%;
    height:50px;
    background:#CAE69A;
    border:1px solid #A7CB6C;
    color:#999966;
    text-align:center;
    margin-top:5px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    line-height:26px;
}
.compe-lists .manage-lists .clickready p{
    font-size:14px;
}
.compe-lists .manage-lists .clickready h4{
    font-size:14px;
    font-weight:600;
}
.compe-lists .manage-lists li input[type=checkbox]::-webkit-inner-spin-button,.compe-lists .manage-lists li input[type=checkbox]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.compe-lists .manage-lists li input[type=checkbox]:checked{
    color:red;
}
.event-nav ul a:last-child li{
    color:#fff;
}
.classcheck img{
    float:left;
    margin-right:30px;
}
.classcheck .class{
    width:90%;
    float:left;
}
.classcheck .class .group{
    width:100%;
    float:left;
    margin-bottom:15px;
}
.classcheck .class .group .group-item p,.classcheck .class .group .group-item a,.classcheck .class .group .group-con a{
    float:left;
    color:black;
    font-size:14px;
}
.classcheck .class .group .group-item{
    margin-right:10px;
}
.classcheck .class .group .group-item a{
    width:5%;
    padding:2px 10px;
    text-align:center;
}
.classcheck .class .group .group-con a{
    margin-left:2%;
    padding:2px 10px;
    text-align:center;
}
.selected{
    color:white;
    background:#FBB7A0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.event-lists table{
    width:100%;
    margin-top:100px;
}
.event-lists table thead{
    width:100%;
    background:#D8E0E5;
}
.event-lists table thead tr th{
    text-align:center;
    padding:10px;
}
.event-lists tbody td{
    color:#666699;
    border:1px solid #ccc;
    text-align-last:center;
    padding:10px;
}
.event-lists tbody td:first-child{
    border-left:none;
}
.event-lists tbody td:last-child{
    border-right:none
}
.event-lists tbody tr:nth-child(even) td:last-child{
}
.event-lists nav{
    position:absolute;
    bottom:0;
    right:0;
}

.page{
    color: #a2a2a2;
    margin: 20px 0;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.page a.prev, .page a.next {
    font-size: 14px;
    font-weight: bold;
}
.page span, .page a {
    color: #a2a2a2;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    text-decoration: none;
}
.page a:hover, .page .on{
    background-color: #2577e3;
    border-radius: 30px;
    color: #fff;
}























