.event-select{
    width:100%;
    background:#F5F8FA;
    z-index:1;
}
.event{
    margin-left:80px;
    padding-top:60px;
    padding-bottom:60px;
}
.event h4{
    font-size:18px;
    color:#333;
    font-weight:600;
    letter-spacing:1px;
    line-height:1.8;
    margin-bottom:20px;
}
.event select{
    width:200px;
    height:40px;
    font-size:14px;
}
.event .form-group{
    margin-bottom:30px;
}


.event .next-step:hover{
    color:white;
}


/*.event-nav ul a.lione li{
    position:relative;
    color:#fff;
}
.event-nav ul a.lione li .tri{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #F5F8FA;
    border-left: 15px solid transparent;
    position:absolute;
    top:20px;
    left:40%;
    z-index:9;
}
.eventsel{
    position:absolute;
    width:100%;
    height:280px;
    top:300px;
    left:0;
    background:#28353C;
}
.eventsel h4{
    font-size:18px;
    color:#fff;
    margin-top:30px;
    font-weight:700;
    letter-spacing:1px;
}
.selects{
    width:100%;
    height:130px;
    position:absolute;
    top:380px;
    background:#162329;
}
.selects select{
    width:15%;
    margin-top:45px;
    border:1px solid #34434A;
    background:#1F2A30;
    color:#829199;
    float:left;
    margin-right:25px;
}*/
/*.selects a{
    display:inline-block;
    width:20%;
    height:35px;
    float:left;
    margin-top:45px;
    margin-left:50px;
    background:#4E5D66;
    color:#fff;
    text-align:center;
    line-height:35px;
    font-size:18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}*/













