.event-select{
    width:100%;
    height:370px;
    background:#F5F8FA;
    position:relative;
    z-index:1;
}
.event-select .tri{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
    border-left: 15px solid transparent;
    position:absolute;
    z-index:9;
    top:-40px;
    left:22%;
}
.eventsel{
    position:absolute;
    width:100%;
    height:280px;
    top:50px;
    left:0;
    background:#28353C;
}
.eventsel h4{
    font-size:18px;
    color:#fff;
    margin-top:30px;
    font-weight:700;
    letter-spacing:1px;
}
.selects{
    width:100%;
    height:130px;
    position:absolute;
    top:120px;
    background:#162329;
}
.selects select{
    width:15%;
    margin-top:45px;
    border:1px solid #34434A;
    background:#1F2A30;
    color:#829199;
    float:left;
    margin-right:25px;
}
.selects a{
    display:inline-block;
    width:20%;
    height:35px;
    float:left;
    margin-top:45px;
    margin-left:50px;
    background:#4E5D66;
    color:#fff;
    text-align:center;
    line-height:35px;
    font-size:18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.event-nav ul a:first-child li{
    color:#fff;
}












