.event-select{
    width:100%;
    padding-top:90px;
    background:#F5F8FA;
    position:relative;
    z-index:1;
    margin-bottom:180px;
}
.event-nav ul a:first-child li{
    position:relative;
    color:#fff;
}
.event-nav ul a:first-child li .tri{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
    border-left: 15px solid transparent;
    position:absolute;
    top:20px;
    left:40%;
    z-index:9;
}
.event-select .form-group .addinput{
    margin-left:15px;
    cursor:pointer;
}
.event-select .form-group label{
    width:100%;
    font-size:14px;
    color:#333;
    letter-spacing:1px;
    font-weight:800;
}
.event-select .form-group{
    margin-bottom:20px;
}

.event-select .form-group:nth-child(1) input{
    width:100%;
    height:46px;
    font-size:14px;
    background:transparent;
    border:1px solid #cccccc;
    padding:0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom:10px;
}
.event-select .form-group:nth-child(2) input,.event-select .form-group:nth-child(3) input,.event-select .form-group:nth-child(6) input,.event-select .form-group:nth-child(7) input{
    width:20%;
    height:46px;
    font-size:14px;
    background:#fff;
    border:1px solid #cccccc;
    padding:0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-weight:400;
}
.event-select .form-group:nth-child(3) input{
    width:20%;
    height:46px;
}
.event-select .form-group:nth-child(4) select,.event-select .form-group:nth-child(4) input{

    height:46px;
    font-size:14px;
    color:#787373;
    background:#fff;
    border:1px solid #cccccc;
    padding:0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    float:left;
    margin-right:15px;
}
.event-select .form-group:nth-child(4) select{
    width:13%
}
.event-select .form-group:nth-child(4) input{
    width:40%
}
.event-select .form-group:nth-child(5) textarea{
    width:100%;
    height:300px;
    font-size:16px;
    color:#787373;
    background:transparent;
    border:1px solid #cccccc;
    padding:0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    resize:none;
}
.event-select .form-group:nth-child(5) input{
    font-size:18px;
    font-weight:400;
}
.event-select .form-group:nth-child(8) input{
    width:20%;
    height:46px;
    font-size:14px;
    color:#787373;
    background:#fff;
    border:1px solid #cccccc;
    padding:0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-right:15px;
}
.event-select .form-group:nth-child(8) input{
    width:12%;
    height:46px;
    font-size:14px;
    color:#787373;
    background:#fff;
    border:1px solid #cccccc;
    padding:0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-right:15px;
}
.event-select .teambg{
    width:100%;
    background:#28353C;
    padding:0 0 30px 0;
}
.event-select .teambg h3{
    font-size:18px;
    color:#fff;
    line-height:60px;
    float:left;
}
.event-select .teambg .addteam{
    display:inline-block;
    float:left;
    margin-left:6%;
    padding:6px 15px;
    background:#47BBED;
    color:#333333;
    margin-top:13px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.event-select .teambg .tbg{
    width:100%;
    background:#162329;
   margin-bottom:20px;
   padding:10px;
}
.event-select .tbg .teamlist{
    width:30%;
    border:1px solid #28353C;
    float:left;
    margin-right:60px;
    padding:10px;
}
.event-select .tbg .teamlist .form-group label{
    color:#ccc;
}
.event-select .tbg .teamlist .form-group:first-child input{
    width:100%;
    height:46px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding:0 5px;
    background:#162329;
    border:1px solid #B4BDC2;
}
.event-select .tbg .teamlist .form-group input,.event-select .tbg .teamlist .form-group div select{
    color:#ccc;
}
.event-select .tbg .teamlist .form-group:nth-child(2){
    height:60px;
}
.event-select .tbg .teamlist .form-group:nth-child(2) p{
    float:left;
    margin-left:10px;
    margin-right:10px;
    line-height:30px;
    color:#ccc;
}
.event-select .tbg .teamlist .form-group:nth-child(2) select{
    width:30%;
    height:30px;
    float:left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding:0 5px;
    background:#162329;
    border:1px solid #B4BDC2;
}
.event-select .tbg .teamlist .form-group:nth-child(3) p{
    float:left;
    margin-left:10px;
    margin-right:10px;
    line-height:30px;
    color:#ccc;
}
.event-select .tbg .teamlist .form-group:nth-child(3) {
    margin-bottom: 60px;
}
.event-select .tbg .teamlist .form-group:nth-child(3) input{
    width:35%;
    height:30px;
    float:left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding:0 5px;
    background:#162329;
    border:1px solid #B4BDC2;
}
.event-select .tbg .teamlist .delteam{
    display:inline-block;
    padding:6px 20px;
    background:#cb4444;
    margin:0 auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color:white;
    margin-left:50%;
    transform:translate(-50%);
}
.event-select button{
    width:270px;
    height:55px;
    border:none;
    background:#4E5D66;
    color:white;
    font-size:18px;
    line-height:55px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position:absolute;
    left:50%;
    transform:translate(-50%);
    bottom:-90px;
}
.event-select .form-group input{
    color:#28353C;
}

.event-nav ul a:first-child li{
    color:#fff;
}
.event-select .form-group:nth-child(6) input[type=number]::-webkit-inner-spin-button,
.event-select .form-group:nth-child(6) input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.teamlist .form-group:nth-child(3) input[type=number]::-webkit-inner-spin-button,.teamlist .form-group:nth-child(3) input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.event-select .form-group:nth-child(8) input[type=number]::-webkit-inner-spin-button,.event-select .form-group:nth-child(8) input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}






