.event-nav ul a.litre li{
    position:relative;
    color:#fff;
}
.event-nav ul a.litre li .tri{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #F5F8FA;
    border-left: 15px solid transparent;
    position:absolute;
    top:20px;
    left:40%;
    z-index:9;
}

@media (max-width:320px){
    .regform-con{
        margin-bottom:80px;
    }
    .regform-con h3{
        padding-left:10px;
        line-height:1.8;
        font-size:14px;
    }
    .reg-sign{
        max-width:870px;
        height:1040px;
        margin:0 auto;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        margin-top:50px;
        position:relative;
        padding:50px 30px;
    }
    .form-group{
        margin-bottom:40px;
    }
    .form-group label.form-label{
        width:100%;
        text-align:left;
        font-size:12px;
        margin-right:8px;
    }
    .form-group input.form-input{
        width:100%;
    }
    .form-group-small{
        float:left;
    }
    .form-group-small:first-child{
       margin-right:20px;
        width:40%;
    }
    .form-group-small:last-child{
        width:50%;
    }
    .form-group-small:first-child label.form-label{
        width:70%
    }
    .form-group-small:first-child input.form-input{
        width:90%;
    }
    .form-group-small:last-child label.form-label{
        width:60%
    }
    .form-group-small:last-child input.form-input{
        width:100%;
    }
    .form-group .form-select-grade,.form-group .form-input-phone{
        width:100%;
    }
    .form-group input.form-input,.form-group .form-select-grade,.form-group .form-input-phone,.form-group .form-select-card,.form-group .form-input-card,.form-group .form-select-school,.form-group .form-select-schoolads{
        height:35px;
        border-radius:6px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border:1px solid #797979;
        background:#F4F4F1;
    }
    .form-group .form-select-card{
        width:30%;
    }
    .form-group .form-input-card{
        width:67%
    }
    .form-group .form-select-school{
        width:19%;
    }
    .form-group .em{
        margin-left:7px;
        margin-right:7px;
        font-size:20px;
    }
    .schoolads{
        margin-left:0;
        margin-top:15px;
    }
    .form-group .form-select-schoolads{
        width:19%;
    }
    .form-group .form-sel-ads{
        width:58%;
    }
    .form-ctrl .button{
         width:90px;
        height:56px;
        margin-left:110px;
        margin-top:60px;
        background:#4E5D66;
        text-align:center;
        color:white;
        font-size:18px;
        border:1px solid #797979;
        border-radius:6px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
    }
    .form-group .sexy{
        margin-left:15px;
    }
    .form-sexy{
        padding-top:9px;
    }
}
@media (min-width:320px){
    .regform-con{
        margin-bottom:80px;
    }
    .regform-con h3{
        padding-left:10px;
        line-height:1.8;
        font-size:14px;
    }
    .reg-sign{
        max-width:870px;
        height:1040px;
        margin:0 auto;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        margin-top:50px;
        position:relative;
        padding:50px 30px;
    }
    .form-group{
        margin-bottom:40px;
    }
    .form-group label.form-label{
        width:100%;
        text-align:left;
        font-size:12px;
        margin-right:8px;
    }
    .form-group input.form-input{
        width:100%;
    }
    .form-group-small{
        float:left;
    }
    .form-group-small:first-child{
       margin-right:20px;
        width:40%;
    }
    .form-group-small:last-child{
        width:50%;
    }
    .form-group-small:first-child label.form-label{
        width:70%
    }
    .form-group-small:first-child input.form-input{
        width:90%;
    }
    .form-group-small:last-child label.form-label{
        width:60%
    }
    .form-group-small:last-child input.form-input{
        width:100%;
    }
    .form-group .form-select-grade,.form-group .form-input-phone{
        width:100%;
    }
    .form-group input.form-input,.form-group .form-select-grade,.form-group .form-input-phone,.form-group .form-select-card,.form-group .form-input-card,.form-group .form-select-school,.form-group .form-select-schoolads{
        height:35px;
        border-radius:6px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border:1px solid #797979;
        background:#F4F4F1;
    }
    .form-group .form-select-card{
        width:30%;
    }
    .form-group .form-input-card{
        width:67%
    }
    .form-group .form-select-school{
        width:19%;
    }
    .form-group .em{
        margin-left:7px;
        margin-right:7px;
        font-size:20px;
    }
    .schoolads{
        margin-left:0;
        margin-top:15px;
    }
    .form-group .form-select-schoolads{
        width:19%;
    }
    .form-group .form-sel-ads{
        width:58%;
    }
    .form-ctrl .button{
         width:90px;
        height:56px;
        margin-left:110px;
        margin-top:60px;
        background:#4E5D66;
        text-align:center;
        color:white;
        font-size:18px;
        border:1px solid #797979;
        border-radius:6px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
    }
    .form-group .sexy{
        margin-left:15px;
    }
    .form-sexy{
        padding-top:9px;
    }
}
@media (min-width:375px){
    .regform-con{
        margin-bottom:80px;
    }
    .regform-con h3{
        padding-left:10px;
        line-height:1.8;
        font-size:14px;
    }
    .reg-sign{
        max-width:870px;
        height:1040px;
        margin:0 auto;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        margin-top:50px;
        position:relative;
        padding:50px 10px;
    }
    .form-group label.form-label{
        width:20%;
        text-align:right;
        font-size:12px;
        margin-right:8px;
    }
    .form-group input.form-input{
        width:76%;
    }
    .form-group-small{
        float:left;
    }
    .form-group-small:first-child{
       margin-right:50px;
        width:43%;
    }
    .form-group-small:last-child{
        width:40%;
    }
    .form-group-small:first-child label.form-label{
        width:47%
    }
    .form-group-small:first-child input.form-input{
        width:44%;
    }
    .form-group-small:last-child label.form-label{
        width:37%
    }
    .form-group-small:last-child input.form-input{
        width:52%;
    }
    .form-group .form-select-grade,.form-group .form-input-phone{
        width:73%;
    }
    .form-group input.form-input,.form-group .form-select-grade,.form-group .form-input-phone,.form-group .form-select-card,.form-group .form-input-card,.form-group .form-select-school,.form-group .form-select-schoolads{
        height:35px;
        border-radius:6px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border:1px solid #797979;
        background:#F4F4F1;
    }
    .form-group .form-select-card{
        width:23%;
    }
    .form-group .form-input-card{
        width:51%
    }
    .form-group .form-select-school{
        width:13%;
    }
    .form-group .em{
        margin-left:16px;
        margin-right:20px;
        font-size:20px;
    }
    .schoolads{
        margin-left:80px;
        margin-top:15px;
    }
    .form-group .form-select-schoolads{
        width:15%;
    }
    .form-group .form-sel-ads{
        width:41%;
    }
    .form-ctrl .button{
         width:270px;
        height:56px;
        margin-left:110px;
        margin-top:60px;
        background:#4E5D66;
        text-align:center;
        color:white;
        font-size:18px;
        border:1px solid #797979;
        border-radius:6px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
    }
    .form-group .sexy{
        margin-left:15px;
    }
    .form-sexy{
        padding-top:9px;
    }
}
@media (min-width:768px){
    .regform-con{
        margin-bottom:150px;
    }
    .regform-con h3{
        padding-left:100px;
        font-size:18px;
    }
    .reg-sign{
        max-width:870px;
        height:1040px;
        margin:0 auto;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        margin-top:50px;
        position:relative;
        padding:70px 60px;
    }
    .signup{
        display:inline-block;
        max-width:260px;
        max-height:64px;
        background:white;
        position:absolute;
        top:-64px;
        left:70px;
        font-size:60px;
        color:#ffd600;
        padding:5px;
        font-weight:600;
    }
    .form-group{
        margin-bottom:30px;
    }
    .form-group label.form-label{
        width:20%;
        text-align:right;
        font-size:14px;
        margin-right:8px;
    }
    .form-group input.form-input{
        width:76%;
    }
    .form-group-small{
        float:left;
    }
    .form-group-small:first-child{
       margin-right:20px;
        width:55%;
    }
    .form-group-small:last-child{
        width:40%;
    }
    .form-group-small:first-child label.form-label{
        width:36%
    }
    .form-group-small:first-child input.form-input{
        width:50%;
    }
    .form-group-small:last-child label.form-label{
        width:30%
    }
    .form-group-small:last-child input.form-input{
        width:61%;
    }
    .form-group .form-select-grade,.form-group .form-input-phone{
        width:27%;
    }
    .form-group input.form-input,.form-group .form-select-grade,.form-group .form-input-phone,.form-group .form-select-card,.form-group .form-input-card,.form-group .form-select-school,.form-group .form-select-schoolads{
        height:35px;
        border-radius:6px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border:1px solid #797979;
        background:#F4F4F1;
    }
    .form-group .form-select-card{
        width:23%;
    }
    .form-group .form-input-card{
        width:52%
    }
    .form-group .form-select-school{
        width:14%;
    }
    .form-group .em{
        margin-left:35px;
        margin-right:35px;
        font-size:20px;
    }
    .schoolads{
        margin-left:123px;
        margin-top:15px;
    }
    .form-group .form-select-schoolads{
        width:15%;
    }
    .form-group .form-sel-ads{
        width:44%;
    }
    .form-ctrl .button{
         width:270px;
        height:56px;
        position:absolute;
        left:50%;
        transform:translate(-80%);
        margin-top:60px;
        background:#4E5D66;
        text-align:center;
        color:white;
        font-size:18px;
        border:1px solid #797979;
        border-radius:6px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
    }
    .form-group .sexy{
        margin-left:15px;
    }
    .form-sexy{
        padding-top:9px;
    }
}
@media (min-width:1024px){
    .regform-con h3{
        padding-left:130px;
    }
    .reg-sign{
        max-width:870px;
        height:1040px;
        margin:0 auto;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        margin-top:50px;
        position:relative;
        padding:75px 170px 50px 170px;
    }
    .signup{
        display:inline-block;
        max-width:260px;
        max-height:64px;
        background:white;
        position:absolute;
        top:-64px;
        left:70px;
        font-size:60px;
        color:#ffd600;
        padding:5px;
        font-weight:600;
    }
    .form-group label.form-label{
        width:20%;
        text-align:right;
        font-size:14px;
        margin-right:8px;
    }
    .form-group input.form-input{
        width:76%;
    }
    .form-group-small{
        float:left;
    }
    .form-group-small:first-child{
       margin-right:20px;
        width:55%;
    }
    .form-group-small:last-child{
        width:40%;
    }
    .form-group-small:first-child label.form-label{
        width:36%
    }
    .form-group-small:first-child input.form-input{
        width:50%;
    }
    .form-group-small:last-child label.form-label{
        width:30%
    }
    .form-group-small:last-child input.form-input{
        width:61%;
    }
    .form-group .form-select-grade,.form-group .form-input-phone{
        width:27%;
    }
    .form-group input.form-input,.form-group .form-select-grade,.form-group .form-input-phone,.form-group .form-select-card,.form-group .form-input-card,.form-group .form-select-school,.form-group .form-select-schoolads{
        height:35px;
        border-radius:6px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border:1px solid #797979;
        background:#F4F4F1;
    }
    .form-group .form-select-card{
        width:23%;
    }
    .form-group .form-input-card{
        width:52%
    }
    .form-group .form-select-school{
        width:14%;
    }
    .form-group .em{
        margin-left:30px;
        margin-right:30px;
        font-size:20px;
    }
    .schoolads{
        margin-left:110px;
        margin-top:15px;
    }
    .form-group .form-select-schoolads{
        width:15%;
    }
    .form-group .form-sel-ads{
        width:45%;
    }
    .form-group .sexy{
        margin-left:15px;
    }
    .form-sexy{
        padding-top:9px;
    }
}
@media (min-width:1200px){
    .regform-con h3{
        padding-left:240px;
    }
    .reg-sign{
        max-width:870px;
        height:1040px;
        margin:0 auto;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        margin-top:50px;
        position:relative;
        padding:15px 170px 40px 170px;
    }
    .signup{
        display:inline-block;
        max-width:260px;
        max-height:64px;
        background:white;
        position:absolute;
        top:-64px;
        left:70px;
        font-size:60px;
        color:#ffd600;
        padding:5px;
        font-weight:600;
    }
    .form-group label.form-label{
        width:20%;
        text-align:right;
        font-size:14px;
        margin-right:8px;
    }
    .form-group input.form-input{
        width:76%;
    }
    .form-group-small{
        float:left;
    }
    .form-group-small:first-child{
       margin-right:20px;
        width:55%;
    }
    .form-group-small:last-child{
        width:40%;
    }
    .form-group-small:first-child label.form-label{
        width:36%
    }
    .form-group-small:first-child input.form-input{
        width:50%;
    }
    .form-group-small:last-child label.form-label{
        width:30%
    }
    .form-group-small:last-child input.form-input{
        width:61%;
    }
    .form-group .form-select-grade,.form-group .form-input-phone{
        width:27%;
    }
    .form-group input.form-input,.form-group .form-select-grade,.form-group .form-input-phone,.form-group .form-select-card,.form-group .form-input-card,.form-group .form-select-school,.form-group .form-select-schoolads{
        height:35px;
        border-radius:6px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border:1px solid #797979;
        background:#F4F4F1;
    }
    .form-group .form-select-card{
        width:23%;
    }
    .form-group .form-input-card{
        width:52%
    }
    .form-group .form-select-school{
        width:29%;
        padding-left:10px;
    }
    .form-group .em{
        margin-left:30px;
        margin-right:30px;
        font-size:20px;
    }
    .schoolads{
        margin-left:110px;
        margin-top:15px;
    }
    .form-group .form-select-schoolads{
        width:15%;
    }
    .form-group .form-sel-ads{
        width:45%;
    }
    .form-group .sexy{
        margin-left:15px;
    }
    .form-sexy{
        padding-top:9px;
    }
}
.regform-con{
    padding-top:35px; 
    
    font-family:"微软雅黑";
}
.regform-con h3{
        color:#00ccff;
}
.form-group{
    height:35px;
    
}