.newround .roundone{
    margin-top:90px;
}
.roundset .newround .form-group.range{
    width:100%;
}
.roundset .newround .form-group a.confirm{
    display:inline-block;
    padding:3px 15px;
    background:#47BBED;
    color:white;
    margin-left:15px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.roundset .newround .form-group p{
    font-size:12px;
    color:#ff6666;
}
.newround .roundone ul li label.comname{
    width:120px;
    text-align:right;
}
.newround .roundone ul li select.rset{
    margin-right:20px;
}
.newround .roundone ul li input[type=checkbox]:checked input[type=checkbox]{
    color:red;
}
.newround .roundone ul li label{
    margin-left:10px
}


.openround .roundone{
    margin-top:90px;
}
.roundset .openround .form-group.range{
    width:100%;
}
.roundset .openround .form-group a.confirm{
    display:inline-block;
    padding:3px 15px;
    background:#47BBED;
    color:white;
    margin-left:15px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.roundset .openround .form-group p{
    font-size:12px;
    color:#ff6666;
}
.openround .roundone ul li label.comname{
    width:120px;
    text-align:right;
}
.openround .roundone ul li select.rset{
    margin-right:20px;
}
.openround .roundone ul li input[type=checkbox]:checked input[type=checkbox]{
    color:red;
}
.openround .roundone ul li label{
    margin-left:10px
}


























