.classcheck{
    min-height:200px;
}
.classcheck .class{
    margin-bottom:30px;
}
.classcheck .class .group .group-item a.selected{
    color:#fff;
}
.data .data-item{
    min-width:7%;
    text-align:right;
    float:left;
    color:#666;
}
.data .data-con{
    float:left;
    width:80%
}
.data .data-con a{
    float:left;
    color:black;
    margin-left:2%;
    margin-right:2%;
}
.event-lists .class .data .data-con{
    position:relative;
    color:#666;
}
.number{
    width:600px;
    float:left;
    margin-bottom:10px;
}
.number span,.number p{
    float:left;
}
.number .hadnumber,.number .advisenumber{
    float:left;
    width:260px;
    margin-right:20px;
}
.number .hadnumber span{
    width:170px;
    text-align:left;
}
.number .advisenumber span{
    width:130px;
    text-align:left;
}
.number .advisenumber p{
    color:#ff6666;
    text-align:left;
}

.statistics{
    float:left;
    width:400px;
}
.statistics li{
    width:100%;
    float:left;
}
.data .data-con .statistics li a{
    float:left;
    color:#666;
}

.searchplayer{
    position:relative;
}
.searchplayer input{
    width:200px;
    height:36px;
    background:transparent;
    border:1px solid #D2D6DA;
    padding-left:10px;
}
.searchplayer a.search{
    display:inline-block;
    padding:5px 20px;
    font-size:16px;
    margin-left:20px;
    cursor:pointer;
}
.searchplayer select#sel{
    width:200px;
    position:absolute;
    left:0;
    top:30px;
}
.searchplayer select#sel::-webkit-scrollbar{
    width:6px;
    height:6px;
}
.searchplayer select#sel::-webkit-scrollbar-track {
      background-color: #ddd;
}

.searchplayer select#sel::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}
.searchplayer select#sel::-webkit-scrollbar-button {
    background-color: #888;
    display: none;
}
.batchsignin{
    width:200px;
    height:30px;
    border:1px solid #D2D6DA;
    background: #fff;
    color:#666;
    padding-left:5px;
}
.event-lists table{
    border-collapse: collapse;
    width: 100%;
    color: #666;
    margin-top: 20px;
    margin-bottom: 70px;
}
.event-lists table tbody td:first-child{
    position:relative;
}
.event-lists table tbody td:first-child span.mark{
    display:inline-block;
    width:20px;
    height:20px;
    cursor:pointer;
    position:absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
}
.event-lists table tbody tr td a{
    display: inline-block;
    padding: 5px 10px;
}
.event-lists table tbody td.status{
    min-width:50px;
}
.event-lists table tbody td.status a{
    display:inline-block;
    padding:4px 16px;
}
.event-lists table tbody td:not(:last-child){
    max-width: 130px;
    word-break: keep-all;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}












