.managelists{
    margin-top:90px;
}
.managelists ul{
    padding:6px;
}
.managelists ul li{
    border-bottom:1px dashed #CED4D7;
    padding:6px;
    font-size:18px;
    color:#666699;
}
.managelists ul li label{
    float:left;
    width:25px;
    height:25px;
    margin-right:6px;
}
.managelists ul li label input[type=checkbox]{
    width:20px;
    height:20px;
}
.managelists .clickready{
    display:inline-block;
    width:100%;
    padding:6px;
    background:#CAE69A;
    border:1px solid #A7CB6C;
    color:#999966;
    text-align:center;
    margin-top:5px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    line-height:26px;
}
.managelists .clickready p{
    font-size:14px;
}
.managelists .clickready h4{
    font-size:14px;
    font-weight:600;
}
.data .data-item{
    width:7%;
    text-align:right;
    float:left;
}
.data .data-con{
    float:left;
    width:80%
}
.data .data-con a{
    float:left;
    color:black;
    margin-left:2%;
    margin-right:2%;
}
.classcheck .class{
    margin-bottom:40px;
}

.classcheck .class .addjudge{
    display:inline-block;
    padding:4px 10px;
    background:#47BBED;
    color:#fff;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    cursor:pointer;
    position:absolute;
    right:0;
    top:100px;
}
.event-lists table{
    margin-top:180px;
}
.event-lists table tbody td:not(:last-child){
    max-width:130px;
    word-break:keep-all;
    word-wrap:break-word;
    overflow:hidden; 
    text-overflow:ellipsis;  
    -o-text-overflow:ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}
.event-lists table tbody tr td:last-child{
    min-width:200px;
    position:relative;
}
.event-lists table tbody tr td a:not(:last-child){
    margin-right:10px;

}
.event-lists table tbody tr td{
    padding:25px 0;
}
.event-lists table tbody tr td a{
    display:inline-block;
    padding:5px 10px;
    color:white;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}
.event-lists table tbody tr td a.enrol{
    background:#1ABC9C;
    left:6%;
}
.event-lists table tbody tr td a.refuse{
    background:#F3924B;
    left:36%;
}
.event-lists table tbody tr td a.candidate{
    background:#4E5D66;
    left:66%;
}
.event-lists table tbody td:first-child{
    position:relative;
}
.event-lists table tbody td:first-child span.mark{
    display:inline-block;
    width:20px;
    height:40px;
    position:absolute;
    left:3px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
}
.event-lists table tbody td:first-child span.mark i{
    font-size:24px;
    color:#838080;
}
.event-lists table tbody tr td:nth-child(2){
    position:relative;

}
.event-lists table tbody tr td span.snap{
    display:inline-block;
    padding:1px 8px;
    color:#fff;
    font-size:12px;
    background:#1ABC9C;
    border-radius:40px;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    position:absolute;
    top:5px;
    left:6%
}


















