.judge-compe{
    width:100%;
    padding:40px 10px;
    background:#fff;
}
.judge-con{
    width:73%;
    float:left;
    margin-top:60px;
    margin-left:20px;
}
.info-lists .panel:nth-child(2) .panel-body ul a:last-child li{
    background:#F0F0F0;
    color:#5DC1ED;
}