.judge-compe{
    width:100%;
    padding:40px 10px 140px 10px;
    background:#fff;
    margin-bottom:80px;
}
.judge-con{
    width:73%;
    float:left;
    margin-top:55px;
    margin-left:20px;
}

.judge-con table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom:50px;
}
.judge-con table thead{
    background: #CAE699;
}
.judge-con thead th{
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    text-align: center;
    color: #666666;
   padding:7px 0;
}
.judge-con tbody td{
    border-bottom: 1px solid #E3E3E3;
    text-align: center;
    padding:7px 0;
    box-sizing: border-box;
}
.judge-con tbody td:not(:last-child) {
    border-right: 1px solid #E3E3E3;
}
.judge-con tbody td a{
    display:inline-block;
}
.judge-con tbody td a.login {
    padding: 5px 15px;
    background: #FFD600;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    color: #666666;
}
.msg-box{
    width:100%;
    padding:8px;
    min-height:40px;
    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
}
.msg-box p{
    float:left;
    font-size:16px;
}
.msg-box a .msg-more{
    float:right;
    display:inline;
    width:68px;
    height:20px;
}
.msgbox-con {
    padding: 20px 10px;
    min-height: 200px;
    border-bottom: 1px solid #a7a7a7;
}

.msgimg img {
    display: inline;
    width: 46px;
    height: 46px;
    float: left;
}

.msgimg p {
    float: left;
    margin-left: 10px;
    line-height: 46px;
    font-size: 14px;
    color: #666666;
}
.msgc {
    margin-top: 48px;
    margin-left: 56px;
    margin-right: 100px;
}
.msgc .teamcon{
    margin-top:10px;
}
.msgbox-con .cmore {
    float: right;
    padding: 8px 20px;
    margin-top: 10px;
}
.msgbox-con .cmore {
    display: inline;
    background: #3CC2FF;
    color: white;
    text-align: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

.msgbox-con .cmore:hover {
    background: #5486cb;
}



























