.judge-compe{
    width:100%;
    padding:40px 10px;
    background:#fff;
}
.judge-con{
    width:73%;
    float:left;
    margin-left:20px;
}
.judge-con table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom:50px;
}
.judge-con table thead{
    background: #CAE699;
}
.judge-con thead th{
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    text-align: center;
    color: #666666;
   padding:7px 0;
}
.judge-con tbody td{
    border-bottom: 1px solid #E3E3E3;
    text-align: center;
    padding:7px 0;
    box-sizing: border-box;
}
.judge-con tbody td:not(:last-child) {
    border-right: 1px solid #E3E3E3;
}
.judge-con tbody td a{
    display:inline-block;
}
.judge-con tbody td a.applyfor {
    padding: 5px 15px;
}

.judge-con nav{
    float:right;
    
}
.page{
    color: #a2a2a2;
    margin: 20px 0;
    display: inline-block;
    text-align: center;
    float:right;
    margin-right:40px;
    margin-top:50px;
}
.page a.prev, .page a.next {
    font-size: 14px;
    font-weight: bold;
}
.page span, .page a {
    color: #a2a2a2;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    text-decoration: none;
}
.page a:hover, .page .on{
    background-color: #2577e3;
    border-radius: 30px;
    color: #fff;
}























