.nav-tabs{
    border-bottom:none;
}
.nav-tabs>li>a{
    border:none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    border:none;
    text-decoration:none;
}
.info-lists{
    margin-right:15px;
}
 .compe-con nav{
     position:absolute;
     bottom:0;
     right:30px;
 }
 .compe-con{
     margin-top:115px;
    min-height:1000px;
    width:100%;
    position:relative;
}
.address{
     height:90px;
 }
.address p,.address .address-lists p,.address .address-lists li{
    float:left;
    cursor:pointer;
}
.address p.ads,.level p.lev,.time p.tim{
    width:5%
}
.address .address-lists .division{
    width:7%;
    margin-left:22px;
   
}
.address .address-lists .international{
    margin-left:11%;
}
.address .address-lists li{
    width:4%;
    margin-bottom:20px;
    text-align:center;
    cursor:pointer;
}
.selected{
    background:#FBB7A0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    color:white;
}
.level{
    height:50px;
}
.level p.lev,.level-lists p,.level-lists li{
    float:left;
}
.level .level-lists li:first-child{
    width:4%;
    text-align:center;
    margin-right:15px;
}
.level .level-lists li:not(:first-child){
    width:4%;
    text-align:center;
    
}
.time p.tim ,.level-lists p,.level-lists li{
    float:left;
}
.time .time-lists li{
    float:left;
}
.time .time-lists li.nolimit{
    width:4%;
    text-align:center;
    margin-right:15px;
}
.compe-con .tab{
    float:left;
    display:inline-block;
    width:60%;
    
}
.compe-con .nav
.compe-con .tab .tabt{
    width:15%;
    float:left;
    text-align:center;
    cursor:pointer;
    border-radius:10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
    -moz-border-radius:10px 10px 0 0;
}
.compe-con .time-lists .tab .tabt.active{
    border:1px solid #cacaca;
    border-bottom:1px solid white;
}
.compe-con .time-mons{
    width:67%;
    height:150px;
    float:left;
    margin-left:10%;
    margin-top:15px;
    position:relative;
}
.compe-con .time-mons .monsev{
    display:block;
}
.compe-con .time-mons .moneig{
    display:none;
}
.compe-con .time-mons .moneig li{
    border:1px dashed #666;
    cursor:pointer;
}
.compe-con .time-mons .time-mon{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
.compe-con .time-mon li{
    width:8%;
    height:58px;
    border:1px solid #a7a7a7;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    float:left;
    margin:10px;
    text-align:center;
    line-height:2;
    cursor:pointer;
}
.compe-con table{
    border-collapse: collapse;
    width:77%;
    margin-top:240px;

}
.compe-con table thead{
    background: #E3D2D2;
}
.compe-con thead th{
    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
    text-align: center;
    color: #666666;
    padding: 7px;
}
.compe-con tbody td{
    border-bottom: 1px solid #a7a7a7;
    text-align: center;
    padding: 12px;
    box-sizing: border-box;
}
.compe-con thead tr th{
    padding:10px;
    font-size:14px;
}
.compe-con tbody tr td{
    font-size:14px;
}
.compe-con tbody td:not(:last-child) {
    border-right: 1px solid #a7a7a7;
}
.compe-con tbody tr td a.sign{
    display:inline;
    padding:6px 15px;
    font-size:14px;
    background:#FFD600;
    border-radius: 20px;
    -webkit-border-radius:20px;
    -moz-border-radius: 20px;
}
.compe-con tbody tr td a.sign:hover{
    background:#a2a81f;
    color:white;
}
.compe-con nav{
    float:right;
    margin:20px;
}
.compe-con tbody tr td{
    font-size:16px;
}
.compe-con tbody tr td a.sign{
    display:inline;
    padding:6px 20px;
    font-size:16px;
    color:#666;
    background:#FFD600;
    border-radius: 20px;
    -webkit-border-radius:20px;
    -moz-border-radius: 20px;
}














