.score-con{
    width:78%;
    float:left;
    margin-left:15px;
    position:relative;
}

.pi-top{
    height:60px;
    margin-left:21%;
}
.pi-top .integral{
    font-size:36px;
    float:left;
}
.pi-top p{
    float:left;
    font-size:18px;
    line-height:51px;
    margin-left:8px;
}
.person-title{
    margin-bottom:30px;
    width:100%;
    height:30px;
    float:left;
    background:#b9b2b2;
    border-bottom:2px solid #d9d3d3;
    border-top:2px solid #d9d3d3;
}

.per-con .modifyinfo{
    padding:10px 3px;
    font-size:16px;
    color:#666;
    border-bottom:1px solid #B4BDC2;
    position:relative;

}
.per-con .modifyinfo label{
    width:13%;
    text-align:right;
    float:left;
    margin-right:30px;
        
}
.per-con .form-group{
    margin-bottom:30px;
}
.per-con .two-label{
    height:22px;
    margin-bottom:30px;
}
.per-con .two-label div{
    width:50%;
    float:left;
}
.per-con .two-label div label{
    width:26%;
}
.per-con .current-coach{
    height:22px;
    margin-bottom:30px;
}
.per-con .education{
    margin-bottom:140px;
}
.per-con .coach{
    float:left;
}
.per-con .modifycoach{
    display:inline;
    float:left;
    padding:2px 30px;
    background:#1ABC9C;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    margin-left:30px;
    color:white;
}
.education .form-con .edulists{
    width:84%;
    padding:0 8px 0 8px;
    background:#ECF0F1;
    margin-left:16%;
    position:relative;
}

.education .form-con .edulists li{
    min-height:50px;
    padding:10px 0;
    box-sizing:border-box;
}
.education .form-con .edulists li:not(:last-child){
    border-bottom:1px solid #DDDDDE;
}
.education .form-con .edulists li .addedu{
    display:inline;
    padding:5px 25px;
    font-size:16px;
    float:right;
    margin-right:8px;
    cursor:pointer;
}
.education .form-con .edulists li .editedu,.education .form-con .edulists li .deledu{
    display:inline;
    padding:5px 10px;
    color:white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;

}
.education .form-con .edulists li .editedu{
    background:#1ABC9C;
         
}
.education .form-con .edulists li .deledu{
    background:#FF5655;
    margin-left:10px;
}
.education .form-con .edulists li:not(:first-child){
    padding:20px 1px;
}
.education .form-con .edulists li p{
    float:left;
    margin-right:10px;
    text-align:left;
}
.education .form-con .edulists li p:first-child{
    width:24%;
}
.education .form-con .edulists li p:nth-child(2){
    width:13%;
}
.education .form-con .edulists li p:nth-child(3){
    width:15%;
}
.education .form-con .edulists li p:nth-child(4){
    width:26%;
}
.per-con .submit{
    padding:5px 10px;
    position:absolute;
    bottom:20px;
    right:0;
    border:none;
}
.modifypassword{
    padding:50px 30px 0 120px;
}
.modifypassword img{
    display:inline;
    float:left;
    width: 110px;
    height: 180px;
    margin-top: 40px;
}
.modifypassword .modifypanel{
    width:357px;
    height:240px;
    background:#ECF0F1;
    margin-left:180px;
    padding:30px 15px;
}
.modifypanel input{
    width:100%;
    height:40px;
    margin-bottom:30px;
    font-size:16px;
    color:#666;
    padding-left:5px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border:1px solid #eee;
}
.modifypanel input.confirmnewpassword{
    width:100%;
    height:40px;
    background:#1ABC9C;
    color:white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.fg-layer{
    border-radius: 20px;
    -webkit-border-radius:20px;
    -moz-border-radius: 20px;
}
.fg-layer-iframe{
   border-radius: 20px;
    -webkit-border-radius:20px;
    -moz-border-radius: 20px;
}
.fg-layer-title{
    border-radius: 16px 16px 0 0;
    -webkit-border-radius: 16px 16px 0 0;
    -moz-border-radius:  16px 16px 0 0;
    background:#ECF0F1;
    color:black;
    font-weight:800;
    font-size:20px;
}
.fg-layer-content{
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    background:#ECF0F1;
}
.addeducation{
    padding:15px 30px 0 30px;
    
}
.addeducation i{
    font-size:30px;
    position:absolute;
    top:-15px;
    right:-10px;
    color:#100707;
    opacity:1;
}

.addeducation h3{
    font-size:20px;
    font-weight:600;
    padding-left:10px;
}
.addeducation .form-group{
    width:90%;
    margin:60px auto 30px;
}
.addeducation .form-group select,.addeducation .form-group input{
    margin-bottom:40px;
    height:36px;
    padding-left:8px;
    font-size:14px;
    cursor:pointer;
    background:#fff;
    border:1px solid #dddcdc;
}
.addeducation .form-group em{
    color:#1ABC9C;
}
.addeducation button{
    padding:10px 90px;
    border:none;
    font-size:18px;
    box-shadow:none;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    cursor:pointer;
}
.addeducation .form-group .form-select-school{
    width:46%;
}
.addeducation .form-group .form-select-schools{
    width:28%;
}
.addeducation .form-group .form-select-schoolads{
    width:40%
}
body{
    margin:0;
}
.addeducation .form-group input:focus{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.fg-layer{
    position:absolute;
    z-index:-1;
}
.fg-layer .layui-laydate{
    position:absolute;
    z-index:99;
}

.info-lists .panel:nth-child(3) .panel-body ul a:nth-child(2) li{
    background:#F0F0F0;
    color:#5DC1ED;
}
.fg-layer-iframe iframe{
    position:relative;
}
fg-layer-iframe{
    z-index:1 !important;
}
.layui-laydate{
    position:absolute;
    z-index:19891099 !important;
}
.layui-laydate-content{
    padding:0 !important;
}

input[type=text]{
    border:1px solid #c6bfbf;
    height:30px;
    padding-left:5px;
}
label{
    line-height:30px;
}
.form-group p{
    line-height:30px;
}



