
.person-title{
    margin-top:20px;
    margin-bottom:30px;
    width:100%;
    height:30px;
    float:left;
    background:#b9b2b2;
    border-bottom:2px solid #d9d3d3;
    border-top:2px solid #d9d3d3;
}
.per-con .modifyinfo{
    padding:10px 3px;
    font-size:16px;
    color:#666;
    border-bottom:1px solid #B4BDC2;
    position:relative;
}
.per-con .modifyinfo label{
    width:13%;
    text-align:right;
    float:left;
    margin-right:30px;
        
}
.per-con .form-group{
    margin-bottom:30px;
}
.per-con .two-label{
    height:22px;
    margin-bottom:30px;
}
.per-con .two-label div{
    width:50%;
    float:left;
}
.per-con .two-label div label{
    width:26%;
}
.per-con .current-coach{
    height:22px;
    margin-bottom:30px;
}
.per-con .education{
    margin-bottom:140px;
}
.per-con .coach{
    float:left;
}
.per-con .modifycoach{
    display:inline;
    float:left;
    padding:2px 30px;
    background:#1ABC9C;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    margin-left:30px;
    color:white;
}
.education .form-con .edulists{
    width:84%;
    padding:0 8px 0 8px;
    background:#ECF0F1;
    margin-left:16%;
    position:relative;
}

.education .form-con .edulists li{
    min-height:50px;
    padding:10px 0;
    box-sizing:border-box;
}
.education .form-con .edulists li:not(:last-child){
    border-bottom:1px solid #DDDDDE;
}
.education .form-con .edulists li .addedu{
    display:inline;
    padding:5px 30px;
    font-size:16px;
    float:right;
    background:#1ABC9C;
    color:white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    margin-right:10px;
    cursor:pointer;
}
.education .form-con .edulists li .editedu,.education .form-con .edulists li .deledu{
    display:inline;
    padding:5px 10px;
    color:white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;

}
.education .form-con .edulists li .editedu{
    background:#1ABC9C;
         
}
.education .form-con .edulists li .deledu{
    background:#FF5655;
    margin-left:10px;
}
.education .form-con .edulists li:not(:first-child){
    padding:20px 1px;
}
.education .form-con .edulists li p{
    float:left;
    margin-right:10px;
    text-align:left;
}
.education .form-con .edulists li p:first-child{
    width:24%;
}
.education .form-con .edulists li p:nth-child(2){
    width:13%;
}
.education .form-con .edulists li p:nth-child(3){
    width:15%;
}
.education .form-con .edulists li p:nth-child(4){
    width:26%;
}
.per-con .submit{
    width:260px;
    height:55px;
    background:#4E5D66;
    color:white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    text-align:center;
    line-height:55px;
    margin-left:16%;
    position:absolute;
    bottom:20px;
    left:0;
}
.modifypassword{
    padding:50px 30px 0 120px;;
}
.modifypassword img{
    display:inline;
    float:left;
}
.modifypassword .modifypanel{
    width:357px;
    height:240px;
    background:#ECF0F1;
    margin-left:180px;
    padding:30px 15px;
}
.modifypanel input{
    width:100%;
    height:40px;
    margin-bottom:30px;
    font-size:16px;
    color:#666;
    padding-left:5px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border:1px solid #eee;
}
.modifypanel input.confirmnewpassword{
    width:100%;
    height:40px;
    background:#1ABC9C;
    color:white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.fg-layer{
    border-radius: 20px;
    -webkit-border-radius:20px;
    -moz-border-radius: 20px;
}
fg-layer-iframe{
   border-radius: 20px;
    -webkit-border-radius:20px;
    -moz-border-radius: 20px;
}
.fg-layer-title{
    border-radius: 16px 16px 0 0;
    -webkit-border-radius: 16px 16px 0 0;
    -moz-border-radius:  16px 16px 0 0;
    background:#ECF0F1;
    color:black;
    font-weight:800;
    font-size:20px;
}
.fg-layer-content{
    border-radius: 0 0 16px 16px ;
    -webkit-border-radius: 0 0 16px 16px ;
    -moz-border-radius:  0 0 16px 16px ;
    background:#ECF0F1;
}

.addeducation i{
    font-size:30px;
    position:absolute;
    top:-15px;
    right:-10px;
    color:#100707;
    opacity:1;
}

.addeducation h3{
    font-size:20px;
    font-weight:600;
    padding-left:10px;
}
.addeducation .form-group{
    width:90%;
    margin:90px auto;
}
.addeducation .form-group select,.addeducation .form-group input{
    margin-bottom:30px;
    background:#1ABC9C;
    height:46px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    color:white;
    padding-left:8px;
    border:none;
    font-size:20px;
}
.addeducation .form-group em{
    color:#1ABC9C;
}
.addeducation button{
    width:100%;
    height:50px;
    color:white;
    background:#1ABC9C;
    text-align:center;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border:none;
    box-shadow:none;
    position:absolute;
    bottom:0;
    left:0;
    cursor:pointer;
}
.addeducation .form-group .form-select-school{
    width:46%;
}
.addeducation .form-group .form-select-schools{
    width:28%;
}
.addeducation .form-group .form-select-schoolads{
    width:40%
}
body{
    margin:0;
}
.addeducation .form-group input:focus{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}