.gameclass {
    float: left;
}

.set {
    float: right;
    margin-top: 0;
}

.game {
    display: inline-block;
    padding: 6px 35px;
    float: left;
    margin-right: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: linear-gradient(to bottom,#DCF0FF,#CCE8FF);
    color: #336699;
    font-size: 18px;
    border: 1px solid #D7E1EA;
    font-weight: 600;
}

    .game.viewed {
        background: #E6ECF0;
        color: white;
    }

table td.remark {
    color: #996633;
}

.map {
    width: 100%;
    margin-top: 100px;
    overflow-x: scroll;
    position: relative;
}
/* 设置滚动条的样式 */
.map::-webkit-scrollbar {
    width: 6px;
    height:2px;
}
/* 滚动槽 */
.map::-webkit-scrollbar-track {
    -webkit-box-shadow: inset006pxrgba(0,0,0,0.3);
    border-radius: 10px;
}
/* 滚动条滑块 */
.map::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    -webkit-box-shadow: inset006pxrgba(0,0,0,0.5);
}

.map::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}

.mapone {
    height: 300px;
}

.vs {
    font-size: 36px;
    position: absolute;
    left: 400px;
    top: 50%;
    z-index:99;
    transform: translateY(-50%);
}

.mline {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-top: 1px solid #B6BCC0;
    position: absolute;
}


.lineright {
    top: 50%;
    left: 430px;
}

.lineleft {
    top: 50%;
    left: 260px;
}
.win {
    display: inline-block;
    width: 100px;
    font-size: 14px;
    border: 1px solid #B6BCC0;
    background: #F5F8FA;
    position: absolute;
    text-align: center;
    line-height: 40px;
    word-break:break-all;
}

.wtop {
    top: -20px;
}

.wleft {
    left: 0;
}

.wright {
    right: 0;
}



























