@using nsda.Utilities
@{
    Layout = "";
}
<html>
<head>
    <link rel="stylesheet" href="/asset/css/playerpersonal.css?version=@Constant.Version">
</head>
<body>
        <div class="addeducation" id="addeducation">
        <div class="form-group">
            <input class="form-select-school" id="startdate">
            <em class="em"> —</em>
            <input class="form-select-school" id="enddate">
            <select class="form-select-schools" id="provinceId">
                <option value="0">省</option>
            </select>
            <select class="form-select-schools" id="cityId">
                <option value="0">市</option>
            </select>
            <select class="form-select-schoolads" id="schoolId">
                <option value="0">学校</option>
            </select>
        </div>
        <button class="confirmadd" id="confirmadd">保存</button>
    </div>
        <script src="/asset/js/jquery-3.2.1.min.js"></script>
        <script src="/asset/js/laydate/laydate.js"></script>
        <script src="/asset/layer/js/layer.js"></script>
        <script src="/asset/js/pcs.js"></script>
        <script>
            laydate.render({
                elem: '#startdate',
                type: 'month'
            });
            laydate.render({
                elem: '#enddate',
                type: 'month'
            });

            $("#confirmadd").click(function () {
                var $startdate = $("#startdate").val();
                if ($startdate == null) {
                    layer.msg('请输入起始年月', { icon: 5, time: 1000 });
                    return;
                }
                var $enddate = $("#enddate").val();
                var $schoolId = $("#schoolId").val();
                if ($schoolId == null || $schoolId==0) {
                    layer.msg('请选择学校', { icon: 5, time: 1000 });
                    return;
                }
                $.ajax({
                    url: "/player/player/insertedu",
                    type: "post",
                    dataType: "json",
                    data: {
                        StartDate: $startdate,
                        EndDate: $enddate,
                        SchoolId: $schoolId
                    },
                    beforeSend: function () {
                        layer.msg('添加教育经历中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                    },
                    success: function (json) {
                        layer.closeAll();
                        if (json.flag) {
                            parent.layer.closeAll();
                        }
                        else {
                            layer.msg(json.msg, { icon: 5, time: 1000 });
                        }
                    }
                  , error: function () {
                      layer.closeAll();
                  }
                });
            });


            $(document).ready(function () {
                $.province(0);
                $("#provinceId").change(function () {
                    $.city(0,0);
                    $.school(0,0);
                });

                $("#cityId").change(function () {
                    $.school(0,0);
                });
            });
        </script>
</body>
</html>