@using nsda.Utilities
@{
    ViewBag.Title = "会员资料";
    Layout = "~/Areas/player/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link rel="stylesheet" href="/asset/css/playerintegral.css?version=@Constant.Version">
    <link rel="stylesheet" href="/asset/css/playerpersonal.css?version=@Constant.Version">
    <link rel="stylesheet" href="/asset/css/playersource.css?version=@Constant.Version">
}
<div class="score-con">
    <div class="score-top">
        <img class="integral" src="/asset/img/msour_03.png" alt="...">
        <p class="scorecheck">会员资源</p>
    </div>
    <ul class="source-lists" id="data">
    </ul>
    <nav aria-label="Page navigation" id="pager">
    </nav>
</div>

@section scripts
{
    <script src="/asset/js/common.js?version=@Constant.Version"></script>
    <script src="/asset/js/pager.js"></script>
    <script src="/asset/js/enumreplace.js"></script>
    <script>
        (function (w) {
            var playerdatasource = {
                param: {
                    TotalPage: 1,
                    PageIndex: 1,
                    PageSize: 10,
                }
            };
            playerdatasource.Load = function (filter) {
                $.ajax({
                    url: "/player/player/datasourcelist",
                    type: "get",
                    dataType: "json",
                    data: filter,
                    success: function (json) {
                        if (json.records > 0) {
                            var _pager = new w.pager({
                                'parent': $('#pager')
                            });
                            playerdatasource.param.TotalPage = json.total;
                            _pager.init(filter, playerdatasource.param.PageIndex, playerdatasource.param.TotalPage, function (p) {
                                playerdatasource.param.PageIndex = p;
                                playerdatasource.Load(playerdatasource.param)
                            });                            var html = '';
                            $.each(json.rows, function (k, val) {
                                html += '<li> <img src="' + enumreplace.replaceFileType(val.FileType) + '" alt="" />';
                                html += ' <span class="source-content">'
                                html += ' <h4>'+val.Title+'</h4>';
                                html += ' <p>发布时间：' + parseDate(new Date(val.CreateTime), "yyyy/MM/dd").format + '</p>';
                                html += '</span>';
                                html += '<a href=' + val.FilePath + '  download=""><img src="/asset/img/source_06.png" alt="" /></a>';
                                html += '</li>';
                            });
                            $("#data").html(html)
                        } else {
                            $("#data").html('');
                            $("#pager").html("")
                        }
                    }
                })
            };
            w.playerdatasource = playerdatasource
        })(window);
        playerdatasource.Load(playerdatasource.param);
    </script>
}