@using nsda.Utilities
@{
    ViewBag.Title = "修改个人资料";
    Layout = "~/Areas/player/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <link rel="stylesheet" href="/asset/css/playerintegral.css?version=@Constant.Version">
    <link rel="stylesheet" href="/asset/css/playerpersonal.css?version=@Constant.Version">
}
<div class="score-con">
    <div class="score-top">
        <img class="integral" src="/asset/img/score_03.jpg" alt="...">
        <p class="scorecheck">修改个人资料</p>
    </div>
    <div class="per-con">
        <div class="person-title"></div>
        <form action="" method="post" class="modifyinfo">
            <div class="form-group">
                <label>注册邮箱</label>
                <div class="form-con"><p>admin@enreachedu.com</p></div>
            </div>
            <div class="form-group">
                <label for="phone">联系电话</label>
                <div class="form-con">
                    <input type="text" id="phone">
                </div>
            </div>
            <div class="form-group two-label">
                <div>
                    <label for="emrcontact">紧急联系人</label>
                    <div class="form-con">
                        <input type="text" id="emrcontact">
                    </div>
                </div>
                <div>
                    <label for="emrphone">紧急电话</label>
                    <div class="form-con">
                        <input type="text" id="emrphone">
                    </div>
                </div>
            </div>
            <div class="form-group current-coach">
                <label>目前教练</label>
                <div class="form-con"><p class="coach">Eric</p>@*<a href="javascript:;" class="modifycoach">修改</a>*@</div>
            </div>
            <div class="form-group education">
                <label>教育经历</label>
                <div class="form-con">
                    <ul class="edulists">
                        <li>
                            <span class="addedu" id="addedu">添加</span>
                        </li>
                        <li>
                            <p>1999 / 09 - 2001 / 07</p>
                            <p>上海</p>
                            <p>上海</p>
                            <p>西南位育中学国际部</p>
                            <a href="#" class="editedu">编辑</a>
                            <a href="#" class="deledu">删除</a>
                        </li>
                        <li>
                            <p>1999 / 09 - 2001 / 07</p>
                            <p>上海</p>
                            <p>上海</p>
                            <p>西南位育中学国际部</p>
                            <a href="#" class="editedu">编辑</a>
                            <a href="#" class="deledu">删除</a>
                        </li>
                        <li>
                            <p>1999 / 09 - 2001 / 07</p>
                            <p>上海</p>
                            <p>上海</p>
                            <p>西南位育中学国际部</p>
                            <a href="#" class="editedu">编辑</a>
                            <a href="#" class="deledu">删除</a>
                        </li>
                        <li>
                            <p>1999 / 09 - 2001 / 07</p>
                            <p>上海</p>
                            <p>上海</p>
                            <p>西南位育中学国际部</p>
                            <a href="#" class="editedu">编辑</a>
                            <a href="#" class="deledu">删除</a>
                        </li>
                    </ul>
                    <div class="addeducation" id="addeducation">
                        <h3>添加教育经历</h3>
                        <a href="#" class="close" id="close"><i class="iconfont icon-close-b"></i></a>
                        <div class="form-group">
                            <select class="form-select-school" id="school1">
                                <option>年</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <select class="form-select-school" id="school2">
                                <option>月</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <em class="em"> —</em>
                            <select class="form-select-school" id="school3">
                                <option>年</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <select class="form-select-school" id="school4">
                                <option>月</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <select class="form-select-schools" id="school5">
                                <option>省</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <select class="form-select-schools" id="school6">
                                <option>市</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                            <select class="form-select-schoolads" id="school7">
                                <option>学校</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <button class="confirmadd" id="confirmadd">添加</button>
                    </div>
                </div>
            </div>
            <input type="button" value="修改个人资料" class="submit" id="modifyinfo">
        </form>
        <div class="modifypassword">
            <img src="/asset/img/password_03.jpg" alt="" />
            <div class="modifypanel">
                <form action="" method="post">
                    <input type="password" id="newpwd" placeholder="输入新密码">
                    <input type="password" id="againpwd" placeholder="再次输入新密码">
                    <input type="button" value="确认新密码" class="confirmnewpassword" id="modifypwd">
                </form>
            </div>
        </div>
    </div>
</div>@section scripts
{
    <script src="~/asset/layer/js/layer.js"></script>
    <script src="/asset/js/validate.js?version=@Constant.Version"></script>
    <script src="/asset/js/info.js?version=@Constant.Version"></script>
    <script>
        $("#modifypwd").click(function () {
            $.ajax({
                url: "/commondata/editpwd",
                type: "post",
                dataType: "json",
                data: {
                    pwd: $newpwd.val(),
                },
                beforeSend: function () {
                    layer.msg('修改密码中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                },
                success: function (json) {
                    layer.closeAll();
                    if (json.flag) {
                        layer.msg("修改成功", { icon: 1, time: 1000 });
                    }
                    else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                }
                , error: function () {
                    layer.closeAll();
                }
            });
        });

        $("#modifyinfo").click(function () {
            $.ajax({
                url: "/player/player/edit",
                type: "post",
                dataType: "json",
                data: {
                    
                },
                beforeSend: function () {
                    layer.msg('修改个人资料中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                },
                success: function (json) {
                    layer.closeAll();
                    if (json.flag) {
                        layer.msg("修改成功", { icon: 1, time: 1000 });
                    }
                    else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                }
                , error: function () {
                    layer.closeAll();
                }
            });

        });

        $(document).ready(function () { renderedu();});

        function renderedu()
        {

        }

        $("#deledu").click(function () {
            $.ajax({
                url: "/player/player/edit",
                type: "post",
                dataType: "json",
                data: {

                },
                beforeSend: function () {
                    layer.msg('修改个人资料中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                },
                success: function (json) {
                    layer.closeAll();
                    if (json.flag) {
                        renderedu();
                    }
                    else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                }
                , error: function () {
                    layer.closeAll();
                }
            });
        });
    </script>
}
