@using nsda.Model.dto.response
@model EventResponse
<div class="managelists">
    <div class="bigbox">
        <div class="list"><label><input type="checkbox" name="name" value="" /></label><a href="/eventmanage/eventmanage/cyclingsetting/@Model.Id"><p>比赛规则设置</p></a></div>
        <div class="list"><label><input type="checkbox" name="name" value="" /></label><a href="/eventmanage/eventmanage/playersignup/@Model.Id"><p>选手报名管理</p></a></div>
        <div class="list"><label><input type="checkbox" name="name" value="" /></label><a href="/eventmanage/eventmanage/refereesignup/@Model.Id"><p>裁判报名管理</p></a></div>
        <div class="list"><label><input type="checkbox" name="name" value="" /></label><a href="/eventmanage/eventmanage/room/@Model.Id"><p>Room管理</p></a></div>
        <div class="hidebox">
            <div class="list"><label><input type="checkbox" name="name" value="" /></label><a href="/eventmanage/eventmanage/playersign?eventId=@Model.Id&eventGroupId=0"><p>选手签到管理</p></a></div>
            <div class="list"><label><input type="checkbox" name="name" value="" /></label><a href="/eventmanage/eventmanage/refereesign/@Model.Id"><p>裁判签到管理</p></a></div>
        </div>
        <div class="list clbtn">
            <a href="javascript:;" class="clickbtn clickready radius5"><p>准备好了吗？</p><h4>点击开始比赛当日操作</h4></a>
            <a href="/eventmanage/eventmanage/execmatch?eventId=@Model.Id&eventGroupId=0" class="clickbtn clickstart radius5"><p>开始比赛</p><h4>点击开始执行对垒</h4></a>
        </div>
        

        <div class="hidebox">
            <div class="list"><label><input type="checkbox" name="name" value="" /></label><a href="/eventmanage/eventmanage/track?eventId=@Model.Id&eventGroupId=0"><p>Track 查询</p></a></div>
            <div class="list"><label><input type="checkbox" name="name" value="" /></label><a href="/eventmanage/eventmanage/resulttrackcycling?eventId=@Model.Id&eventGroupId=0"><p>赛果查询</p></a></div>
            <div class="list"><label><input type="checkbox" name="name" value="" /></label><a href="/eventmanage/eventmanage/prize?eventId=@Model.Id&eventGroupId=0"><p>奖项设置</p></a></div>
            <div class="list"><label><input type="checkbox" name="name" value="" /></label><a href="/eventmanage/eventmanage/winnerlist?eventId=@Model.Id&eventGroupId=0"><p>获奖名单</p></a></div>
        </div>
        
    </div>
</div>


















