@model nsda.Model.dto.response.EventResponse
@{
    Layout = "";
}
<div class="managelists">
    <ul>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="javascript:;"><p>比赛规则设置</p></a></li>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/eventmanage/eventmanage/playersignup/@Model.Id"><p>选手报名管理</p></a></li>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/eventmanage/eventmanage/refereesignup/@Model.Id"><p>裁判报名管理</p></a></li>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="javascript:;"><p>Room管理</p></a></li>
        <a href="javascript:;" class="clickready"><p>准备好了吗？</p><h4>点击开始比赛当日操作</h4></a>
    </ul>
</div>
