@using nsda.Utilities
@{
    Layout = "";
}
<html>
<head>
    <link rel="stylesheet" href="/asset/css/eventmanage/prize.css?version=@Constant.Version">
    <link href="/asset/css/common/common.css?version=@Constant.Version" rel="stylesheet" />
</head>
<body>
    <input type="hidden" id="eventGroupId" value="@Request["eventGroupId"]" />
    <input type="hidden" id="eventId" value="@Request["eventId"]"/>
    <div class="modiroom add">
        <h4>添加自定义奖项</h4>
        <span></span>
        <div class="form-group roomname">
            <label for="prizename"></label>
            <input type="text" id="prizename" class="radius5" value="" placeholder="输入奖项名称" />
        </div>
        <div class="form-group roomclass">
            <label for="prizeType"></label>
            <select id="prizeType" class="radius5 color-79">
                <option value="0">选择 奖项类型</option>               
                <option value="1">个人</option>
                <option value="2">团队</option>
            </select>
        </div>
        <div class="form-group inputteam">
            <textarea placeholder="输入队伍编号/个人编号" class="radius5" id="num"></textarea>
        </div>
        <button id="save" class="radius5 darkblue color-white">保存</button>
    </div>

    <script src="/asset/js/jquery.min.js"></script>
    <script src="/asset/layer/js/layer.js"></script>
    <script>
        $("#save").click(function () {
            var $prizename = $("#prizename").val();
            if ($prizename==""||$prizename == null) {
                layer.msg('请输入奖项名称', { icon: 5, time: 1000 });
                return;
            }
            var $prizeType = $("#prizeType").val();
            if ($prizeType == null || $prizeType == 0) {
                layer.msg('请输入奖项类型', { icon: 5, time: 1000 });
                return;
            }
            var $num = $("#num").val();
            if ($num == null || $num == 0) {
                layer.msg('请输入队伍编号/个人编号', { icon: 5, time: 1000 });
                return;
            }
            $.ajax({
                url: "/eventmanage/eventmanage/insertprize",
                type: "post",
                dataType: "json",
                data: {
                    EventId: $("#eventId").val(),
                    EventGroupId: $("#eventGroupId").val(),
                    PrizeType: $prizeType,
                    Name: $prizename,
                    Num: $num
                },
                beforeSend: function () {
                    layer.msg('添加奖项中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                },
                success: function (json) {
                    layer.closeAll();
                    if (json.flag) {
                        parent.layer.closeAll();
                    }
                    else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                }
              , error: function () {
                  layer.closeAll();
              }
            });
        });
    </script>
</body>
</html>