@using nsda.Utilities
@using nsda.Model.dto.response
@model EventResponse
@{
    Layout = "~/Areas/eventmanage/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "发起赛事";
}

@section styles
{
    <link rel="stylesheet" href="/asset/css/eventmanagelists.css?version=@Constant.Version">
<link href="/asset/css/common.css?version=@Constant.Version" rel="stylesheet" />
}
<div class="container event-lists">
    <div class="classcheck">
        <img src="/asset/img/sinfo_03.png" alt="" />
        <div class="class">
            <div class="group">
                <div class="group-item">
                    <p>按组别查看：</p><a href="javascript:;" class="selected">不限</a>
                </div>
                <div class="group-con">
                    <a href="javascript:;" class="eventgroup">新手组</a>
                    <a href="javascript:;" class="eventgroup">公开组</a>
                    <a href="javascript:;" class="eventgroup">国际高中组</a>
                    <a href="javascript:;" class="eventgroup">国际新手组</a>
                </div>
            </div>
            <div class="group">
                <div class="group-item">
                    <p>按状态查看：</p><a href="javascript:;" class="selected">不限</a>
                </div>
                <div class="group-con">
                    <a href="javascript:;"  class="playersign" data-status="1">未确认组队</a>
                    <a href="javascript:;"  class="playersign" data-status="2">等待付款</a>
                    <a href="javascript:;"  class="playersign" data-status="4">报名成功</a>
                    <a href="javascript:;"  class="playersign" data-status="6">已退赛</a>
                </div>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>组队编号</th>
                <th>NSDA会员编号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>联系电话</th>
                <th>年级</th>
                <th>学校</th>
                <th>学校所在城市</th>
                <th>报名组别</th>
                <th>状态</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="data">
        </tbody>
    </table>
    <nav aria-label="Page navigation" id="pager">
    </nav>
</div>
@section scripts
{
   <script src="/asset/js/pager.js?version=@Constant.Version"></script>
   <script src="/asset/js/enumreplace.js?version=@Constant.Version"></script>
    <script>
        function foreach(data,groupNum) {
            var reval = new Array();
            if (data != null) {
                $(data).each(function (i, v) {
                    if (v.GroupNum == groupNum) {
                        reval.push(v);
                    }
                });
            }
            return reval.length;
        }
        (function (w) {
            var eventplayerlist = {
                param: {
                    TotalPage: 1,
                    PageIndex: 1,
                    PageSize: 10,
                    EventId:@Model.Id,
                    EventGroupId:0,
                    SignUpStatus:0
                }
            };
            eventplayerlist.Load = function (filter) {
                $.ajax({
                    url: "/eventmanage/eventmanage/listplayersignup",
                    type: "get",
                    dataType: "json",
                    data: filter,
                    success: function (json) {
                        if (json.records > 0) {
                            var _pager = new w.pager({
                                'parent': $('#pager')
                            });
                            eventplayerlist.param.TotalPage = json.total;
                            _pager.init(filter, eventplayerlist.param.PageIndex, eventplayerlist.param.TotalPage, function (p) {
                                eventplayerlist.param.PageIndex = p;
                                eventplayerlist.Load(eventplayerlist.param)
                            });
                            var html = '';
                            var groupNum = "";
                            var flag = 0;
                            var rowspan = 1;
                            $.each(json.rows, function (k, val) {
                                if (groupNum != val.GroupNum)
                                {
                                    groupNum = val.GroupNum;
                                    flag = 1;
                                    rowspan = foreach(json.rows,groupNum);
                                }
                                else
                                {
                                    flag = 0;
                                }

                                html+='<tr>';
                                if (flag == 1)
                                {
                                    html += '<td rowspan='+ rowspan + '>' + val.GroupNum + '</td>';
                                }
                                html+='<td>'+val.MemberCode+'</td>';
                                html+='<td>'+val.MemberName+'</td>';
                                html+='<td>'+enumreplace.replaceGender(val.Gender)+'</td>';
                                html+='<td>'+val.ContactMobile+'</td>';
                                html+='<td>'+enumreplace.replaceGrade(val.Grade)+'</td>';
                                html+='<td>'+val.SchoolName+'</td>';
                                html+='<td>'+val.CityName+'</td>';
                                html+='<td>'+val.EventGroupName+'</td>';
                                html+='<td>'+enumreplace.replacesignUpStatus(val.SignUpStatus)+'</td>';
                                html+='</tr>';
                             });
                            $("#data").html(html)
                        } else {
                            $("#data").html('');
                            $("#pager").html("")
                        }
                    }
                })
            };
            w.eventplayerlist = eventplayerlist
        })(window);
        eventplayerlist.Load(eventplayerlist.param);
    </script>
}
