@using nsda.Utilities
@using nsda.Model.dto.response
@model EventResponse
@{
    Layout = "~/Areas/eventmanage/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "淘汰赛设置";
    var eventGroup = ViewBag.EventGroup as List<EventGroupResponse>;
}

@section styles
{
    <link rel="stylesheet" href="/asset/css/eventmanage/eventmanageplayer.css?version=@Constant.Version">
    <link href="/asset/css/eventmanage/eventmanageround.css?version=@Constant.Version" rel="stylesheet" type="text/css" /> 
    <link href="/asset/css/eventmanage/eventmanageknockout.css?version=@Constant.Version" rel="stylesheet" type="text/css" />
    <link href="/asset/css/common/common.css?version=@Constant.Version" rel="stylesheet" />
}
@Html.Partial("_left")
<div class="event-lists">
    <div class="list-top">
        <a href="/eventmanage/eventmanage/cyclingsetting/@Model.Id" class="list box-sizing">循环赛规则设置</a>
        <a href="javascript:;" class="active box-sizing list">淘汰赛规则设置</a>
    </div>
    <div class="roundset">
        <h3>淘汰赛规则设置</h3>
        @foreach (var item in eventGroup)
        {
            <div class="newround">
                <h4>@item.Name 淘汰赛规则设置<span><i></i></span></h4>

                <div class="form-group range">
                    <label>晋级队伍数：</label>
                    <input type="number" class="radius5" placeholder="输入数值" id="teamnum_@item.Id"/>
                    <a href="javascript:;" class="confirm" data-id="@item.Id">确认</a>
                    <p>* 建议填写为2的平方数，例如：4、8、16、32、64。最大数值不得超过64。</p>
                </div>

                <div class="roundone">
                    <ul class="teamclass">
                        @*<li>
                            <label class="comname">Partial :</label>
                            <select class="rset radius5">
                                <option value="1">随机配对 Perset round</option>
                                <option value="2">高低配对 High-Low Power Macth</option>
                                <option value="3">相等配对 High-High Powe</option>
                            </select>
                            <input type="checkbox" class="radius5" checked />
                            <label>Double Flight</label>
                            <label>Flight A:</label>
                            <input type="text" class="settime radius5" placeholder="输入比赛时间" readonly />

                            <label>Flight B:</label>
                            <input type="text" class="settime radius5" placeholder="输入比赛时间" readonly />
                        </li>
                        <li>
                            <label class="comname">Triple Octafinals :</label>
                            <select class="rset radius5">
                                <option value="1">随机配对 Perset round</option>
                                <option value="2">高低配对 High-Low Power Macth</option>
                                <option value="3">相等配对 High-High Powe</option>
                            </select>
                            <input type="checkbox" checked />
                            <label>Double Flight</label>
                            <label>Flight A:</label>
                            <input type="text" class="settime radius5" placeholder="输入比赛时间" readonly />
                            <label>Flight B:</label>
                            <input type="text" class="settime radius5" placeholder="输入比赛时间" readonly />
                        </li>
                        <li>
                            <label class="comname">Double Octafinals :</label>
                            <select class="rset radius5">
                                <option value="1">随机配对 Perset round</option>
                                <option value="2">高低配对 High-Low Power Macth</option>
                                <option value="3">相等配对 High-High Powe</option>
                            </select>
                            <input type="checkbox" checked />
                            <label>Double Flight</label>
                            <label>Flight A:</label>
                            <input type="text" class="settime radius5" placeholder="输入比赛时间" readonly />
                            <label>Flight B:</label>
                            <input type="text" class="settime radius5" placeholder="输入比赛时间" readonly />
                        </li>
                        <li>
                            <label class="comname">Octafinals :</label>
                            <select class="rset radius5">
                                <option value="1">随机配对 Perset round</option>
                                <option value="2">高低配对 High-Low Power Macth</option>
                                <option value="3">相等配对 High-High Powe</option>
                            </select>
                            <input type="checkbox" checked />
                            <label>Double Flight</label>
                            <label>Flight A:</label>
                            <input type="text" class="settime radius5" placeholder="输入比赛时间" readonly />
                            <label>Flight B:</label>
                            <input type="text" class="settime radius5" placeholder="输入比赛时间" readonly />
                        </li>
                        <li>
                            <label class="comname">Quarterfinals :</label>
                            <select class="rset radius5">
                                <option value="1">随机配对 Perset round</option>
                                <option value="2">高低配对 High-Low Power Macth</option>
                                <option value="3">相等配对 High-High Powe</option>
                            </select>
                            <input type="checkbox" checked />
                            <label>Double Flight</label>
                            <label>Flight A:</label>
                            <input type="text" class="settime" placeholder="输入比赛时间" readonly />
                            <label>Flight B:</label>
                            <input type="text" class="settime" placeholder="输入比赛时间" readonly />
                        </li>
                        <li>
                            <label class="comname">Semifinals :</label>
                            <select class="rset radius5">
                                <option value="1">随机配对 Perset round</option>
                                <option value="2">高低配对 High-Low Power Macth</option>
                                <option value="3">相等配对 High-High Powe</option>
                            </select>
                            <input type="checkbox" checked />
                            <label>Double Flight</label>
                            <label>Flight A:</label>
                            <input type="text" class="settime radius5" placeholder="输入比赛时间" readonly />
                            <label>Flight B:</label>
                            <input type="text" class="settime radius5" placeholder="输入比赛时间" readonly />
                        </li>
                        <li>
                            <label class="comname">Finals :</label>
                            <select class="rset radius5">
                                <option value="1">随机配对 Perset round</option>
                                <option value="2">高低配对 High-Low Power Macth</option>
                                <option value="3">相等配对 High-High Powe</option>
                            </select>
                            <input type="checkbox" checked />
                            <label>Double Flight</label>
                            <label>Flight A:</label>
                            <input type="text" class="settime radius5" placeholder="输入比赛时间" readonly />
                            <label>Flight B:</label>
                            <input type="text" class="settime radius5" placeholder="输入比赛时间" readonly />
                        </li>*@
                    </ul>
                </div>
            </div>

        }
        <button class="confirmset darkblue radius5 color-white" style="margin-top:10px;" id="save">确认保存淘汰赛设置</button>
    </div>
</div>
@section scripts
{
    <script src="/asset/js/slide.js?version=@Constant.Version"></script>
    <script src="/asset/js/laydate/laydate.js"></script>
    <script> 
        $(function () {
            $(".clickready").click(function () {
                slide();

            });
        });

        var li = '<li>';

        var html = '<select class="rset radius5">';
        html += '<option value="1">随机配对 Perset round</option>';
        html += '<option value="2">高低配对 High-Low Power Macth</option>';
        html += '<option value="3">相等配对 High-High Powe</option>';
        html += '</select>';
        html += '<input type="checkbox" class="double" />';
        html += '<label>Double Flight</label>';
        html += '<label>Flight A:</label>';
        html += '<input type="text" class="settime radius5" placeholder="输入比赛时间" readonly />';
        html += '</li>';
        
        var flightb = '<label>Flight B:</label><input type="text" class="settime radius5" placeholder="输入比赛时间" readonly />'

        $(".confirm").click(function () {
            var teamNum = $("#teamnum_" + $(this).attr("data-id")).val();
            if (parseInt(teamNum) < 2 || parseInt(teamNum) > 64) {
                layer.msg('晋级队伍数有误', { icon: 5, time: 1000 });
                return;
            }
            if (teamNum == 2) {
                $(this).parent().siblings(".roundone").children(".teamclass").empty().append(li+'<label class="comname">Finals :</label>'+html)
            }
            if (teamNum == 4) {
                $(this).parent().siblings(".roundone").children(".teamclass").empty().append(li + '<label class="comname">Semifinals :</label>' + html + '<li><label class="comname">Finals :</label>' + html)
            }
            if (teamNum == 8) {
                $(this).parent().siblings(".roundone").children(".teamclass").empty().append(li + '<label class="comname">Quarterfinals :</label>' + html + '<li><label class="comname">Semifinals :</label>' + html + '<li><label class="comname">Finals :</label>' + html)
            }
            if (teamNum == 16) {
                $(this).parent().siblings(".roundone").children(".teamclass").empty().append(li + '<label class="comname">Octafinals :</label>' + html + li + '<label class="comname">Quarterfinals :</label>' + html + li + '<label class="comname">Semifinals :</label>' + html + li + '<label class="comname">Finals :</label>' + html)
            }
            if (teamNum == 32) {
                $(this).parent().siblings(".roundone").children(".teamclass").empty().append(li + '<label class="comname">Double Octafinals :</label>' + html + li + '<label class="comname">Octafinals :</label>' + html + li + '<label class="comname">Quarterfinals :</label>' + html + li + '<label class="comname">Semifinals :</label>' + html + li + '<label class="comname">Finals :</label>' + html)
            }
            if (teamNum == 64) {
                $(this).parent().siblings(".roundone").children(".teamclass").empty().append(li + '<label class="comname">Triple Octafinals :</label>' + html + li + '<label class="comname">Double Octafinals :</label>' + html + li + '<label class="comname">Octafinals :</label>' + html + li + '<label class="comname">Quarterfinals :</label>' + html + li + '<label class="comname">Semifinals :</label>' + html + li + '<label class="comname">Finals :</label>' + html)
            }
            if (teamNum >2 && teamNum < 4) {
                $(this).parent().siblings(".roundone").children(".teamclass").empty().append(li + '<label class="comname">Partial :</label>' + html + li + '<label class="comname">Finals :</label>' + html)
            }
            if (teamNum > 4 && teamNum < 8) {
                $(this).parent().siblings(".roundone").children(".teamclass").empty().append(li + '<label class="comname">Partial :</label>' + html + li + '<label class="comname">Semifinals :</label>' + html + li + '<label class="comname">Finals :</label>' + html)
            }
            if (teamNum > 8 && teamNum < 16) {
                $(this).parent().siblings(".roundone").children(".teamclass").empty().append(li + '<label class="comname">Partial :</label>' + html + li + '<label class="comname">Quarterfinals :</label>' + html + li + '<label class="comname">Semifinals :</label>' + html + li + '<label class="comname">Finals :</label>' + html)
            }
            if (teamNum > 16 && teamNum < 32) {
                $(this).parent().siblings(".roundone").children(".teamclass").empty().append(li + '<label class="comname">Partial :</label>' + html + li + '<label class="comname">Octafinals :</label>' + html + li + '<label class="comname">Quarterfinals :</label>' + html + li + '<label class="comname">Semifinals :</label>' + html + li + '<label class="comname">Finals :</label>' + html)
            }
            if (teamNum > 32 && teamNum < 64) {
                $(this).parent().siblings(".roundone").children(".teamclass").empty().append(li + '<label class="comname">Partial :</label>' + html + li + '<label class="comname">Double Octafinals :</label>' + html + li + '<label class="comname">Octafinals :</label>' + html + li + '<label class="comname">Quarterfinals :</label>' + html + li + '<label class="comname">Semifinals :</label>' + html + li + '<label class="comname">Finals :</label>' + html)
            }
            var checkbox = $(".double");
            checkbox.change(function (e) {
                var checkbox = e.target;
                if (checkbox.checked) {
                    $(this).parent("li").append(flightb)
                } else {
                    $(this).parent("li").children("label:last").remove()
                    $(this).parent("li").children("input:last").remove()
                }
            })
            lay('.settime').each(function () {
                laydate.render({
                    elem: this,
                    type: 'datetime',
                    trigger: 'click'
                });
            })
        })


        $("#save").click(function () {
            alert("调用了方法");
            return;
            var data = [];
            data.push("");
            $.ajax({
                url: "/eventmanage/eventmanage/knockoutsettings",
                type: "post",
                dataType: "json",
                data: {
                    request: data
                },
                beforeSend: function () {
                    layer.msg('操作中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                },
                success: function (json) {
                    layer.closeAll();
                    if (json.flag) {
                        layer.msg("设置成功", { icon: 1, time: 1000 });
                    }
                    else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                }
             ,error: function () {
                 layer.closeAll();
             }
            });
        });

        $(".confirm").click(function () {
            var teamNum = $("#teamnum_" + $(this).attr("data-id")).val();
            if (teamNum == null || teamNum == "")
            {
                layer.msg('请输入晋级队伍数', { icon: 5, time: 1000 });
                return;
            }
            
        });
    </script>
}
