@using nsda.Utilities

<link href="/asset/css/eventmanage/mapone.css?version=@Constant.Version" rel="stylesheet" />
<div class="mapone">
    <div class="mline lineleft">
        <div class="win wtop wleft">
            stanly
        </div>
    </div>
    <i class="iconfont icon-vs2 vs"></i>
    <div class="mline lineright">
        <div class="win wtop wright">
            kevin
        </div>
    </div>
</div>

