<link href="~/Content/asset/css/eventmanage/maptwo.css?1.1.0" rel="stylesheet" />
<div class="maptwo">
    <div class="mlinetwo linetwoleft">
        <div class="win wtop wleft">
            stanly
        </div>
        <div class="win wbottom wleft">
            coach
        </div>
    </div>
    <div class="mline lineleft">
        <div class="win wtop wmiddle">
            stanly
        </div>
    </div>
    <i class="iconfont icon-vs2 vs"></i>
    <div class="mline lineright">
        <div class="win wtop wmiddle">
            kevin
        </div>
    </div>
    <div class="mlinetwo linetworight">
        <div class="win wtop wright">
            stanly
        </div>
        <div class="win wbottom wright">
            coach
        </div>
    </div>
</div>