@using nsda.Utilities

<link href="/asset/css/eventmanage/mapthirtytwo.css?version=@Constant.Version" rel="stylesheet" />
<div class="mapthirty">

    <div class="mlinethi linethirtyleft tline1">
        <div class="win wtop wleft">
            stanly
        </div>
        <div class="win wtbottom wleft">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyleft tline2">
        <div class="win wtop wleft">
            stanly
        </div>
        <div class="win wtbottom wleft">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyleft tline3">
        <div class="win wtop wleft">
            stanly
        </div>
        <div class="win wtbottom wleft">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyleft tline4">
        <div class="win wtop wleft">
            stanly
        </div>
        <div class="win wtbottom wleft">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyleft tline5">
        <div class="win wtop wleft">
            stanly
        </div>
        <div class="win wtbottom wleft">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyleft tline6">
        <div class="win wtop wleft">
            stanly
        </div>
        <div class="win wtbottom wleft">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyleft tline7">
        <div class="win wtop wleft">
            stanly
        </div>
        <div class="win wtbottom wleft">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyleft tline8">
        <div class="win wtop wleft">
            stanly
        </div>
        <div class="win wtbottom wleft">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyleft tline9">
        <div class="win wtop wleft">
            stanly
        </div>
        <div class="win wtbottom wleft">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyleft tline10">
        <div class="win wtop wleft">
            stanly
        </div>
        <div class="win wtbottom wleft">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyleft tline11">
        <div class="win wtop wleft">
            stanly
        </div>
        <div class="win wtbottom wleft">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyleft tline12">
        <div class="win wtop wleft">
            stanly
        </div>
        <div class="win wtbottom wleft">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyleft tline13">
        <div class="win wtop wleft">
            stanly
        </div>
        <div class="win wtbottom wleft">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyleft tline14">
        <div class="win wtop wleft">
            stanly
        </div>
        <div class="win wtbottom wleft">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyleft tline15">
        <div class="win wtop wleft">
            stanly
        </div>
        <div class="win wtbottom wleft">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyleft tline16">
        <div class="win wtop wleft">
            stanly
        </div>
        <div class="win wtbottom wleft">
            coach
        </div>
    </div>



    <div class="mlinesix linesixleft sline1">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wsbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinesix linesixleft sline2">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wsbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinesix linesixleft sline3">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wsbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinesix linesixleft sline4">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wsbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinesix linesixleft sline5">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wsbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinesix linesixleft sline6">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wsbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinesix linesixleft sline7">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wsbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinesix linesixleft sline8">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wsbottom wmiddle">
            coach
        </div>
    </div>


    <div class="mlineeight lineeightleft eline1">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win webottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlineeight lineeightleft eline2">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win webottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlineeight lineeightleft eline3">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win webottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlineeight lineeightleft eline4">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win webottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinefour linefourleft line1">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wfbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinefour linefourleft line2">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wfbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinetwo linetwoleft">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mline lineleft">
        <div class="win wtop wmiddle">
            stanly
        </div>
    </div>
    <i class="iconfont icon-vs2 vs"></i>
    <div class="mline lineright">
        <div class="win wtop wmiddle">
            kevin
        </div>
    </div>
    <div class="mlinetwo linetworight">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinefour linefourright line1">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wfbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinefour linefourright line2">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wfbottom wmiddle">
            coach
        </div>
    </div>

    <div class="mlineeight lineeightright eline1">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win webottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlineeight lineeightright eline2">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win webottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlineeight lineeightright eline3">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win webottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlineeight lineeightright eline4">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win webottom wmiddle">
            coach
        </div>
    </div>

    <div class="mlinesix linesixright sline1">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wsbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinesix linesixright sline2">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wsbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinesix linesixright sline3">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wsbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinesix linesixright sline4">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wsbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinesix linesixright sline5">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wsbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinesix linesixright sline6">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wsbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinesix linesixright sline7">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wsbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinesix linesixright sline8">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wsbottom wmiddle">
            coach
        </div>
    </div>

    <div class="mlinethi linethirtyright tline1">
        <div class="win wtop wright">
            stanly
        </div>
        <div class="win wtbottom wright">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyright tline2">
        <div class="win wtop wright">
            stanly
        </div>
        <div class="win wtbottom wright">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyright tline3">
        <div class="win wtop wright">
            stanly
        </div>
        <div class="win wtbottom wright">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyright tline4">
        <div class="win wtop wright">
            stanly
        </div>
        <div class="win wtbottom wright">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyright tline5">
        <div class="win wtop wright">
            stanly
        </div>
        <div class="win wtbottom wright">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyright tline6">
        <div class="win wtop wright">
            stanly
        </div>
        <div class="win wtbottom wright">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyright tline7">
        <div class="win wtop wright">
            stanly
        </div>
        <div class="win wtbottom wright">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyright tline8">
        <div class="win wtop wright">
            stanly
        </div>
        <div class="win wtbottom wright">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyright tline9">
        <div class="win wtop wright">
            stanly
        </div>
        <div class="win wtbottom wright">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyright tline10">
        <div class="win wtop wright">
            stanly
        </div>
        <div class="win wtbottom wright">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyright tline11">
        <div class="win wtop wright">
            stanly
        </div>
        <div class="win wtbottom wright">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyright tline12">
        <div class="win wtop wright">
            stanly
        </div>
        <div class="win wtbottom wright">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyright tline13">
        <div class="win wtop wright">
            stanly
        </div>
        <div class="win wtbottom wright">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyright tline14">
        <div class="win wtop wright">
            stanly
        </div>
        <div class="win wtbottom wright">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyright tline15">
        <div class="win wtop wright">
            stanly
        </div>
        <div class="win wtbottom wright">
            coach
        </div>
    </div>
    <div class="mlinethi linethirtyright tline16">
        <div class="win wtop wright">
            stanly
        </div>
        <div class="win wtbottom wright">
            coach
        </div>
    </div>
</div>















