@using nsda.Utilities
@{
    Layout = "~/Areas/eventmanage/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "发起赛事";
}

@section styles{
    <link href="/asset/css/eventstartlists.css?version=@Constant.Version" rel="stylesheet" />
   <link href="/asset/simditor/css/simditor.css" rel="stylesheet" />
}
<div class="container-fulid event-select">
    <div class="form-group container compename">
        <label for="eventName">本次赛事名称：</label>
        <div>
            <input type="text" id="eventName" placeholder="赛事中文名称">
            <input type="text" id="eventEnglishName" placeholder="English name of the tournament">
        </div>
    </div>
    <div class="form-group container competime">
        <label for="eventdate">添加比赛日期：</label>
        <div class="adddate" id="EventMatchDate1">
            <input type="text" class="eventdate"  name="eventdate" placeholder="选择比赛日期" readonly="readonly">
        </div>

        <i class="iconfont icon-jiahao addinput" id="eventMatchDate"></i>
    </div>
    <div class="form-group container compedeadtime">
        <label for="deadlinedate">报名截止日期：</label>
        <div>
            <input type="text" id="deadlinedate" placeholder="选择报名截止日期" readonly>
        </div>
    </div>
    <div class="form-group container compeaddress">
        <label>赛场地址：</label>
        <div>
            <select id="inter">
                <option value="1">国内</option>
                <option value="2">国际</option>
            </select>
            <select id="provinceId">
                <option value="0">省</option>
            </select>
            <select id="cityId">
                <option value="0">市</option>
            </select>
            <input type="text" placeholder="输入赛场地址" id="Address">
        </div>
    </div>
    <div class="form-group container compedetail">
        <label>赛事描述：</label>
        <div>
            <textarea rows="3" id="Content"></textarea>
        </div>
    </div>
    <div class="form-group container compecost">
        <label>参赛报名费用（人/元）:</label>
        <div>
            <input type="number" placeholder="￥" id="signFee">
        </div>
    </div>
    <div class="form-group container comperetime">
        <label>退费截止日期：</label>
        <div>
            <input type="text" id="refunddate" placeholder="选择退费截止日期" readonly>
        </div>
    </div>
    <div class="form-group container compenumber">
        <label>报名队伍数上限:</label>
        <div>
            <input type="number" placeholder="输入队伍数" id="maxteamNum">队
        </div>
    </div>
    <div class="container-fulid teambg">
        <div class="container">
            <a href="javascript:;" style="margin-left: 0%;margin-bottom: 10px;" id="addgroup" class="addteam">+添加组别</a>
        </div>
        <div class="tbg">
            <div class="container" id="eventgroup">
            </div>
        </div>
    </div>
    <input type="hidden" id="isInter" value="false" />
    <input type="hidden" id="eventType" value="@ViewBag.EventType" />
    <input type="hidden" id="eventTypeName" value="@ViewBag.EventTypeName" />
    <button type="button" id="submit">递交发布赛事申请</button>
</div>
@section scripts
{
    <script src="/asset/js/laydate/laydate.js"></script>
    <script src="/asset/simditor/js/module.min.js"></script>
    <script src="/asset/simditor/js/uploader.min.js"></script>
    <script src="/asset/simditor/js/hotkeys.min.js"></script>
    <script src="/asset/simditor/js/simditor.min.js"></script>
    <script src="/asset/js/ipc.js?version=@Constant.Version"></script>
    <script>
        var CurrentGroupCount = 0;
        var EventMatchDate = 1;
        laydate.render({
            elem: '.eventdate',
            showBottom: false
        });
        laydate.render({
            elem: '#deadlinedate',
            showBottom: false
        });
        laydate.render({
            elem: '#refunddate',
            showBottom: false
        });

        var editor = null;
        $(function () {
            editor = new Simditor({
                textarea: $('#Content'),
                placeholder: '这里输入公告内容...',
                fgtoolbar: ['title', 'bold', 'italic', 'underline', 'strikethrough', 'color', '|', 'ol', 'ul', 'blockquote', 'code', 'table', '|', 'link', 'image', 'hr', '|', 'indent', 'outdent'],
                defaultImage:"/asset/img/default.png",
                upload: {
                    url: '/eventmanage/eventmanage/uploadimage',
                params: null,
                fileKey: 'fileDataFileName',
                connectionCount: 3,
                leaveConfirm: '正在上传文件'
                }
            });
            init();
            $("#provinceId").change(function () {
                $.city(0, 0);
            });
            $("#addgroup").trigger("click");
        });

        $("#inter").change(function () {
            var val = $(this).val();
            if (val == 1) {
                $("#isInter").val("false");
            } else {
                $("#isInter").val("true");
            }
            init();
        });

        function init()
        {
            $.province(0);
            $.city(0, 0);
        }

        $("#submit").click(function () {
            var $Name = $("#eventName").val();
            if (validate.isNull($Name)) {
                layer.msg('请输入赛事名', { icon: 5, time: 1000 });
                return;
            }
            var $EnglishName = $("#eventEnglishName").val();
            var matchDate = [];
            for (var i = 1, len = EventMatchDate ; i <= len; i++) {
                var eventdate = $("#EventMatchDate" + i + " input[name='eventdate']").val();
                if (validate.isNull(eventdate)) {
                    layer.msg('请输入比赛日期', { icon: 5, time: 1000 });
                    return;
                }
                matchDate.push(eventdate);
            }

            var $EndSignDate = $("#deadlinedate").val();
            if (validate.isNull($EndSignDate)) {
                layer.msg('请输入报名截止日期', { icon: 5, time: 1000 });
                return;
            }
            var $provinceId = $("#provinceId").val();
            if ($provinceId==0) {
                layer.msg('请输入比赛省份', { icon: 5, time: 1000 });
                return;
            }
            var $Address = $("#Address").val();
            if (validate.isNull($Address)) {
                layer.msg('请输入比赛地址', { icon: 5, time: 1000 });
                return;
            }
            var $SignFee = $("#signFee").val();
            if (validate.isNull($SignFee)) {
                layer.msg('请输入报名费', { icon: 5, time: 1000 });
                return;
            }
            var $EndRefundDate = $("#refunddate").val();
            if (validate.isNull($EndRefundDate)) {
                layer.msg('请输入退费截止日期', { icon: 5, time: 1000 });
                return;
            }
            var $Maxnumber = $("#maxteamNum").val();
            if (validate.isNull($Maxnumber)) {
                layer.msg('请输入队伍数上限', { icon: 5, time: 1000 });
                return;
            }
            $remark = editor.getValue();
            var grouplist = [];
            for (var i = 1, len = CurrentGroupCount ; i <= len; i++) {
                var groupName = $("#eventgroup" + i + " input[name='groupname']").val();
                if (validate.isNull(groupName))
                {
                    layer.msg('请输入组别名称', { icon: 5, time: 1000 });
                    return;
                }
                var objectData = {
                    Name: groupName,
                    MinGrade: $("#eventgroup" + i + " select[name='mingrade']").val(),
                    MaxGrade: $("#eventgroup" + i + " select[name='maxgrade']").val(),
                    MinTimes: $("#eventgroup" + i + " input[name='minTimes']").val(),
                    MaxTimes: $("#eventgroup" + i + " input[name='maxTimes']").val()
                };
                grouplist.push(objectData);
            }
            var $cityId = $("#cityId").val();
            $.ajax({
                url: "/eventmanage/eventmanage/insertevent",
                type: "post",
                dataType: "json",
                data: {
                    EventGroup: grouplist,
                    Name: $Name,
                    EnglishName: $EnglishName,
                    //StartEventDate: myarray[0],
                    //EndEventDate: myarray[1],
                    EventDate:matchDate,
                    EndSignDate: $EndSignDate,
                    EndRefundDate: $EndRefundDate,
                    Remark:$remark,
                    Address: $Address,
                    ProvinceId: $provinceId,
                    CityId: $cityId,
                    IsInter: $("#isInter").val(),
                    EventType: $("#eventType").val(),
                    EventTypeName: $("#eventTypeName").val(),
                    Signfee: $SignFee,
                    Maxnumber: $Maxnumber
                },
                beforeSend: function () {
                    layer.msg('保存中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                },
                success: function (json) {
                    layer.closeAll();
                    if (json.flag) {
                        layer.msg("保存成功", { icon: 1, time: 1000 });
                        location.href = "/eventmanage/eventmanage/index";
                    }
                    else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                }
             , error: function () {
                 layer.closeAll();
             }
            });
        });

        function rendergrade()
        {
            var html = '';
            html += '<option value="-1">不限</option>';
            html += '<option value="0">学前</option>';
            html += '<option value="1">1年级</option>';
            html += '<option value="2">2年级</option>';
            html += '<option value="3">3年级</option>';
            html += '<option value="4">4年级</option>';
            html += '<option value="5">5年级</option>';
            html += '<option value="6">6年级</option>';
            html += '<option value="7">7年级</option>';
            html += '<option value="8">8年级</option>';
            html += '<option value="9">9年级</option>';
            html += '<option value="10">10年级</option>';
            html += '<option value="11">11年级</option>';
            html += '<option value="12">12年级</option>';
            html += '<option value="13">13年级</option>';
            return html;
        }

        //添加组别
        $("#addgroup").click(function () {
            CurrentGroupCount = CurrentGroupCount + 1;
            var html = '<div class="teamlist" id="eventgroup' + CurrentGroupCount + '">';
            html += '<div class="form-group groupname">';
            html += '  <input type="text" name="groupname" placeholder="输入组别名称">'
            html += '</div>';
            html += '<div class="form-group grade">';
            html += '<label>年级段设置:</label>';
            html += '<div>';
            html += '<select name="mingrade">';
            html += rendergrade();
            html += '</select>';
            html += '  <p>到</p>';
            html += '<select name="maxgrade">';
            html += rendergrade();
            html += '</select>';
            html += '</div>';
            html += '</div>';
            html += '<div class="form-group allnum">';
            html += '<label>累计比赛次数设置 （如不填写，则为不限）:</label>';
            html += '<div>';
            html += '<input type="number" name="minTimes" placeholder="填写参赛次数">';
            html += '<p>到</p>';
            html += '<input type="number" name="maxTimes" placeholder="填写参赛次数">';
            html += '</div>';
            html += '</div>';
            html += '  <a href="javascript:;" class="delteam delgroup">删除</a>'
            html += '</div>';
            $("#eventgroup").append(html);
        });
        //删除组别
        $(document).on("click", ".delgroup", function () {
            var id = $(this).parent().attr("id");
            layer.confirm('是否删除组别信息', {
                btn: ['是', '否']
            }, function (index) {
                $("#" + id).remove();
                var currentIndex = id.substr(10);
                for (var i = 1; i <= CurrentGroupCount; i++) {
                    if (i > currentIndex) {
                        $("#eventgroup" + i).attr("id", "eventgroup" + (i - 1));
                    }
                }
                CurrentGroupCount--;
                layer.closeAll();
            }, function () {
            });
        });

        //添加赛事时间
        $("#eventMatchDate").click(function () {
            EventMatchDate = EventMatchDate + 1;
            var html = '<div class="adddate" style="margin-left:20px;" id="EventMatchDate' + EventMatchDate + '">';
            html += '<input type="text" class="eventdate" name="eventdate" placeholder="选择比赛日期" readonly="readonly">';
            html += ' <i class="iconfont icon-close-b delinput delMatchDate"></i>'
            html += ' </div>';
            $(this).before(html);
            lay('.eventdate').each(function () {
                 laydate.render({
                     elem: this,
                     trigger: 'click',
                     showBottom: false
                 });
             });
        });
        //删除赛事时间
        $(document).on("click", ".delMatchDate", function () {
            var id = $(this).parent().attr("id");
            $("#" + id).remove();
            var currentIndex = id.substr(14);
            for (var i = 2; i <= EventMatchDate; i++) {
                if (i > currentIndex) {
                    $("#EventMatchDate" + i).attr("id", "EventMatchDate" + (i - 1));
                }
            }
            EventMatchDate--;
        });
    </script>
}