@using nsda.Utilities
@{
    Layout = "~/Areas/eventmanage/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "发起赛事";
}

@section styles
{
    <link rel="stylesheet" href="/asset/css/eventmanage/eventstart.css?version=@Constant.Version">
    <link href="/asset/css/common/common.css?version=@Constant.Version" rel="stylesheet" />
}
<div class="tri"></div>
<div class="container-fulid event-select">
    <div class="container event eventstarlists  selects">
        <h4>赛事类别</h4>
        <div class="form-group">
            <label>选择赛事类别：</label>
            <select class="form-control radius5"  id="eventType">
                <option value="1">辩论</option>
                <option value="2">演讲</option>
            </select>
        </div>
        <div class="form-group">
            <label>选择类别：</label>
            <select class="form-control radius5" id="eventTypeName">
                <option>公共论坛式辩论</option>
                <option>林肯·道格拉斯辩论</option>
                <option>英国议会制辩论</option>
            </select>
        </div>
        <a href="javascript:;" id="next" class="next-step darkblue linkbutton-min radius5 color-white">NEXT STEP 下一步</a>

    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#eventType").trigger("change");
        });
        $("#eventType").change(function () {
            var val = $(this).val();
            var html = '';
            if (val == 1)
            {
                html += '<option value="1">公共论坛式辩论</option>';
                html += '<option value="2">林肯·道格拉斯辩论</option>';
                html += '<option value="3">英国议会制辩论</option>';
            } else {
                html += '<option value=4>原创演讲</option>';
            }
            $("#eventTypeName").html(html);
        });

        $("#next").click(function () {
            var eventType=$("#eventType").val();
            var eventTypeName=$("#eventTypeName").val();
            window.location.href = "/eventmanage/eventmanage/next?eventType=" + eventType + "&eventTypeName=" + eventTypeName;
        });
    </script>
}
