
.login{
    width:320px;
    margin:80px auto 160px auto;
}
.login h3{
    font-size:18px;
    color:#000;
    padding-left:35px;
    margin-bottom:50px;
}
.login img{
    display:inline-block;
    width:30px;
    height:40px;
}
.login p{
    padding-left:35px;
    line-height:1.8;
}
.login p a{
    color:#2CBEFF;
}
.login input{
    width:280px;
    height:42px;
    background:#ECEAEA;
    border:1px solid #A0A0A0;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    margin-bottom:30px;
}
.login a.button{
    display:inline-block;
    width:170px;
    height:36px;
    margin-left:35px;

    line-height:36px;
    color:#666633;
    font-weight:600;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    text-align:center;
    background:linear-gradient(to bottom, #CAE699, #CAE699);
}
.login p a.reg-a{
    color:#537221;
    font-size:12px;
    line-height:2;
}





















