.score-con{
    width:78%;
    float:left;
    margin-top:50px;
    margin-left:15px;
    position:relative;
    margin-top:70px;
}
.score-top .integral{
    display:inline;
    width:36px;
    height:46px;
    float:left;
    margin-right:4px;
}
.score-top .scorecheck{
    font-size:24px;
    color:#666;
    float:left;
    line-height:56px;
    vertical-align:baseline;
        
}
.score-top{
    padding-right: 35px;
}
.addbound {
    display: inline-block;
    padding: 5px 15px;
    font-size: 16px;
    text-align: center;
    color: white;
    background: #1ABC9C;
    float: right;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-top: 10px;
    border: none;
}
.boundtable{
    min-height:600px;
}
.boundtable tbody td button {
    width: 90px;
    height: 30px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: none;

}

.boundtable tbody td .editcoach {
    background: #1985E8;
    margin-right: 20px;
    color: white;
}

.boundtable tbody td .delcoach {
    background: #DDDDDD;
}

.boundtable tbody td .confirmbound {
    background: #DF812F;
    color: white;
    margin-right: 20px;
}

.boundtable tbody td .notpass {
    background: #E67368;
    color: white;
}
.fg-layer{
    border-radius: 20px;
    -webkit-border-radius:20px;
    -moz-border-radius: 20px;
}
fg-layer-iframe{
   border-radius: 20px;
    -webkit-border-radius:20px;
    -moz-border-radius: 20px;
}
.fg-layer-title{
    border-radius: 16px 16px 0 0;
    -webkit-border-radius: 16px 16px 0 0;
    -moz-border-radius:  16px 16px 0 0;
    background:#34495E;
    color: #1ABC9C;
    font-weight:800;
    font-size:20px;
}
.fg-layer-setwin{
    color:white;
}
.fg-layer-content{
    border-radius: 0 0 16px 16px ;
    -webkit-border-radius: 0 0 16px 16px ;
    -moz-border-radius:  0 0 16px 16px ;
    background:#ECF0F1;
}


.addcoach .addtitle i {
    float: right;
    color: white;
    font-size: 20px;
    padding-right: 20px;
}

.addcoach .coachimg {
    display: inline;
    margin: 0 auto;
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%);
}

.addcoach .form-group {
    margin-top: 130px;
    padding: 0 80px;
}

.addcoach .form-group select {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #526476;
    color: white;
    font-size: 16px;
    padding-left: 6px;
    cursor:pointer;
}
.addcoach .form-group select.form-select-schools {
    width: 25%;
    height: 36px;
}

.addcoach .form-group input {
    width: 40%;
    height: 36px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: none;
    border: 1px solid #1ABC9C;
    position:relative;
    font-size:16px;
    padding-left:10px;
}
.addcoach .form-group .form-select-school {
    width: 45%;
    height: 36px;
    margin-bottom: 70px;
    background:#526476;
    color:white;
    cursor:pointer;
}

.addcoach .form-group select#sel{
    width:300px;
    margin:0;
    border:1px solid white;
    padding:10px;
    position:absolute;
    bottom:270px;
    left:23%;
    z-index:10;

}
.addcoach .form-group select#sel::-webkit-scrollbar{
    width:6px;
    height:6px;
}
.addcoach .form-group select#sel::-webkit-scrollbar-track {
      background-color: #ddd;
}

.addcoach .form-group select#sel::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}
.addcoach .form-group select#sel::-webkit-scrollbar-button {
    background-color: #888;
    display: none;
}
.addcoach .form-group .searchcoach {
    display: inline;
    padding: 8px 20px;
    background: #34495E;
    margin-left: 15px;
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    font-size: 16px;
    border:none;
    cursor:pointer;
}

.addcoach .form-group .searchcoach i {
    color: #1ABC9C;
    font-size: 20px;
}

.addcoach .form-group .boundcoach {
    padding: 12px 95px;
    font-size: 18px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #34495E;
    border: none;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom:50px;
    text-decoration:none;
}

.boundtable table thead {
    background: #ECECEC;
    border: 1px solid #FBFBFB;
}
.boundtable table{
    border-collapse: collapse;
    width: 96%;
    margin-bottom:50px;
    margin-top:20px;
}
.info-con table thead{
    background: #E3D2D2;
}
.boundtable thead th{
    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
    text-align: center;
    color: #666666;
    padding: 7px;
}
.boundtable tbody td{
    border-bottom: 1px solid #a7a7a7;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.boundtable tbody td:not(:last-child) {
    border-right: 1px solid #a7a7a7;
}
.boundtable tbody td{
    position:relative;
}
.boundtable tbody td span{
    display:inline-block;
    font-size:12px;
    color:white;
    width:30%;
    height:15px;
    background:#1ABC9C;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    position:absolute;
    top:5px;
    left:40px;
}

.info-lists .panel:nth-child(3) .panel-body ul a:last-child li{
    background:#F0F0F0;
    color:#5DC1ED;
}

