
.mec-ban {
    height: 252px;
}

.player {
    padding: 20px 50px 0 50px;
}

.player-info {
    margin-left: 20%;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #a7a7a7;
    height: 100px;
}

.player-info .img {
    width: 88px;
    height: 88px;
    float: left;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    position:relative;
    cursor:pointer;
}
.player-info .img  img{
    display:inline;
    width:100%;
    height:100%;
    cursor:pointer;
}
.player-info input{
    position:absolute;
    left:0;
    top:0;
    width:88px;
    height:88px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    opacity:0;
    z-index:1;
    cursor:pointer;
}
.player-num {
    float: left;
    margin-left: 20px;
}

.player-num ul li span{
    display:inline;
    min-width:162px;
    font-size: 14px;
    color: #666;
    line-height: 2.1;
    font-weight: 600;
    text-align: right;
    float:left;
}
.player-num ul li p{
    float:left;
    min-width:400px;
    height:30px;
    font-size: 14px;
    color: #666;
    line-height: 2.1;
    text-align:left;
    font-weight: 600;
}
.player-num ul li p a.attest{
    display:inline-block;
    padding:0 10px;
    background:#10B5FF;
    border-radius: 5px;
    color:white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.player-code {
    padding: 5px 15px;
    float: right;
    margin-top: 50px;
    font-size: 16px;
}

.player-code {
    display: inline;
    background: #10B5FF;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    float: right;
    color: white;
}

.player-code:hover {
    background: #4a8ad8;
    color: white;
}

.player-info img {
    display: inline;
    cursor:pointer;
}

.mec-ban {
    position: relative;
}

.player {
    width: 100%;
    background: rgba(255, 255, 255,0.9);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
}

.mec-ban {
    background: url("../img/mecban_03.jpg") no-repeat center /cover;
    position: relative;
}

body {
    background: #F4F4F4;
}
.info-lists{
    width:20%;
    float:left;
    height:600px;
    margin-top:120px;
}
.info-lists .panel-title a p,.info-lists .panel-title a h3{
    text-align:right;
}
.info-lists .panel-title a p{
    padding-right: 16%;
    line-height: 1.8;
    color:#666666;
}
.info-lists .panel-title a h3{
    font-size: 16px;
    color: #2f2e2e;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 1px;
}

.panel-default{
    border-bottom:1px solid #a7a7a7;
}
.panel-body{
    padding:0;
}
.info-lists .panel a p.jc{
    padding-right: 20%;
    line-height: 1.8;
    color:#666666;
    text-align:right;
    font-size:16px;
}
.info-lists .panel a h3.mc{
    font-size:16px;
    text-align:right;
    color:#2f2e2e;
    padding-right:20%;
    padding-bottom:10px;
    font-weight: 600;
    letter-spacing: 1px;
}
.info-lists .panel-body ul a.compe{
    display:inline;
    width:100%;
}
.info-lists .panel-body{
    padding:0;
}
.info-lists .panel-body ul a li{
    text-align:right;
    font-size:16px;
    padding:10px 0 10px 0;
    padding-right:21%;
    color:#666;
}
.info-lists .panel-body ul a:not(:last-child) li{
    border-bottom:1px dashed #a7a7a7;
}
.info-lists .panel-body ul a li:hover{
    background:#EFEFEF;
    color:#3CC2FF;
}
.player-compe{
    width:100%;
    background:white;
    padding:10px 10px 180px 10px;
    border-radius:0 0 8px 8px ;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    box-shadow: 2px 2px 4px #D9D9D9;
    margin-bottom:80px;
    position:relative;
}
.info-con{
    width:73%;
    float:left;
    margin-left:15px;
    margin-top:110px;
    background:#fff;
    position:relative;
}
nav.info-nav{
    float:right;
    padding-right:3%;
    position:absolute;
    right:0;
    bottom:0;
    margin-bottom:50px;
}
.page{
    color: #a2a2a2;
    margin: 20px 0;
    display: inline-block;
    text-align: center;
    float:right;
    margin-top:60px;
    margin-right:20px;
}
.page a.prev, .page a.next {
    font-size: 14px;
    font-weight: bold;
}
.page span, .page a {
    color: #a2a2a2;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    text-decoration: none;
}
.page a:hover, .page .on{
    background-color: #2577e3;
    border-radius: 30px;
    color: #fff;
}


