<connectionStrings>
  <add name="defconn" connectionString="server=192.168.50.221;port=3306;database=nsdadb_dev;uid=dev;password=123456;character set=utf8;" providerName="MySql.Data.MySqlClient" />
  <!--<add name="defconn" connectionString="server=192.168.50.110;port=3307;database=nsdadb_dev;uid=root;password=cac-111.;character set=utf8;" providerName="MySql.Data.MySqlClient" />-->
</connectionStrings>