<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="false" throwExceptions="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/logs" />
  <targets async="true">
    <default-target-parameters xsi:type="File" keepFileOpen="true" layout="[${uppercase:${level}}][${date}]${message} ==> ${exception:format=ToString}" autoFlush="true" encoding="utf-8" />
    <default-wrapper xsi:type="BufferingWrapper" bufferSize="10" />
    <target xsi:type="File" name="nsda" fileName="${logDirectory}/nsda/${shortdate}.log" />
  </targets>
  <rules>
    <logger name="nsda" minlevel="Error" writeTo="nsda" final="true" />
    <logger name="nsda" minlevel="Info"  writeTo="nsda" final="true" />
  </rules>
</nlog>