<link href="@Url.Content("~/Content/asset/css/coach.css?1.1.0")" rel="stylesheet" type="text/css" />


<div class="mec-ban">
    <div class="container player">
        <div class="player-info">
                <div class="img">
                    <img src="~/Content/asset/img/teacher.png" alt="更换头像" />
                    <input type="file">
                </div>
                <div class="player-num">
                    <ul>
                        <li><span>NSDA CHINA Coach：</span><p>dfghj</p></li>
                        <li><span>NSDA Points for Coach：</span><p>2</p></li>
                        <li><span>Coach Member Number：</span><p>234567890-</p></li>
                    </ul>
                </div>
                <a href="#" class="player-code">
                    <i class="iconfont icon-erweima"></i>
                    Show QR Code
                </a>
        </div>
    </div>
</div>
