<link href="~/Content/asset/css/judge.css" rel="stylesheet" />
<div class="info-lists">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <p>我的裁判经历</p>
                        <h3>My Tournaments&nbsp;&nbsp;v</h3>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <ul>
                        <a href="/Home/playercompesign" class="compe"><li>Apply to Judge</li></a>
                        <a href="/Home/playerhadcompe" class="compe"><li>Tournaments to Judge</li></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <p>个人信息</p>
                        <h3>Personal information&nbsp;&nbsp;v</h3>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <ul>
                        <a href="/Home/playerscore" class="compe"><li>会员积分查询</li></a>
                        <a href="/Home/playerinformation" class="compe"><li>修改个人资料</li></a>
                        <a href="/Home/playerboundcoach" class="compe"><li>绑定教练</li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>





























