
<div class="managelists">
    <ul>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Home/eventmanageround"><p>比赛规则设置</p></a></li>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Home/eventmanageplayer"><p>选手报名管理</p></a></li>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Home/eventmanageumpire"><p>裁判报名管理</p></a></li>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Home/eventmanageroom"><p>Room管理</p></a></li>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Home/eventnewplayersignin"><p>选手签到管理</p></a></li>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Home/eventumpiresignin"><p>裁判签到管理</p></a></li>
        <a href="javascript:;" class="clickbtn clickready"><p>准备好了吗？</p><h4>点击开始比赛当日操作</h4></a>
        <a href="javascript:;" class="clickbtn clickstart"><p>开始比赛</p><h4>点击开始执行对垒</h4></a>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Home/track"><p>Track 查询</p></a></li>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Home/resulttrackaround"><p>赛果查询</p></a></li>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Home/prize"><p>奖项设置</p></a></li>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Home/winnerlist"><p>获奖名单</p></a></li>
    </ul>
</div>