<link href="@Url.Content("~/Content/asset/css/eventmanageplayer.css?2.1.0")" rel="stylesheet" type="text/css" />
<div class="compe-lists">
    <ul class="manage-lists">
        <li><input type="checkbox"><p>比赛规则设置</p></li>
        <li><input type="checkbox"><p>选手报名管理</p></li>
        <li><input type="checkbox"><p>裁判报名管理</p></li>
        <li><input type="checkbox"><p>Room管理</p></li>
        <a href="javascript:;" class="clickready"><p>准备好了吗？</p><h4>点击开始比赛当日操作</h4></a>
    </ul>
</div>