<link href="@Url.Content("~/Content/asset/css/player.css?1.1.2")" rel="stylesheet" type="text/css" />


<div class="mec-ban">
    <div class="container player">
        <div class="player-info">
            <div class="img">
                <img src="~/Content/asset/img/teacher.png" alt="更换头像" />
                <input type="file" title="点击更换头像">
            </div>
            <div class="player-num">
                <ul>
                    <li><span>NSDA CHINA 注册会员：</span><p></p></li>
                    <li><span>目前 NSDA 积分：</span><p></p></li>
                    <li><span>NSDA 会员编号：</span><p><a href="javascript:;" class="attest">会员认证</a></p></li>
                </ul>
            </div>
            @*<a href="javascript:;" class="player-code">
                <i class="iconfont icon-erweima"></i>
                我的二维码
            </a>*@
        </div>
    </div>
</div>


