
@{
    ViewBag.Title = "合作伙伴";
}

<link href="@Url.Content("~/Content/asset/css/about.css?1.1.2")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/Content/asset/css/aboutp.css?1.1.2")" rel="stylesheet" type="text/css" />

<div class="ad">

</div>

<div class="rode">
    <ul class="container breadcrumb">
        <li><a href="#">关于我们</a></li>
        <li><a href="#">合作伙伴</a></li>
    </ul>
</div>

<!--联系我们内容部分-->
<div class="container contactp-title">
    <h3>合作伙伴</h3>
    <p>Business Partners</p>
    <span></span>
</div>
<div class="container contactus-con">
    <p>一直以来，我们一直致力于将亲爱的合作伙伴、NSDA会员和社区平台更紧密地联系在一起。我们坚信在这里我们可以连接更广阔的舞台，并且对外面的世界做出积极而正面的改变。这就是为什么我们一直尝试通过与更多的组织合作，与不同的组织合作，将我们平台变得更美好。</p>
</div>
<div class="container partner">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/asset/img/partner1.jpg" alt="...">
                <div class="caption">
                    <p>哈佛辩论委员会成立于1892年，是美国历史最悠久、成绩最突出的大学校际辩论社团之一。长久以来，哈佛辩论委员会致力于提供卓越的辩论教育，为其俱乐部成员提供哈佛大学最具智力挑战的课程，帮助辩论选手们在各种辩论比赛中取得优异成绩。自1947年美国国家辩论巡回赛（NDT）创始至今，哈佛辩论委员会共赢得了6座冠军奖杯及5座亚军奖杯。近年来，哈佛辩论委员会几乎赢得了所有全国性辩论邀请赛的桂冠。</p>

                    <p>哈佛大学的学生视进入辩论队成为其中一员为最有意义的经验之一。他们在哈佛大学及辩论实践中所锤炼的能力与技巧，帮助他们在法律、教育、商业等众多行业都取得了伟大的成就。</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/asset/img/partner2.jpg" alt="">
                <div class="caption">
                    <p>创新人才教育研究会是由国务院参事、国家教育咨询委员会委员、中国人民大学附属中学校长刘彭芝联合顾明远、韦钰、杨福家、郭永福、陶西平、卓晴君、朱小蔓、张民生、朱清时、张杰、张泽、柯杨、袁驷、王嘉毅、唐盛昌等科学家、教育家和教育专家共同发起，经教育部、民政部批准成立的国家一级学会。</p>

                    <p>研究会的成立旨在搭建一个跨地区、跨部门、跨学科、跨学段的高端平台，共同探索行之有效的创新人才培养模式，注重在大中小学早期发现、早期培养创新人才的教育研究，争取为国家尽早培养大批拔尖创新人才。</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/asset/img/partner3.jpg" alt="...">
                <div class="caption">
                    <p>狄邦教育管理集团是中国最具规模与影响力的国际教育管理与服务机构，通过运营独立学校、与国内中学合作开设和管理国际课程中心、开展校外教育等多种形式，为K-12阶段的学生提供各类国际教育项目，帮助学生成长为主动学习与探索、善于反思与创新、具有国际视野和社会责任心的世界公民和未来青年领袖。</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container contactp-title business">
    <h3>商业合作机构</h3>
    <span></span>
    <p>连接更广阔的世界</p> <p>让每一天都充满意义的彼此连接</p>
    <div class="bus">
        <i></i>
        <h5>期待与您的合作机会</h5>
    </div>
</div>

<div class="enreach">
    <div class="container en-icon">
        <img src="~/Content/asset/img/en-icon.png" alt="">
    </div>
</div>

