@{
    ViewBag.Title = "关于NSDA";
}
<link href="@Url.Content("~/Content/asset/css/About.css?1.1.1")" rel="stylesheet" type="text/css" />

<!--这里可能是logo也可能是广告 到底是什么 我也不知道-->
<div class="ad">

</div>

<!--面包屑导航-->
<div class="rode">
    <ul class="container breadcrumb">
        <li><a href="#">关于我们</a></li>
        <li><a href="#">关于NSDA</a></li>
    </ul>
</div>

<!--i dont konw what the hell this is-->
<div class="container nsda">
    <div class=" col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="panel-heading">全美中学生演讲与辩论联盟 <p>National Speech and Debate Association，简称NSDA </p> </div>
        <div class="panel-body">
            <p>全美演讲与辩论联盟（National Speech and Debate Association，简称NSDA），是美国历史最悠久、规模最大的中学演讲与辩论荣誉组织，也是世界演讲与辩论领域最大的专业教练会员组织。NSDA采取会员制，向会员学校提供包括教练培训、俱乐部建立和辩论比赛支持等全方位的服务C。</p>
            <p>自1925年成立以来，NSDA累计拥有超过140万学生会员，活动范围遍及全美50个州。目前，NSDA拥有会员学校2,992所，注册教练超过5,000人，其中3500位教练高度委身于NSDA。仅2011年就有12万中学生会员参加了NSDA举办的各类活动，学习成为批判性思考者、有效沟通者和道德公民。</p>
            <p>NSDA为会员学校和学生提供NSDA积分与排名服务。通过其独有的积分和排名系统，NSDA在全国范围内建立起一个客观的学术评价体系。参加辩论的学校和学生可以相互比较辩论水平，激励竞争意识，而该系统作为学生的学术成就指标之一，在美国各大学的招生过程中被广泛使用。</p>
        </div>
        <div class="view">
            <span></span>
            <p>更多内容请浏览: <a href="http://www.speechanddebate.org/" target="_blank">http://www.speechanddebate.org/</a></p>
        </div>
    </div>

</div>

<!--big famous-->
<div class="container famous-title">
    <h3>学生时代从NSDA起步的名人</h3>
    <span></span>
    <p>无数位政府高官、企业高管、知名律师和大学教授</p><p>他们学生时代都是NSDA注册会员</p>
</div>
<div class="container-fluid famous-content">
    <div class="media">
        <div class="media-left famous-ins col-lg-6">
            <i class="iconfont icon-yinhao yin" aria-hidden="true"></i>
            <h3>其实，NSDA会员不仅活跃于政坛；</h3>
            <h3>在美国，很多媒体上的公众人物，在他们的学生时代都是NSDA注册会员。</h3>
            <h5>你甚至可以在奥斯卡金像奖得主、多位艾美奖和金球奖得主中找到。例如：美国有线电视新闻网（CNN）创始人Ted Turner、美国著名电视节目主持人Oprah Winfrey、著名演员Brad Pitt等。</h5>
            <p class="p">辩论演讲所展示的批判性思维理念被公认为是教育最为核心的理念，在西方教育中无处不在。</p>
            <p></p>
        </div>
        <div class="media-body famous-men col-md-6 col-xs-12 col-sm-12">
            <h4 class="media-heading">4位联邦最高法院大法官</h4> <h4>Sonia Sotomayor, Stephen Breyer, Antonin Scalia, 和Samuel Alito</h4>
            <div class="row famous-pic">
                <div class="col-sm-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <div class="img img1"></div>
                        <div class="caption">
                            <span>Sonia Sotomayor</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <div class="img img2"></div>
                        <div class="caption">
                            <span>Sonia Sotomayor</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <div class="img img3"></div>
                        <div class="caption">
                            <span>Antonin Scalia</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <div class="img img4"></div>
                        <div class="caption">
                            <span>Samuel Alito</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container famous">
    <div class="row">
        <div class="history col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3>NSDA历史 | NSDA History</h3>
            <h4>——近百年不变承诺</h4>
            <section class="times">
                <ul>
                    <li>
                        <h3>1925</h3>
                        <p>Ripon College 的Bruno E. Jacob教授创立NSDA</p>
                        <p>激励高中生参与到演讲、辩论活动中</p>
                    </li>
                    <li>
                        <h3>1931</h3>
                        <p>第一届全国联赛在Ripon College召开</p>
                        <p>17个州共49所学校参与</p>
                    </li>
                    <li>
                        <h3>1933</h3>
                        <p>大萧条时NSDA会员学校达到400所</p>
                        <p>哥伦比亚广播公司（CBS）直播NSDA冠军联赛</p>
                    </li>
                    <li>
                        <h3>1947</h3>
                        <p>全美中学校长协会</p>
                        <p>（The National Association of Secondary School Principals）</p>
                        <p>开始赞助NSDA联赛</p>
                    </li>
                    <li>
                        <h3>1969</h3>
                        <p>注册会员达到30万</p>
                    </li>
                    <li>
                        <h3>2000</h3>
                        <p>注册会员达到100万</p>
                    </li>
                    <li>
                        <h3>2007</h3>
                        <p>NSDA设立荣誉准则（CODE OF HONOR）</p>
                        <p>强调对正直、谦恭、尊重、领导力与服务意识的重视</p>
                    </li>
                    <li>
                        <h3>2017</h3>
                        <p class="mem">注册会员达到150万以上</p>
                    </li>
                </ul>
            </section>
        </div>
        <div class="step col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <span></span>
            <p>自1925年起，NSDA就开始为梦想在演讲与辩论领域有所成就的中学生提供实现自我的平台与资源支持。经历几十年的发展，NSDA的使命与当今社会越来越接轨。NSDA培养学生的批判性思维、细心倾听与深入研究的能力，帮助学生经过理性论证，得出有充足证据支撑、有充足吸引力和说服力的观点。这些能力，对今后个人发展，亦或是解决重大社会问题，都是至关重要的。</p>
            <div class="morestep">
                <ul>
                    <li><a href=""><h3>进一步了解 NSDA中国</h3></a></li>
                </ul>
                <ul>
                    <li><a href=""><h3>目前我们的 合作伙伴</h3></a></li>
                </ul>
                <ul>
                    <li><a href=""><h3>CONTACT 联系我们</h3></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>