@{
    Layout = "";
    ViewBag.Title = "添加指定选手使用该房间";
}
<link href="@Url.Content("~/Content/asset/css/eventmanageroom.css?2.1.0")" rel="stylesheet" type="text/css" />
<div class="addplayer">
    <h4>添加指定选手使用该房间</h4>
    <span></span>
    <div class="form-group searchplayer">
        <input placeholder="输入组队编号/会员编号/姓名" />
        <a class="search" id="search"><i class="iconfont icon-sousuo1"></i>搜索&nbsp;</a>
        <select size="2" id="sel" style="display:none;">
            <option>123</option>
            <option>23456</option>
            <option>1111</option>
            <option>123333</option>
            <option>aaaa</option>
            <option>1bbb23</option>
        </select>
    </div>
    <div class="form-group inputplayername">
        <p>指定选手为：</p>
        <label for="txt"></label>
        <input type="text" id="txt" />
    </div>
    <button>确认Room指定给该选手</button>
</div>
@Scripts.Render("~/Content/asset/js/block.js")