@{
    ViewBag.Title = "Personal Information";
}
<link href="@Url.Content("~/Content/asset/css/Coachinformation.css?1.1.2")" rel="stylesheet" type="text/css" />


@Html.Partial("_CoachTop")

<div class="container coach-con">
        @Html.Partial("_CoachLeft")
        <div class="coach-personal">
            <div class="per-top">
                <i class="iconfont icon-yonghu1 integral" aria-hidden="true"></i>
                <p class="scorecheck">Changing your account information</p>
            </div>
            <div class="per-con">
                <div class="person-title"></div>
                <div class="modifyinfo">
                    <div class="form-group">
                        <label>E-mail:</label>
                        <div class="form-con"><p>admin@enreachedu.com</p></div>
                    </div>
                    <div class="form-group two-label">
                        <div>
                            <label for="emrphone"> First Name:</label>
                            <div class="form-con">
                                <input type="text" id="firstname">
                            </div>
                        </div>
                        <div>
                            <label for="emrcontact">Last Name:</label>
                            <div class="form-con">
                                <input type="text" id="lastname">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone">Gender:</label>
                        <div class="form-con">
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Male
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Female
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone">Address:</label>
                        <div class="form-con">
                            <input type="text" id="address">
                        </div>
                    </div>
                    <div class="emergency">
                        <h4>Emergency Contact Information</h4>
                        <div class="form-group">
                            <label for="phone">Emergency Contact Person:</label>
                            <div class="form-con">
                                <input type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone">Emergency Numbe:</label>
                            <div class="form-con">
                                <input type="text">
                            </div>
                        </div>
                        <button>Confirm Your Information</button>
                    </div>
                </div>
                <div class="modifypassword">
                    <img src="~/Content/asset/img/pass_03.png" alt="" />
                    <div class="modifypanel">
                            <input type="password" placeholder="输入新密码">
                            <input type="password" placeholder="再次输入新密码">
                            <input type="button" value="确认新密码" class="confirmnewpassword">
                    </div>
                </div>
            </div>
        </div>
</div>