
@{
    ViewBag.Title = "联系我们";
}

<link href="@Url.Content("~/Content/asset/css/About.css?1.1.2")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/Content/asset/css/compedetail.css?2.1.2")" rel="stylesheet" type="text/css" />

<!--这里可能是logo也可能是广告 到底是什么 我也不知道-->
<div class="ad">

</div>

<!--面包屑导航-->
<div class="rode">

</div>

<div class="container compedetail">
    <h4>2017-18赛季全国中学生学术辩论与演讲联赛 第一轮区域赛</h4>
    <h5>National High School Academic debate and speech Tournament</h5>
    
    <div class="detailcon">
        <p>2016年8月，肯塔基大学辩论协会（同时也是TOC全美冠军赛赛事委员会）与全美演讲与辩论联盟中国办公室（NSDA China）正式签订中国区独家合作协议。NSDA China成为中国区唯一授权代表，正式将TOC 赛事引入到中国，独家拥有TOC中国区参赛名额及辩手选拔资格。TOC全美冠军赛主要以为全国顶尖选手提供最高水准展示平台，促进学生技艺切磋、学术交流为使命。在四十余年的发展历程中，TOC全美冠军赛以其近乎严苛的选拔标准、精益求精的比赛质量，逐渐成为美国辩论与演讲届公认竞争力最强、学术水平最高的著名赛事，为了给全国范围内高水平辩手搭建争霸平台，并为大家提供切磋技艺、交流学术的机会，NSDA China将组织中国冠军赛（TOC China），旨在为中国学生搭建高水准的比赛平台，同时选拔优胜队伍，作为中国代表团参加在美国肯塔基大学举办的TOC全美冠军赛。</p>
        <p>2018年2月，第二届中国冠军赛（TOC China）即将在国内拉开帷幕。届时，来自全国各地顶尖学校的几百名优秀中学生辩手，将会在此舞台上充分展示现代中国中学生的卓越风采。</p>
    </div>
    <div class="compinfo">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img src="~/Content/asset/img/detail_06.png" alt="Alternate Text" />
                <div class="comp">
                    <h3>比赛日期</h3>
                    <p>2018-3-15; 2018-3-16; 2018-3-16; 2018-3-16; 2018-3-16; 2018-3-16; 2018-3-16; 2018-3-16; 2018-3-16; 2018-3-16; 2018-3-16; 2018-3-16; 2018-3-16; 2018-3-16; 2018-3-16; 2018-3-16</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img src="~/Content/asset/img/detail_03.png" alt="Alternate Text" />
                <div class="comp">
                    <h3>报名截止日期</h3>
                    <p>2018-3-15</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img src="~/Content/asset/img/detail_09.png" alt="Alternate Text" />
                <div class="comp">
                    <h3>退费截止日期</h3>
                    <p>2018-2-25</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img src="~/Content/asset/img/detail_16.png" alt="Alternate Text" />
                <div class="comp">
                    <h3>报名队伍上限</h3>
                    <p>30队</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img src="~/Content/asset/img/detail_15.png" alt="Alternate Text" />
                <div class="comp">
                    <h3>赛场地址</h3>
                    <p>上海市 杨浦区淞沪路303号6层</p>
                </div>
            </div>
        </div>
        <div class="condititle">
            <img src="~/Content/asset/img/detail_19.png" />
            <h3>组别条件介绍</h3>
        </div>
        <div class="row groups">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 group">
                <h3>初中新手组</h3>
                <div class="ask"><h5>年级要求：</h5><p>6年级-9年级</p></div>
                <div class="ask"><h5>累计比赛次数要求：</h5><p>0-3次</p></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 group">
                <h3>初中新手组</h3>
                <div class="ask"><h5>年级要求：</h5><p>6年级-9年级</p></div>
                <div class="ask"><h5>累计比赛次数要求：</h5><p>0-3次</p></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 group">
                <h3>初中新手组</h3>
                <div class="ask"><h5>年级要求：</h5><p>6年级-9年级</p></div>
                <div class="ask"><h5>累计比赛次数要求：</h5><p>0-3次</p></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 group">
                <h3>初中新手组</h3>
                <div class="ask"><h5>年级要求：</h5><p>6年级-9年级</p></div>
                <div class="ask"><h5>累计比赛次数要求：</h5><p>0-3次</p></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 group">
                <h3>初中新手组</h3>
                <div class="ask"><h5>年级要求：</h5><p>6年级-9年级</p></div>
                <div class="ask"><h5>累计比赛次数要求：</h5><p>0-3次</p></div>
            </div>
        </div>
        <a href="/Home/playercomsignup" class="imme">立即报名</a>
    </div>
    <div class="notfit">
        <p>
            对不起！<br /> 您不符合此赛事的报名要求。
        </p>
        <a href="javascript:;" class="exit">关闭窗口</a>
    </div>
</div>