
@{
    ViewBag.Title = "赛事管理员登录";
}
<link href="@Url.Content("~/Content/asset/css/About.css?1.1.2")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/eventmanagelogin.css?1.1.2")" rel="stylesheet" type="text/css" />


<div class="ad">

</div>

<!--面包屑导航-->
<div class="rode">

</div>

<div class="container log-con">
    <div class="login">
        <h3>赛事管理员登陆</h3>
        <p>注册邮箱 Email</p>
        <img src="~/Content/asset/img/member.svg" alt="Alternate Text" />
        <input type="text" name="name" value="" />
        <p>登录密码 Password <a href="javascript:;">忘记密码 Forgot?</a></p>
        <img src="~/Content/asset/img/password.svg" alt="Alternate Text" />
        <input type="password" name="name" value="" />
        <a href="/Home/eventmanage" class="button">登录 Sign In</a>
        <p>还不是赛事管理员?  <a href="/Home/eventmanageregform" class="reg-a">点击申请赛事管理员</a></p>
    </div>

</div>
