@{
    Layout = "~/Views/Shared/_EventManage.cshtml";
    ViewBag.Title = "比赛进程管理";
}
<link href="@Url.Content("~/Content/asset/css/eventmanagelists.css?1.1.4")" rel="stylesheet" type="text/css" />
<div class="container event-lists">
    <div class="compe-lists">
        <ul class="manage-lists">
            <li><input type="checkbox"><p>比赛规则设置</p></li>
            <li><input type="checkbox"><p>选手报名管理</p></li>
            <li><input type="checkbox"><p>裁判报名管理</p></li>
            <li><input type="checkbox"><p>Room管理</p></li>
            <a href="javascript:;" class="clickready"><p>准备好了吗？</p><h4>点击开始比赛当日操作</h4></a>
        </ul>
    </div>
    <div class="tri"></div>

    <table>
        <thead>
            <tr>
                <th>组队编号</th>
                <th>NSDA会员编号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>联系电话</th>
                <th>年级</th>
                <th>学校</th>
                <th>学校所在城市</th>
                <th>报名组别</th>
                <th>状态</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">021</td>
                <td>N1899235</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>

            </tr>
            <tr>
                <td>N1899225</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>
            </tr>
            <tr>
                <td rowspan="2">021</td>
                <td>N1899235</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>

            </tr>
            <tr>
                <td>N1899225</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>
            </tr>
            <tr>
                <td rowspan="2">021</td>
                <td>N1899235</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>

            </tr>
            <tr>
                <td>N1899225</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>
            </tr>
            <tr>
                <td rowspan="2">021</td>
                <td>N1899235</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>

            </tr>
            <tr>
                <td>N1899225</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>
            </tr>
            <tr>
                <td rowspan="2">021</td>
                <td>N1899235</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>

            </tr>
            <tr>
                <td>N1899225</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>
            </tr>
            <tr>
                <td rowspan="2">021</td>
                <td>N1899235</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>

            </tr>
            <tr>
                <td>N1899225</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation" id="page">
        <div class="page">
            <a href="javascript:void(0);" class="prev"><</a>
            <a href="javascript:void(0);" class="on">1</a>
            <span>...</span>
            <a href="javascript:void(0);">4</a>
            <a href="javascript:void(0);">5</a>
            <a href="javascript:void(0);">6</a>
            <span>...</span>
            <a href="javascript:void(0);">7</a>
            <a href="javascript:void(0);" class="next">></a>
        </div>
    </nav>
</div>
