@{
    Layout = "~/Views/Shared/_EventManage.cshtml";
    ViewBag.Title = "裁判报名管理";
}
<link href="@Url.Content("~/Content/asset/css/eventmanageplayer.css?1.1.0")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/eventmanageumpire.css?1.1.0")" rel="stylesheet" type="text/css" />
@Scripts.Render("~/Content/asset/layer/js/layer.js")
@Html.Partial("_manager")
<div class="event-lists">
    <div class="classcheck">
        <img src="~/Content/asset/img/sinfo_03.png" alt="" />
        <div class="class">
            <div class="group">
                <div class="group-item">
                    <p>按状态查看：</p><a href="javascript:;" class="selected">不限</a>
                </div>
                <div class="group-con">
                    <a href="javascript:;">待审核</a>
                    <a href="javascript:;">已录取</a>
                    <a href="javascript:;">未录取</a>
                    <a href="javascript:;">候选名单</a>
                    <a href="javascript:;">临时裁判</a>
                    <a href="javascript:;">标记</a>
                </div>
            </div>
            <div class="data">
                <div class="data-item">
                    <p>数据统计：</p>
                </div>
                <div class="data-con">
                    <a href="javascript:;">申请总人数：2</a>
                    <a href="javascript:;">待审核：3</a>
                    <a href="javascript:;">已录取：4</a>
                    <a href="javascript:;">未录取：5</a>
                    <a href="javascript:;">候选名单：6</a>
                    <a href="javascript:;">临时裁判：12</a>
                    <a href="javascript:;">标记：15</a>
                </div>
            </div>
            <span class="addjudge">+ 添加临时裁判</span>
        </div>

        <table>
            <thead>
                <tr>
                    <th>裁判编号</th>
                    <th>裁判名字</th>
                    <th>联系电话</th>
                    <th>电子邮箱</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="mark"><i class="iconfont icon-qizhibiaojibiaozhu"></i></span>021</td>
                    <td>James RingerJames Ringer</td>
                    <td>13948485677</td>
                    <td>1394@hahahaha.com</td>
                    <td>已录取</td>
                    <td><a href="javascript:;" class="enrol">录取此人</a><a href="javascript:;" class="refuse">拒绝此人</a><a href="javascript:;" class="candidate">设为候选</a></td>
                </tr>
                <tr>
                    <td><span class="mark"><i class="iconfont icon-qizhibiaojibiaozhu"></i></span>021</td>
                    <td>James RingerJames Ringer<span class="snap">临时裁判</span></td>
                    <td>13948485677</td>
                    <td>13dfghjhgfdsfgh94@hahahaha.com</td>
                    <td>已录取</td>
                    <td><a href="javascript:;" class="refuse">拒绝此人</a><a href="javascript:;" class="candidate">设为候选</a></td>
                </tr>
                <tr class="markred">
                    <td><span class="mark"><i class="iconfont icon-qizhibiaojibiaozhu"></i></span>021</td>
                    <td>James RingerJames Ringer</td>
                    <td>13948485677</td>
                    <td>1394@hahahaha.com</td>
                    <td>已录取</td>
                    <td><a href="javascript:;" class="enrol">录取此人</a><a href="javascript:;" class="refuse">拒绝此人</a><a href="javascript:;" class="candidate">设为候选</a></td>
                </tr>
                <tr>
                    <td><span class="mark"><i class="iconfont icon-qizhibiaojibiaozhu"></i></span>1234567890</td>
                    <td>James RingerJames Ringer<span class="snap">临时裁判</span></td>
                    <td>13948485677</td>
                    <td>13dfghjhgfdsfgh94@hahahaha.com</td>
                    <td>已录取</td>
                    <td><a href="javascript:;" class="refuse">拒绝此人</a><a href="javascript:;" class="candidate">设为候选</a></td>
                </tr>
                <tr>
                    <td><span class="mark"><i class="iconfont icon-qizhibiaojibiaozhu"></i></span>021</td>
                    <td>James RingerJames Ringer</td>
                    <td>13948485677</td>
                    <td>1394@hahahaha.com</td>
                    <td>已录取</td>
                    <td><a href="javascript:;" class="enrol">录取此人</a><a href="javascript:;" class="candidate">设为候选</a></td>
                </tr>
                <tr>
                    <td><span class="mark"><i class="iconfont icon-qizhibiaojibiaozhu"></i></span>021</td>
                    <td>James RingerJames Ringer<span class="snap">临时裁判</span></td>
                    <td>13948485677</td>
                    <td>13dfghjhgfdsfgh94@hahahaha.com</td>
                    <td>已录取</td>
                    <td><a href="javascript:;" class="refuse">拒绝此人</a><a href="javascript:;" class="candidate">设为候选</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation" id="page">
        <div class="page">
            <a href="javascript:void(0);" class="prev"><</a>
            <a href="javascript:void(0);" class="on">1</a>
            <span>...</span>
            <a href="javascript:void(0);">4</a>
            <a href="javascript:void(0);">5</a>
            <a href="javascript:void(0);">6</a>
            <span>...</span>
            <a href="javascript:void(0);">7</a>
            <a href="javascript:void(0);" class="next">></a>
        </div>
    </nav>
</div>
<script>
    $(".addjudge").click(function () {
        layer.open({
            title: "",
            type: 2,
            content: "/Home/addjudge",
            area: ["565px", "410px"],
            end: function () {
                location.reload();
            }
        });
    })

</script>
















