@{
    ViewBag.Title = "找回密码";
}
<link href="@Url.Content("~/Content/asset/css/About.css?1.1.2")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/forgotpwd.css?1.1.2")" rel="stylesheet" type="text/css" />

<!--这里可能是logo也可能是广告 到底是什么 我也不知道-->
<div class="ad">

</div>

<!--面包屑导航-->
<div class="rode">

</div>
