@{
    ViewBag.Title = "锦标赛";
}
<link href="~/Content/asset/css/judgetourname.css?1.1.0" rel="stylesheet" />
<link href="@Url.Content("~/Content/asset/css/judgetour.css?1.1.0")" rel="stylesheet" type="text/css" />
@Html.Partial("_judgetop")
<div class="container judge-compe">
    @Html.Partial("_judgeleft")
    <div class="judge-con">
        
    </div>
</div>

<script>
    var classVal = document.getElementById("collapseOne").getAttribute("class");
    classVal = classVal.concat("in");
    document.getElementById("collapseOne").setAttribute("class", classVal);

</script>