@{
    ViewBag.Title = "裁判个人中心";
}

<link href="~/Content/asset/css/judgeinformation.css?2.1.0" rel="stylesheet" />


@Html.Partial("_judgetop")
<div class="container judge-compe">
    @Html.Partial("_judgeleft")
    <div class="judge-con">
        <div class="per-top">
            <i class="iconfont icon-yonghu1 integral" aria-hidden="true"></i>
            <p class="scorecheck">Changing your account information</p>
        </div>
        <div class="per-con">
            <div class="person-title"></div>
            <div class="modifyinfo">
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <div class="form-con" id="email"><p>admin@enreachedu.com</p></div>
                </div>
                <div class="form-group two-label">
                    <div>
                        <label for="firstname"> First Name:</label>
                        <div class="form-con">
                            <input type="text" id="firstname">
                        </div>
                    </div>
                    <div>
                        <label for="lastname">Last Name:</label>
                        <div class="form-con">
                            <input type="text" id="lastname">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Gender:</label>
                    <div class="form-con">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Female
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <div class="form-con" id="address">
                        <input type="text">
                    </div>
                </div>
                <div class="emergency">
                    <h4>Emergency Contact Information</h4>
                    <div class="form-group">
                        <label>Emergency Contact Person:</label>
                        <div class="form-con">
                            <input type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Emergency Numbe:</label>
                        <div class="form-con">
                            <input type="text">
                        </div>
                    </div>
                    <button>Confirm Your Information</button>
                </div>
            </div>
            <div class="modifypassword">
                <img src="~/Content/asset/img/pass_03.png" alt="" />
                <div class="modifypanel">
                    <input type="password" placeholder="Password">
                    <input type="password" placeholder="Repeat the Password">
                    <input type="button" value="Create The New Password" class="confirmnewpassword">
                </div>
            </div>
        </div>
    </div>
</div>

