@{
    ViewBag.Title = "申请参与的比赛列表";
}
<link href="@Url.Content("~/Content/asset/css/judgetour.css?1.1.0")" rel="stylesheet" type="text/css" />
@Html.Partial("_judgetop")
<div class="container judge-compe">
    @Html.Partial("_judgeleft")
    <div class="judge-con">
        
    </div>
</div>

