<link href="~/Content/asset/css/mapfour.css?1.1.0" rel="stylesheet" />
<div class="mapfour">
    <div class="mlinefour linefourleft line1">
        <div class="win wtop wleft">
            stanly
        </div>
        <div class="win wfbottom wleft">
            coach
        </div>
    </div>
    <div class="mlinefour linefourleft line2">
        <div class="win wtop wleft">
            stanly
        </div>
        <div class="win wfbottom wleft">
            coach
        </div>
    </div>
    <div class="mlinetwo linetwoleft">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mline lineleft">
        <div class="win wtop wmiddle">
            stanly
        </div>
    </div>
    <i class="iconfont icon-vs2 vs"></i>
    <div class="mline lineright">
        <div class="win wtop wmiddle">
            kevin
        </div>
    </div>
    <div class="mlinetwo linetworight">
        <div class="win wtop wmiddle">
            stanly
        </div>
        <div class="win wbottom wmiddle">
            coach
        </div>
    </div>
    <div class="mlinefour linefourright line1">
        <div class="win wtop wright">
            stanly
        </div>
        <div class="win wfbottom wright">
            coach
        </div>
    </div>
    <div class="mlinefour linefourright line2">
        <div class="win wtop wright">
            stanly
        </div>
        <div class="win wfbottom wright">
            coach
        </div>
    </div>
</div>