
@{
    ViewBag.Title = "会员积分查询";
}


<link href="@Url.Content("~/Content/membercenter.css?1.1.0")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/compesign.css?1.1.0")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/score.css?1.1.0")" rel="stylesheet" type="text/css" />


<div class="mec-ban">
    <div class="container player">
        <div class="player-info">
            <a href="/Home/PlayerMembercenter"><img src="~/Content/img/teacher.png" alt="" /></a>
            <div class="player-num">
                <p>NSDA CHINA 注册会员：</p>
                <p>目前 NSDA 积分：</p>
                <p>NSDA 会员编号：</p>
            </div>
            <a href="#" class="player-code">
                <i class="iconfont icon-erweima"></i>
                我的二维码
            </a>
        </div>
    </div>
</div>


<div class="container player-compe player-score">
    <div class="info-lists">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <div class="panel-title">
                        <p>My tournaments</p>
                        <h3>
                            我的比赛&nbsp;&nbsp;&nbsp;
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                v
                            </a>
                        </h3>

                    </div>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul>
                            <li><a href="/Home/PlayerCompeSign" class="compe">比赛报名</a></li>
                            <li><a href="/Home/PlayerHadCompe" class="compe">已参加比赛</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <div class="panel-title">
                        <p>Activity management</p>
                        <h3>
                            活动管理&nbsp;&nbsp;&nbsp;
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                v
                            </a>
                        </h3>

                    </div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        dfgfgf
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <div class="panel-title">
                        <p>Personal information</p>
                        <h3>
                            会员信息&nbsp;&nbsp;&nbsp;
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                v
                            </a>
                        </h3>

                    </div>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <ul>
                            <li class="compebaoming"><a href="/Home/PlayerScore" class="compe baoming">会员积分查询</a></li>
                            <li><a href="/Home/PlayerInfermation" class="compe">修改个人资料</a></li>
                            <li><a href="#" class="compe">绑定教练</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <div class="panel-title">
                        <p> Member Resources</p>
                        <h3>
                            会员资源&nbsp;&nbsp;&nbsp;
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                v
                            </a>
                        </h3>

                    </div>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        dfgh
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="score-con">
        <div class="score-top">
            <img class="integral" src="~/Content/img/score_03.jpg" alt="...">
            <p class="scorecheck">积分查询</p>
            <a href="#">
                <span class="score-search">
                    <i class="iconfont icon-fangdajing"></i>搜索
                </span>
            </a>
            <input type="text" class="date-input" id="test1" placeholder="Date Select">
            @Scripts.Render("~/Scripts/laydate/laydate.js")
            <script>
                laydate.render({
                    elem: '#test1',
                    lang: 'en'
                });
            </script>
        </div>
        <div class="score-table">
            <table>
                <thead>
                    <tr>
                        <th width="13%">比赛编码</th>
                        <th width="35%">比赛名称</th>
                        <th width="10%">类别</th>
                        <th width="13%">组别</th>
                        <th width="7%">积分</th>
                        <th width="26%">状态</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>13</td>
                        <td><a href="#" class="checkdetail">查看明细</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>15</td>
                        <td><a href="#" class="checkdetail">查看明细</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>24</td>
                        <td><a href="#" class="checkdetail">查看明细</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

