
@{
    ViewBag.Title = "会员注册";
}

<link href="@Url.Content("~/Content/asset/css/About.css?1.1.2")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/playerregform.css?1.1.3")" rel="stylesheet" type="text/css" />

<div class="ad">

</div>

<div class="rode">

</div>

@*会员注册*@

<div class="container regform-con">
    <h3>欢迎加入NSDA会员，您需要几分钟填写申请信息</h3>
    <div class="reg-sign">
        <span class="signup">Sign Up</span>
        <form class="form-ctrl">
            <div class="form-group">
                <label for="email" class="form-label">注册邮箱</label>
                <input type="email" class="form-input" id="email">
            </div>
            <div class="form-group">
                <label for="password" class="form-label">密码</label>
                <input type="password" class="form-input" id="password">
            </div>
            <div class="form-group">
                <label for="confirmpassword" class="form-label">确认密码</label>
                <input type="password" class="form-input" id="confirmpassword">
            </div>
            <div class="form-group">
                <div class="form-group-small">
                    <label for="lastname" class="form-label">姓</label>
                    <input type="text" class="form-input" id="lastname">
                </div>
                <div class="form-group-small">
                    <label for="firstname" class="form-label">名</label>
                    <input type="text" class="form-input" id="firstname">
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-small">
                    <label for="pylastname" class="form-label">拼音姓</label>
                    <input type="text" class="form-input" id="pylastname">
                </div>
                <div class="form-group-small">
                    <label for="pyfirstname" class="form-label">拼音名</label>
                    <input type="text" class="form-input" id="pyfirstname">
                </div>
            </div>
            <div class="form-group">
                <label for="grade" class="form-label">目前年级</label>
                <select class="form-select-grade" id="grade">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                    <label for="telephone" class="form-label">联系电话</label>
                    <input type="text" class="form-input-phone" id="telephone">
            </div>
            <div class="form-group">
                <div class="form-group-small">
                    <label for="urgentbody" class="form-label">紧急联系人</label>
                    <input type="text" class="form-input" id="urgentbody">
                </div>
                <div class="form-group-small">
                    <label for="urgentphone" class="form-label">紧急电话</label>
                    <input type="text" class="form-input" id="urgentphone">
                </div>
            </div>
            <div class="form-group form-sexy">
                <label for="sex" class="form-label">性别</label>
                <label class="radio-inline sexy">
                    <input type="radio" name="inlineRadioOptions" id="men" value="option1"> 男
                </label>
                <label class="radio-inline sexy">
                    <input type="radio" name="inlineRadioOptions" id="women" value="option2"> 女
                </label>
            </div>
            <div class="form-group">
                <label for="address" class="form-label">通讯地址</label>
                <input type="text" class="form-input" id="address">
            </div>
            <div class="form-group">
                <label for="idcard" class="form-label">有效证件</label>
                <select class="form-select-card" id="card">
                    <option>身份证</option>
                    <option>护照</option>
                    <option>港澳台通行证</option>
                </select>
                <input type="text" class="form-input-card" id="idcard">
            </div>
            <div class="form-group">
                <label for="school" class="form-label">目前学校</label>
                <input class="form-select-school" id="startyear" readonly="readonly">
                <em class="em"> —</em>
                <input class="form-select-school" id="endyear">
                <select class="form-select-schoolads schoolads" id="province" readonly="readonly">
                    <option>省</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <select class="form-select-schoolads" id="city">
                    <option>市</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <select class="form-select-schoolads form-sel-ads" id="school">
                    <option>学校</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <button type="submit" class="button">递交注册会员申请</button>
        </form>
    </div>
</div>

<script>
    laydate.render({
        elem: '#startyear'
        , type: 'month'
    });
    laydate.render({
        elem: '#endyear'
        , type: 'month'
    });
</script>