
@{
    ViewBag.Title = "我的比赛--比赛报名";
}

<link href="@Url.Content("~/Content/membercenter.css?1.1.0")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/compesign.css?1.1.0")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/hascompe.css?1.1.0")" rel="stylesheet" type="text/css" />


<div class="mec-ban">
    <div class="container player">
        <div class="player-info">
            <a href="/Home/PlayerMembercenter"><img src="~/Content/img/teacher.png" alt="" /></a>
            <div class="player-num">
                <p>NSDA CHINA 注册会员：</p>
                <p>目前 NSDA 积分：</p>
                <p>NSDA 会员编号：</p>
            </div>
            <a href="#" class="player-code">
                <i class="iconfont icon-erweima"></i>
                我的二维码
            </a>
        </div>
    </div>
</div>


<div class="container player-compe">
    <div class="info-lists">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <div class="panel-title">
                        <p>My tournaments</p>
                        <h3>
                            我的比赛&nbsp;&nbsp;&nbsp;
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                v
                            </a>
                        </h3>

                    </div>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul>
                            <li><a href="/Home/PlayerCompeSign" class="compe">比赛报名</a></li>
                            <li class="compebaoming"><a href="/Home/PlayerHadCompe" class="compe baoming">已参加比赛</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <div class="panel-title">
                        <p>Activity management</p>
                        <h3>
                            活动管理&nbsp;&nbsp;&nbsp;
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                v
                            </a>
                        </h3>

                    </div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        dfgfgf
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <div class="panel-title">
                        <p>Personal information</p>
                        <h3>
                            会员信息&nbsp;&nbsp;&nbsp;
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                v
                            </a>
                        </h3>

                    </div>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <ul>
                            <li><a href="/Home/PlayerScore" class="compe">会员积分查询</a></li>
                            <li><a href="/Home/PlayerInfermation" class="compe">修改个人资料</a></li>
                            <li><a href="/Home/PlayerBoundCoach" class="compe">绑定教练</a></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <div class="panel-title">
                        <p> Member Resources</p>
                        <h3>
                            会员资源&nbsp;&nbsp;&nbsp;
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                v
                            </a>
                        </h3>

                    </div>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        dfgh
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comp-lists tab">
        <ul class="comp-title">
            <li class="act tabt">已参与比赛</li>
            <li class="tabt">退赛信息</li>
        </ul>
        <div class="comp-con tabc">
            <div class="hadtable tabcon">
                <table>
                    <thead>
                        <tr>
                            <th width="13%">比赛编码</th>
                            <th width="20%">比赛名称</th>
                            <th width="4%">类别</th>
                            <th width="10%">会员编码</th>
                            <th width="12%">队员</th>
                            <th width="12%">状态</th>
                            <th width="30%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>02</td>
                            <td>03</td>
                            <td>04</td>
                            <td>05</td>
                            <td>报名邀请中</td>
                            <td><a href="#" class="select">是否接受组队</a></td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>02</td>
                            <td>03</td>
                            <td>04</td>
                            <td>05</td>
                            <td>确认组队</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>02</td>
                            <td>03</td>
                            <td>04</td>
                            <td>05</td>
                            <td>组队成功</td>
                            <td><a href="#" class="pay">付款</a><a href="#" class="apply">退赛申请</a></td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>02</td>
                            <td>03</td>
                            <td>04</td>
                            <td>05</td>
                            <td>06</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>02</td>
                            <td>03</td>
                            <td>04</td>
                            <td>05</td>
                            <td>报名成功</td>
                            <td><a href="#" class="apply">退赛申请</a></td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>02</td>
                            <td>03</td>
                            <td>04</td>
                            <td>05</td>
                            <td>06</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>02</td>
                            <td>03</td>
                            <td>04</td>
                            <td>05</td>
                            <td>报名成功</td>
                            <td><a href="#" class="apply">退赛申请</a></td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>02</td>
                            <td>03</td>
                            <td>04</td>
                            <td>05</td>
                            <td>06</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>02</td>
                            <td>03</td>
                            <td>04</td>
                            <td>05</td>
                            <td>报名成功</td>
                            <td><a href="#" class="apply">退赛申请</a></td>
                        </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="exittable tabcon">
                <table>
                    <thead>
                        <tr>
                            <th width="13%">比赛编码</th>
                            <th width="40%">比赛名称</th>
                            <th width="10%">类别</th>
                            <th width="15%">组别</th>
                            <th width="20%">状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>退赛确认</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>退费申请中</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>退费完成</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>





</div>
@Scripts.Render("~/Scripts/tabs.js")
