
@{
    ViewBag.Title = "会员登录";
}
<link href="@Url.Content("~/Content/asset/css/About.css?1.1.2")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/registered.css?1.1.2")" rel="stylesheet" type="text/css" />

<!--这里可能是logo也可能是广告 到底是什么 我也不知道-->
<div class="ad">

</div>

<!--面包屑导航-->
<div class="rode">
    
</div>

<!--会员注册-->
<div class="reg-con-big reg-content container-fluid">
    <div class="reg-left"></div>
    <div class="reg-right"></div>
    <div class="circle"></div>
    <div class="medium"></div>
    <div class="triangle"></div>
    <div class="register container">
        <div class="reg-zh">
            <h3>NSDA会员登录</h3>
            <p>注册邮箱 Email</p>
            <form  class="form-horizontal" action="" method="post">
                <img src="~/Content/asset/img/member.svg" alt="Alternate Text" />
                <input type="text" name="name" value="" />
                <p>登录密码 Password <a href="#">忘记密码 Forgot?</a></p>
                <img src="~/Content/asset/img/password.svg" alt="Alternate Text" />
                <input type="password" name="name" value="" />
                <a id="test1" href="/Home/playermembercenter" class="button">登录 Sign In</a>
                <p>Not a member?  <a href="/Home/Regform" class="reg-a">即刻注册会员 Sign up now</a></p>
            </form>
        </div>
        <div class="reg-en">
            <h3>NSDA Coach Login</h3>
            <p>注册邮箱 Email</p>
            <form action="/" method="post">
                <img src="~/Content/asset/img/member.svg" alt="Alternate Text" />
                <input type="text" name="name" value="" />
                <p>登录密码 Password <a href="#">忘记密码 Forgot?</a></p>
                <img src="~/Content/asset/img/password.svg" alt="Alternate Text" />
                <input type="password" name="name" value="" />
                <a href="/Home/coachinformation" class="button">登录 Sign In</a>
                <p>Not a coach member?  <a href="#" class="reg-a">Sign up now</a></p>
            </form>
            
        </div>
    </div>
</div>
