@{
    Layout = "~/Views/Shared/_EventManage.cshtml";
    ViewBag.Title = "淘汰赛赛果查询";
}
<link href="@Url.Content("~/Content/asset/css/eventmanageplayer.css?1.1.0")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/doublecheck.css?1.1.0")" rel="stylesheet" type="text/css" />
<link href="~/Content/asset/css/writegrades.css?1.0.0" rel="stylesheet" />
<link href="~/Content/asset/css/track.css?1.1.0" rel="stylesheet" />
<link href="~/Content/asset/css/resulttrack.css?1.1.0" rel="stylesheet" />

@Html.Partial("_manager")
<div class="event-lists ">
    <div class="list-top">
        <a href="/Home/track" class="active list">新手组</a>
        <a href="/Home/track" class="list">公开组</a>
    </div>
    <div class="event-con">
        <div>
            <img src="~/Content/asset/img/result_03.png" />
            <h4>赛果查询</h4>
        </div>
        <div class="gameclass">
            <a href="/Home/resulttrackaround" class="game">循环赛</a>
            <a href="/Home/resulttrackkonckout" class="game viewed">淘汰赛</a>
        </div>
        <div class="set">
            <input id="txt" type="text" placeholder="输入NSDA会员编号/会员姓名" />
            <a href="javascript:;" id="search" class="search">搜索</a>
            <select size="2" id="sel" style="display:none;">
                <option>123</option>
                <option>23456</option>
                <option>1111</option>
                <option>123333</option>
                <option>aaaa</option>
                <option>1bbb23</option>
            </select>
        </div>
        
    </div>
</div>

@Scripts.Render("~/Content/asset/js/block.js")




