<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Areas/admin/asset/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Areas/admin/asset/js/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Areas/admin/asset/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/admin/asset/css/base.css" rel="stylesheet" />
    <link href="~/Areas/admin/asset/js/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
    <link href="~/Areas/admin/asset/js/plugins/tree/tree.css" rel="stylesheet" />
    <style>
        html, body {
            height: 100%;
            width: 100%;
        }
    </style>
    @RenderSection("styles", false)
</head>
<body>
    @RenderBody()
    <script src="~/Areas/admin/asset/jquery/jquery-1.11.1.min.js"></script>
    <script src="~/Areas/admin/asset/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Areas/admin/asset/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Areas/admin/asset/js/plugins/layout/jquery.layout.js"></script>
    <script src="~/Areas/admin/asset/js/plugins/datepicker/WdatePicker.js"></script>
    <script src="~/Areas/admin/asset/js/plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="~/Areas/admin/asset/js/plugins/jqgrid/jqgrid.js"></script>
    <script src="~/Areas/admin/asset/js/plugins/tree/tree.js"></script>
    <script src="~/Areas/admin/asset/jquery/jquery.validate.js"></script>
    <script src="~/Areas/admin/asset/js/core.js"></script>
    <script src="~/Areas/admin/asset/js/httputility.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
