@using nsda.Utilities;

<nav class="nav navbar-inverse nav-top navbar-fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse">
            <div class="container search navbar-right">
                
                @{



                }
                @if (Request.Cookies["webuserkey"] == null)
                {
                    <a href="/register/player" class="navbar-link link"> &nbsp;|&nbsp; 注册 </a><a href="/login/login" class="navbar-link link">登录</a>

                }
                else
                {

                    var u = DesEncoderAndDecoder.Decrypt(Request.Cookies["webuserkey"].Value);
                    //Response.Write(u);
                    WebUserContext obju = u.Deserialize<WebUserContext>();
                    <a class="navbar-link link">@obju.Name</a>
                   <a href="/login/logout" class="navbar-link link"> &nbsp;|&nbsp; 退出</a>
                }
                <span class="iconfont icon-yonghu" aria-hidden="true"></span>
                <a href="" id="check"><span class="iconfont icon-sousuo" aria-hidden="true"></span></a>
                <input type="text" class="form-control" name="" placeholder="">
            </div>
        </div>
    </div>
</nav>