@using nsda.Utilities
@using nsda.Model.dto.response
@model PlayerCoachResponse
@{
    Layout = "";
}
<html>
<head>

    <link rel="stylesheet" href="/asset/css/playerboundcoach.css?version=@Constant.Version">
</head>
<body>
    <input type="hidden" value="@Model.Id" id="id"/>
    <div class="addcoach" id="addeducation">
        <img class="coachimg" src="/asset/img/bound_03.png" alt="...">
        <div class="form-group">
            <input class="form-select-school" id="startdate" value="@Model.StartDate" readonly>
            <em class="em"> —</em>
            <input class="form-select-school" id="enddate" value="@Model.EndDate" readonly>
            <a href="javascript:;" class="boundcoach" id="confirmadd">绑定教练</a>
        </div>
    </div>
    <script src="/asset/js/jquery.min.js"></script>
    <script src="/asset/js/laydate/laydate.js"></script>
    <script src="/asset/layer/js/layer.js"></script>
    <script>
        laydate.render({
            elem: '#startdate',
            type: 'month'
        });
        laydate.render({
            elem: '#enddate',
            type: 'month'
        });

       $("#confirmadd").click(function () {
            var $startdate = $("#startdate").val();
            if ($startdate == null) {
                layer.msg('请输入起始年月', { icon: 5, time: 1000 });
                return;
            }
            var $enddate = $("#enddate").val();
            $.ajax({
                url: "/player/playercoach/edit",
                type: "post",
                dataType: "json",
                data: {
                    StartDate: $startdate,
                    EndDate: $enddate,
                    Id: $("#id").val()
                },
                beforeSend: function () {
                    layer.msg('绑定教练中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                },
                success: function (json) {
                    layer.closeAll();
                    if (json.flag) {
                        parent.layer.closeAll();
                    }
                    else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                }
                , error: function () {
                    layer.closeAll();
                }
            });
       });
    </script>
</body>
</html>