.list-top{
    width:100%;
    padding-left:50px;
    border-bottom:1px solid #C3C8CC;
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-bottom:4px;
}
.list-top .active{
    border:1px solid #C3C8CC;
    border-top:3px solid #47BBED;
    border-bottom:3px solid #F5F8FA;
    border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding:5px 10px;
}
.list-top .list{
    padding:5px 30px;
    color:#666699;
    font-size:18px;
    font-weight:400;
}
.list-top{
    margin-bottom:30px;
}
.searchplayer{
    position:relative;
}
.searchplayer input{
    width:200px;
    height:30px;
    background:transparent;
    border:1px solid #D2D6DA;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    padding-left:10px;
}
.searchplayer a.search{
    display:inline-block;
    padding:4px 20px;
    margin-left:20px;
    cursor:pointer;
}
.searchplayer select#sel{
    width:200px;
    position:absolute;
    left:0;
    top:30px;
}
.searchplayer select#sel::-webkit-scrollbar{
    width:6px;
    height:6px;
}
.searchplayer select#sel::-webkit-scrollbar-track {
      background-color: #ddd;
}

.searchplayer select#sel::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}
.searchplayer select#sel::-webkit-scrollbar-button {
    background-color: #888;
    display: none;
}
.batchsignin{
    width:200px;
    height:30px;
    border:1px solid #D2D6DA;
    background: #fff;
    padding-left:5px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.addtmpplayer{
    display:inline-block;
    float:right;
    padding:5px 10px;
    cursor:pointer;
}
.event-lists table{
    border-collapse: collapse;
    width: 100%;
    color: #666699;
    margin-top: 20px;
    margin-bottom: 70px;
}
.event-lists table tbody td:first-child{
    position:relative;
}
.event-lists table tbody td:first-child span.mark{
    display:inline-block;
    width:20px;
    height:20px;
    position:absolute;
    left:3px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
}
.event-lists table tbody td.status{
    min-width:50px;
}
.event-lists table tbody td.status a{
    display:inline-block;
    padding:4px 16px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    color: #00;
}


.event-lists table tbody td:not(:last-child){
    max-width: 130px;
    word-break: keep-all;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}

body{
    padding:0;
    margin:0;
}
.fg-layer-iframe iframe{
    border:2px solid #2C3E50;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.fg-layer-iframe .fg-layer-content{
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.addplayer{
    overflow:hidden;
    background:#D8E0E5;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    padding:20px;
}
.addplayer h4{
    font-size:18px;
    color:#666666;
    text-align:center;
}
.addplayer span{
    display:inline-block;
    width:30px;
    height:3px;
    margin-bottom:20px;
    background:#4E5D66;
    text-align:center;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}

.addplayer button{
    display:inline-block;
    width:240px;
    height:50px;
    background:#4E5D66;
    color:#fff;
    text-align:center;
    line-height:50px;
    font-size:18px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border:none;
    margin-top:45px;
    cursor:pointer;
    margin-left:30%;
}
.addplayer .form-group{
    margin-top:20px;
    height:36px;
    width:100%;
    margin:10px;
}
.addplayer .des{
    margin-top:56px;
}
.addplayer .form-group label{
    float:left;
    width:100px;
    text-align:right;
    color:#666666;
    font-size:18px;
}
.addplayer .form-group p{
    float:left;
    text-align:left;
    color:#666;
    font-size:18px;
    padding:0;
    margin:0;
}
.addplayer .form-group input{
    width:200px;
    height:36px;
    background:#FFF6E7;
    padding-left:5px;
    border:1px solid #b0b0b0;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.addplayer .form-group select{
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.addplayer .form-group select.form-select-ads{
    width:100px;
    height:36px;
    background:#FFF6E7;
    border:1px solid #b0b0b0;
    padding-left:3px;
}
.addplayer .form-group select.form-select-school{
    width:195px;
    height:36px;
    background:#FFF6E7;
    border:1px solid #b0b0b0;
    padding-left:3px;
}

















