.event-select{
    width:100%;
    padding-top:90px;
    background:#F5F8FA;
    position:relative;
    z-index:1;
    margin-bottom:100px;
}
.eventstarlists{
    padding-left:80px;
}


.event-select .form-group label{
    width:100%;
    font-size:14px;
    color:#333;
    letter-spacing:1px;
    font-weight:800;
}
.event-select .form-group{
    margin-bottom:20px;
}

.event-select .compename input{
    width:100%;
    height:36px;
    font-size:14px;
    background:transparent;
    border:1px solid #cccccc;
    padding:0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom:10px;
}
.event-select .compedeadtime input,.event-select .compecost input,.event-select .comperetime input{
    width:20%;
    height:36px;
    font-size:14px;
    background:#fff;
    border:1px solid #cccccc;
    padding:0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-weight:400;
}
.event-select .form-group .adddate{
    width:20%;
    position:relative;
    float:left;
    margin-right:20px;
}
.event-select .form-group .adddate input{
    width:100%;
    height:36px;
    font-size:14px;
    background:#fff;
    border:1px solid #cccccc;
    padding:0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-weight:400;
}
.event-select .form-group .adddate .delinput{
    font-size:16px;
    position:absolute;
    top:-10px;
    right:-7px;
    cursor:pointer;
}
.event-select .form-group .addinput{
    margin-left:25px;
    cursor:pointer;
    line-height:36px;
}
.event-select .compedeadtime input{
    width:20%;
    height:36px;
}
.event-select .compeaddress select,.event-select .compeaddress input{
    height:36px;
    font-size:14px;
    color:#787373;
    background:#fff;
    border:1px solid #cccccc;
    padding:0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    float:left;
    margin-right:15px;
}
.event-select .compeaddress select{
    width:13%
}
.event-select .compeaddress input{
    width:40%
}
.event-select .compedetail textarea{
    width:100%;
    height:300px;
    font-size:16px;
    color:#787373;
    background:transparent;
    border:1px solid #cccccc;
    padding:0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    resize:none;
}
.event-select .compecost input{
    font-size:18px;
    font-weight:400;
}
.event-select .comperetime input{
    width:20%;
    height:36px;
    font-size:14px;
    color:#787373;
    background:#fff;
    border:1px solid #cccccc;
    padding:0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-right:15px;
}
.event-select .compenumber input{
    width:12%;
    height:36px;
    font-size:14px;
    color:#787373;
    background:#fff;
    border:1px solid #cccccc;
    padding:0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-right:15px;
}
.event-select .teambg{
    width:100%;
    background:#162329;
    padding:0 0 30px 0;
}
.event-select .teambg h3{
    font-size:18px;
    color:#fff;
    line-height:60px;
    float:left;
}
.teambg .addteam{
    display:inline-block;
    float:left;
    margin-left:6%;
    padding:6px 15px;
    margin-top:13px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.teambg .addteam:hover{
    color:white;
}
.event-select .teambg .tbg{
    width:100%;
    background:#28353C;
   margin-bottom:20px;
   padding:10px;
}
.event-select .tbg .teamlist{
    width:30%;
    border:1px solid #fff;
    float:left;
    margin-right:60px;
    padding:10px;
}
.event-select .tbg .teamlist .form-group label{
    color:#ccc;
}
.event-select .tbg .teamlist .groupname input{
    width:100%;
    height:36px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding:0 5px;
    background:#162329;
    border:1px solid #B4BDC2;
}
.event-select .tbg .teamlist .form-group input,.event-select .tbg .teamlist .form-group div select{
    color:#ccc;
}
.event-select .tbg .teamlist .grade{
    height:60px;
}
.event-select .tbg .teamlist .grade p{
    float:left;
    margin-left:10px;
    margin-right:10px;
    line-height:30px;
    color:#ccc;
}
.event-select .tbg .teamlist .grade select{
    width:30%;
    height:36px;
    float:left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding:0 5px;
    background:#162329;
    border:1px solid #B4BDC2;
}
.event-select .tbg .teamlist .allnum p{
    float:left;
    margin-left:10px;
    margin-right:10px;
    line-height:30px;
    color:#ccc;
}
.event-select .tbg .teamlist .allnum {
    margin-bottom: 60px;
}
.event-select .tbg .teamlist .allnum input{
    width:35%;
    height:36px;
    float:left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding:0 5px;
    background:#162329;
    border:1px solid #B4BDC2;
}
.event-select .tbg .teamlist .delteam{
    display:inline-block;
    padding:6px 20px;
    margin:0 auto;
    margin-left:50%;
    transform:translate(-50%);
}
.event-select button{
    padding:2px 35px;
    border:none;
    font-size:18px;
    line-height:55px;
    position:absolute;
    left:50%;
    transform:translate(-50%);
    bottom:-90px;
}
.event-select .form-group input{
    color:#28353C;
}

.event-nav ul a:first-child li{
    color:#fff;
}
.event-select .compecost input[type=number]::-webkit-inner-spin-button,
.event-select .compecost input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.teamlist .allnum input[type=number]::-webkit-inner-spin-button,.teamlist .allnum input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.event-select .compenumber input[type=number]::-webkit-inner-spin-button,.event-select .compenumber input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.compedate,.compedeadtime{
    position:relative;
}
.layui-laydate{
    position:absolute;
}