.mapfour{
    height:500px;
}
.vs {
    font-size: 36px;
    position: absolute;
    left: 500px;
    top: 50%;
    z-index:99;
    transform: translateY(-50%);
}
.mline {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-top: 1px solid #B6BCC0;
    position: absolute;
}
.lineright {
    top: 50%;
    left: 530px;
}

.lineleft {
    top: 50%;
    left: 360px;
}
.win {
    display: inline-block;
    width: 100px;
    font-size: 14px;
    border: 1px solid #B6BCC0;
    background: #F5F8FA;
    position: absolute;
    text-align: center;
    line-height: 40px;
    word-break:break-all;
}
.win{
    position:relative;
}
.wtop{
    top:-20px;
}
.wbottom{
    top:80px;
}
.wmiddle{
    left:15%;
}
.mlinetwo{
    display: inline-block;
    width: 150px;
    height: 160px;
    border-top: 1px solid #B6BCC0;
    border-bottom:1px solid #B6BCC0;
    position: absolute;
}
.linetwoleft{
    border-right:1px solid #B6BCC0;
    top:36%;
    left:210px;
}
.linetworight{
    top:36%;
    left:680px;
    border-left:1px solid #B6BCC0;
}
.wleft{
    left:0;
}
.wright{
    left:50px;
}
.mlinefour{
    display: inline-block;
    width: 150px;
    height: 80px;
    border-top: 1px solid #B6BCC0;
    border-bottom:1px solid #B6BCC0;
    position: absolute;
}
.linefourleft{
    border-right:1px solid #B6BCC0;
    top:28%;
    left:60px;
}
.linefourright{
    border-left:1px solid #B6BCC0;
    top:28%;
    left:830px;
}
.line2{
    top:28%;
}
.line2{
    top:58%;
}
.wfbottom{
    top:1px;
}