.pre{
    display:inline-block;
    width:128px;
    height:30px;
    text-align:center;
    border:none;
    color:#fff;
    padding:5px 15px;
    margin-left:10px;
}
.pre i{
    float:left;
    font-size:22px;
    line-height:1;
}

.posright{
    float:right;
}
.poscen{
    margin-left:290PX;
}
.event-con div{
    min-height:40px;
    margin-bottom:20px;
}
.event-con div h4{
    float:left;
}
.set{
    margin-top:20px;
    margin-bottom:40px;
    position:relative;
}
.set h4{
    font-size:14px;
    font-weight:600;
    color:black;
    line-height:2;
}
.set input{
    width:200px;
    height:36px;
    border:1px solid #C0C5C9;
    font-size:14px;
    color:#ccc;
    padding-left:5px;
}
.set a.search{
    display:inline-block;
    padding:5px 20px;
    font-size:16px;
    margin-left:5px;
}
.check{
    display:inline-block;
    width:230px;
    height:36px;
    text-align:center;
    line-height:1;
    padding:5px 15px;
}
.check i{
    float:left;
    font-size:20px;
    margin-right:5px;
}
.check p{
    line-height:1.6;
}
.lightgreen{
    border:1px solid #B8D689;
    color:#666600;
    background:linear-gradient(to bottom,#CEEAA0,#C1E48B);

}
.lightorange{
    border:1px solid #E7DAAD;
    background:linear-gradient(to bottom,#FFF6D9,#FFEFC2);
    color:#996633;
    margin-left:5px;
}
#sel{
    width:240px;
    margin:0;
    border:1px solid #1C89ED;
    padding:10px;
    position:absolute;
    
    left:0;
    z-index:10;
}
select#sel::-webkit-scrollbar{
    width:6px;
    height:6px;
}
select#sel::-webkit-scrollbar-track {
      background-color: #ddd;
}
select#sel::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}

.constep a{
    margin-top:70px;
    display:inline-block;
    width:208px;
    height:38px;
    padding:0 40px;
    line-height:36px;
    color:white;
    background:#1D8AED;
    text-align:center;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}
.constep a .iconfont{
    text-align:left;
    float:left;
    font-size:30px;
}

.constep a p{
    color:white;
    font-size:18px;
}
.paper{
    width:590px;
    height:510px;
    margin-top:30px;
    padding:10px 30px;
    border:1px solid #B1B7BC;
    background:#F5F5F5;
}
.paper p{
    font-size:14px;
    color:#666699;
    margin-right:15px;
    line-height:1.8;
}
.paper p.flight{
    color:#ff6666;
    float:left;
}
.paper h3{
    float:left;
    font-size:14px;
    line-height:1.8;
    color:#666699;
}
.paper p.name,.paper h3.room,.paper p.roomnum{
    float:left;
}
.paper p.jnumber{
    color:#B4BABF;
    float:left;
}

.paper table{
    border-collapse: collapse;
    width:50%;
    float:left;
    margin-top:30px;
}
.paper table thead th{
    width:100%;
    color:white;
    font-size:18px;
}
.paper table.pro thead th{
    background:#ff6666;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
}
.paper table.con thead th{
    background:#47BBED;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
}
.paper table tbody{
    width:100%;
}
.paper table tbody tr td{
    border:1px solid #B2B8BD;
    position:relative;
    padding:15px;
    max-width:50px;
    word-break:keep-all;
    word-wrap:break-word;
    text-overflow:ellipsis;  
    -o-text-overflow:ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}
.paper table tbody tr td span{
    display:inline-block;
    cursor:pointer;
    position:absolute;
    z-index:9;
    right:-20px;
    top:50%;
    transform:translateY(-50%);
    width:40px;
    height:40px;
    border:1px solid #D1D1CF;
    background:#FFF6E7;
    text-align:center;
    line-height:40px;
}
.paper table tbody tr td span i{
    font-size:20px;
}
.paper table tbody tr{
    border:1px solid #B2B8BD;
}

.paper table tbody tr td.rolebutton{
    cursor:pointer;
    background:linear-gradient(to bottom,#F4F6F8,#E9EDF0);
}
.paper table tbody tr td.rolebutton.click{
    background:#ff6666;
}
.paper div{
    min-height:20px;
    margin-bottom:10px;
}
.paper table{
    margin-top:20px;
    margin-bottom:20px;
}
.paper label{
    width:50%;
    float:left;
}
.paper .radio-inline+.radio-inline{
    margin-left:0
}
.paper{
    position:relative;
}
.paper .refer{
    display:inline-block;
    width:270px;
    height:56px;
    font-size:18px;
    border:none;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:10px;
}

.paper table.pro td,.paper table.con td{
    position:relative;
}
.paper table.pro td input,.paper table.con td input{
    width:100%;
    height:100%;
    background:transparent;
    border:none;
    position:absolute;
    left:0;
    top:0;
    text-align:center;
}

.speechpaper{
    width:580px;
    margin-top:30px;
    padding:10px 30px;
    border:1px solid #B1B7BC;
    background:#F5F5F5;
    position:relative;
}
.speechpaper p{
    font-size:14px;
    color:#666699;
    margin-right:15px;
    line-height:1.8;
}
.speechpaper p.flight{
    color:#ff6666;
    float:left;
}
.speechpaper h3{
    float:left;
    font-size:14px;
    line-height:1.8;
    color:#666699;
}
.speechpaper p.name,.speechpaper h3.room,.speechpaper p.roomnum{
    float:left;
}
.speechpaper p.jnumber{
    color:#B4BABF;
    float:left;
}
.speechpaper .refer{
    display:inline-block;
    width:270px;
    height:56px;
    font-size:18px;
    border:none;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:20px;
}
.speechpaper table{
    width:100%;
    border:1px solid #ccc;
}
.event-lists table tr td{
    border:1px solid #ccc;
}
















