@using nsda.Utilities

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>bindtemp</title>
</head>
<body>
    <div> 
    </div>
    <script src="/asset/js/jquery.min.js"></script>
    <script src="/asset/layer/js/layer.js"></script>
    <script src="/asset/js/validate.js?version=@Constant.Version"></script>
    <script>
        $("#bindtemp").click(function () {
            var $GroupNum = $("#GroupNum").val();
            if (validate.isNull($GroupNum))
            {
                layer.msg('请输入队伍编号', { icon: 5, time: 1000 });
                return;
            }
            var $Email = $("#Email").val();
            if (validate.isNull($Email)) {
                layer.msg('请输入邮箱', { icon: 5, time: 1000 });
                return;
            }
            if (!validate.isEmail($Email)) {
                layer.msg('请输入正确的注册邮箱', { icon: 5, time: 1000 });
                return;
            }
            var $ContactMobile = $("#ContactMobile").val();
            if (validate.isNull($ContactMobile)) {
                layer.msg('请输入联系电话', { icon: 5, time: 1000 });
                return;
            }
            $.ajax({
                url: "/player/playersignup/bindplayer",
                type: "post",
                dataType: "json",
                data: {
                    GroupNum: $GroupNum,
                    Email: $Email,
                    ContactMobile: $ContactMobile,
                },
                beforeSend: function () {
                    layer.msg('绑定中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                },
                success: function (json) {
                    layer.closeAll();
                    if (json.flag) {
                        window.location.href = "/player/playerpay/alipay" + json.data;
                    }
                    else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                }
               ,error: function () {
                   layer.closeAll();
               }
            });
        });
    </script>
</body>
</html>
