@using nsda.Utilities
@{
    ViewBag.Title = "已参与比赛";
    Layout = "~/Areas/player/Views/Shared/_Layout.cshtml";
}
@section styles
{
    <link rel="stylesheet" href="/asset/css/common/common.css?version=@Constant.Version">
    <link rel="stylesheet" href="/asset/css/player/playerpartin.css?version=@Constant.Version">
    <link rel="stylesheet" href="/asset/css/player/player.css?version=@Constant.Version">
}

<div class="pi-top list-top hadcompe">
    <a href="javascript:;" class="active box-sizing list">已参与的比赛</a>
    <a href="/player/playersignup/refund" class="list box-sizing">退赛信息</a>
</div>
<div class="comp-lists tab">
    <a href="javascript:;" class="addexper radius5 blue color-white" id="addexper"><i class="iconfont icon-add1"></i> 添加临时参赛</a>
    <div class="comp-con part role">
        <div class="hadtable">
            <table>
                <thead class="pinkbg">
                    <tr>
                        <th>队伍编码</th>
                        <th>赛事编码/名称</th>
                        <th>类别</th>
                        <th>会员编码</th>
                        <th>队员</th>
                        <th>状态</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="data">
                </tbody>
            </table>
            <nav aria-label="Page navigation" id="pager">
            </nav>
        </div>
    </div>
</div>

@section scripts
{
    <script src="/asset/js/pager.js"></script>
    <script src="/asset/js/enumreplace.js?version=@Constant.Version"></script>
    <script>
        $(document).ready(function () {
            $("#collapseOne").addClass("in");
        });

        function foreach(data, groupNum) {
            var reval = new Array();
            if (data != null) {
                $(data).each(function (i, v) {
                    if (v.GroupNum == groupNum) {
                        reval.push(v);
                    }
                });
            }
            return reval.length;
        }
        (function (w) {
            var playersignup = {
                param: {
                    TotalPage: 1,
                    PageIndex: 1,
                    PageSize: 10,
                }
            };
            playersignup.Load = function (filter) {
                $.ajax({
                    url: "/player/playersignup/signuplist",
                    type: "get",
                    dataType: "json",
                    data: filter,
                    success: function (json) {
                        if (json.records > 0) {
                            var _pager = new w.pager({
                                'parent': $('#pager')
                            });
                            playersignup.param.TotalPage = json.total;
                            _pager.init(filter, playersignup.param.PageIndex, playersignup.param.TotalPage, function (p) {
                                playersignup.param.PageIndex = p;
                                playersignup.Load(playersignup.param)
                            });
                            var html = '';
                            var groupNum = "";
                            var flag = 0;
                            var rowspan = 1;
                            $.each(json.rows, function (k, val) {
                                if (groupNum != val.GroupNum) {
                                    groupNum = val.GroupNum;
                                    flag = 1;
                                    rowspan = foreach(json.rows, groupNum);
                                }
                                else {
                                    flag = 0;
                                }
                                html += '<tr>'
                                if (flag == 1) {
                                    //html += '<td rowspan=' + rowspan + '>' + val.EventCode + '</td>';
                                    html += '<td rowspan=' + rowspan + '>' + val.GroupNum + '</td>';
                                    html += '<td rowspan=' + rowspan + '>' +val.EventCode+"<br/>"+ val.EventName + '</td>';
                                    html += '<td rowspan=' + rowspan + '>' + enumreplace.replaceeventType(val.EventType) + '</td>';
                                }
                                html += '<td>' + val.MemberCode + '</td>';
                                html += '<td>' + val.MemberName + '</td>';
                                if (val.Flag) {//数据是否是自己的
                                    if (val.SignUpType == 1) {//是否是邀请人
                                        html += '<td>' + enumreplace.replacezsignUpStatus(val.SignUpStatus) + '</td>';
                                        html += '<td>';
                                        if (val.SignUpStatus == 1) {
                                            html += '<a href="javascript:;" data-id=' + val.Id + ' class="apply applyretire">退赛申请</a>';
                                        } else if (val.SignUpStatus == 2) {//待支付
                                            html += '<a href="javascript:;" data-id=' + val.Id + ' class="pay gopay">付款</a>';
                                            html += '<a href="javascript:;" data-id=' + val.Id + ' class="apply applyretire">退赛申请</a>';
                                        }
                                        else if (val.SignUpStatus == 3) {//已支付
                                            html += '<a href="javascript:;" data-id=' + val.Id + ' class="apply applyretire">退赛申请</a>';
                                        }
                                        else if (val.SignUpStatus == 4) {//报名成功
                                            html += '<a href="javascript:;" data-id=' + val.Id + ' class="apply applyretire">退赛申请</a>';
                                        }
                                        html += '</td>';
                                    }
                                    else {
                                        html += '<td>' + enumreplace.replacebsignUpStatus(val.SignUpStatus) + '</td>';
                                        html += '<td>'
                                        if (val.SignUpStatus == 1) {
                                            html += '<a href="javascript:;" data-id=' + val.Id + ' class="select isacceptteam">是否接受组队</a>';
                                        } else if (val.SignUpStatus == 2) {
                                            html += '<a href="javascript:;" data-id=' + val.Id + ' class="pay gopay">付款</a>';
                                            html += '<a href="javascript:;" data-id=' + val.Id + ' class="apply applyretire">退赛申请</a>';
                                        } else if (val.SignUpStatus == 3) {//已支付
                                            html += '<a href="javascript:;" data-id=' + val.Id + ' class="apply applyretire">退赛申请</a>';
                                        } else if (val.SignUpStatus == 4) {//报名成功
                                            html += '<a href="javascript:;" data-id=' + val.Id + ' class="apply applyretire">退赛申请</a>';
                                        }
                                        html += '</td>';
                                    }
                                } else {//队友数据
                                    if (val.SignUpType == 1) {//是否是邀请人
                                        html += '<td>' + enumreplace.replacezsignUpStatus(val.SignUpStatus) + '</td>';
                                    }
                                    else {
                                        html += '<td>' + enumreplace.replacebsignUpStatus(val.SignUpStatus) + '</td>';
                                    }
                                    html += '<td>';
                                    if (val.SignUpStatus == 5) {
                                        html += '<a href="javascript:;" data-id=' + val.Id + ' class="select confirmretire">是否确认退赛</a>';
                                    }
                                    html += '</td>';
                                }
                                html += '</tr>'
                            });
                            $("#data").html(html)
                        } else {
                            $("#data").html('');
                            $("#pager").html("")
                        }
                    }
                })
            };
            w.playersignup = playersignup
        })(window);
        playersignup.Load(playersignup.param);
        //是否接受组队
        $(document).on("click", ".isacceptteam", function () {
            var id = $(this).attr("data-id");
            layer.confirm('是否确认组队', {
                btn: ['是', '否']
            },function (index) {
                $.ajax({
                    url: "/player/playersignup/isacceptteam",
                    type: "post",
                    dataType: "json",
                    data: {
                        id: id,
                        isAgree: true
                    },
                    beforeSend: function () {
                        layer.msg('操作中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                    },
                    success: function (json) {
                        layer.closeAll();
                        if (json.flag) {
                            layer.msg("操作成功", { icon: 1, time: 1000 });
                            playersignup.Load(playersignup.param);
                        }
                        else {
                            layer.msg(json.msg, { icon: 5, time: 1000 });
                        }
                    }
                , error: function () {
                    layer.closeAll();
                }
                });
            }, function () {
                $.ajax({
                    url: "/player/playersignup/isacceptteam",
                    type: "post",
                    dataType: "json",
                    data: {
                        id: id,
                        isAgree: false
                    },
                    beforeSend: function () {
                        layer.msg('操作中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                    },
                    success: function (json) {
                        layer.closeAll();
                        if (json.flag) {
                            layer.msg("操作成功", { icon: 1, time: 1000 });
                            playersignup.Load(playersignup.param);
                        }
                        else {
                            layer.msg(json.msg, { icon: 5, time: 1000 });
                        }
                    }
               , error: function () {
                   layer.closeAll();
               }
                });
            });
        });
        //申请退赛
        $(document).on("click", ".applyretire", function () {
            $.ajax({
                url: "/player/playersignup/applyretire",
                type: "post",
                dataType: "json",
                data: {
                    id: $(this).attr("data-id")
                },
                beforeSend: function () {
                    layer.msg('申请中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                },
                success: function (json) {
                    layer.closeAll();
                    if (json.flag) {
                        layer.msg("申请成功", { icon: 1, time: 1000 });
                        playersignup.Load(playersignup.param);
                    }
                    else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                }
              ,error: function () {
                  layer.closeAll();
              }
            });
        });
        //是否确认退赛
        $(document).on("click", ".confirmretire", function () {
            var id = $(this).attr("data-id");
            layer.confirm('是否确认退赛', {
                btn: ['是', '否']
            },function (index) {
               $.ajax({
                url: "/player/playersignup/isconfirmretire",
                type: "post",
                dataType: "json",
                data: {
                    id: id,
                    isAgree: true
                },
                beforeSend: function () {
                    layer.msg('操作中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                },
                success: function (json) {
                    layer.closeAll();
                    if (json.flag) {
                        layer.msg("退赛成功", { icon: 1, time: 1000 });
                        playersignup.Load(playersignup.param);
                    }
                    else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                }
              ,error: function () {
                  layer.closeAll();
              }
            });
            },function () {
                $.ajax({
                    url: "/player/playersignup/isconfirmretire",
                    type: "post",
                    dataType: "json",
                    data: {
                        id: id,
                        isAgree: false
                    },
                    beforeSend: function () {
                        layer.msg('操作中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                    },
                    success: function (json) {
                        layer.closeAll();
                        if (json.flag) {
                            layer.msg("退赛成功", { icon: 1, time: 1000 });
                            playersignup.Load(playersignup.param);
                        }
                        else {
                            layer.msg(json.msg, { icon: 5, time: 1000 });
                        }
                    }
                     , error: function () {
                         layer.closeAll();
                     }
                });
            });
        });
        //去支付
        $(document).on("click", ".gopay", function () {
            $.ajax({
                url: "/player/playersignup/gopay",
                type: "post",
                dataType: "json",
                data: {
                    id: $(this).attr("data-id")
                },
                beforeSend: function () {
                    layer.msg('支付中...', { shade: [0.5, '#f5f5f5'], scrollbar: false, time: 10000 });
                },
                success: function (json) {
                    layer.closeAll();
                    if (json.flag) {
                        window.location.href = "/player/playerpay/alipay/" + json.data;
                    }
                    else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                },
                error: function () {
                    layer.closeAll();
                }
            });
        });
        //绑定临时报名
        $("#bindtemp").click(function () {
            layer.open({
                title: "绑定现场报名",
                type: 2,
                content: "/player/playersignup/bindtemp",
                area: ["760px", "550px"],
                end: function () {
                }
            })
        });

        $("#addexper").click(function () {
            layer.open({
                title: "",
                type: 2,
                content: "/player/playersignup/bindtemp",
                area: ["565px", "401px"],
                end: function () {
                    location.reload();
                }
            });
        });
    </script>
}