@using nsda.Utilities
@{
    ViewBag.Title = "退赛列表";
    Layout = "~/Areas/player/Views/Shared/_Layout.cshtml";
}
@section styles
{
    <link rel="stylesheet" href="/asset/css/playerpartin.css?version=@Constant.Version">
}
<div class="comp-lists tab">
    <ul class="comp-title">
        <a href="/player/playersignup/list"><li class="act tabt">已参与比赛</li></a>
        <a href="javascript:;"><li class="tabt">退赛信息</li></a>
    </ul>
    <div class="comp-con">
        <div class="exittable">
            <table>
                <thead>
                    <tr>
                        <th>赛事编码/名称</th>
                        <th>类别</th>
                        <th>组别</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody id="data">
                </tbody>
            </table>
            <nav aria-label="Page navigation" id="pager">
            </nav>
        </div>
    </div>
</div>

@section scripts
{
    <script src="/asset/js/pager.js"></script>
    <script src="/asset/js/enumreplace.js?version=@Constant.Version"></script>
    <script>
        $(document).ready(function () {
            $("#collapseOne").addClass("in");
        });
        (function (w) {
            var playerrefund = {
                param: {
                    TotalPage: 1,
                    PageIndex: 1,
                    PageSize: 10,
                }
            };
            playerrefund.Load = function (filter) {
                $.ajax({
                    url: "/player/playersignup/refundlist",
                    type: "get",
                    dataType: "json",
                    data: filter,
                    success: function (json) {
                        if (json.records > 0) {
                            var _pager = new w.pager({
                                'parent': $('#pager')
                            });
                            playerrefund.param.TotalPage = json.total;
                            _pager.init(filter, playerrefund.param.PageIndex, playerrefund.param.TotalPage, function (p) {
                                playerrefund.param.PageIndex = p;
                                playerrefund.Load(playerrefund.param)
                            });                            var html = '';
                            $.each(json.rows, function (k, val) {
                                html += '<tr>';
                                html += '<td>' + val.EventCode+"</br/>"+ val.EventName + '</td>';
                                html += '<td>' + enumreplace.replaceeventType(val.EventType) + '</td>';
                                html += '<td>' + val.EventGroupName + '</td>';
                                html += '<td>' + enumreplace.replaceoperationStatus(val.OperationStatus) + '</td>';
                                html += '</tr>';
                            });
                            $("#data").html(html)
                        } else {
                            $("#data").html('');
                            $("#pager").html("")
                        }
                    }
                })
            };
            w.playerrefund = playerrefund
        })(window);
        playerrefund.Load(playerrefund.param);
    </script>
 }