<link href="@Url.Content("~/Content/asset/css/coach.css?3.1.2")" rel="stylesheet" type="text/css" />

<div class="info-lists">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        @*<div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a href="#">
                        <p>Member center for coach</p>
                        <h3>NSDA教练会员中心&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;v</h3>
                    </a>
                </h4>
            </div>
        </div>*@
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a href="/Coach/coachinformation">
                        <p>Personal information</p>
                        <h3>修改个人信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;v</h3>
                    </a>
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a href="/Coach/coachboundplayer">
                            <p>My students</p>
                            <h3>绑定学员&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;v</h3>
                        </a>
                    </h4>
            </div>
        </div>
    </div>
</div>