@{
    Layout = "";
    ViewBag.Title = "添加教育经历";
}
<link href="@Url.Content("~/Content/asset/css/common.css?1.1.0")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/coachboundplayer.css?1.1.5")" rel="stylesheet" type="text/css" />

<div class="addcoach" id="addeducation">
    <img class="coachimg" src="~/Content/asset/img/bound_03.png" alt="...">
    <div class="form-group">
        <input class="form-select-school" id="staryear" readonly="readonly">
        <em class="em"> —</em>
        <input class="form-select-school" id="endyear" readonly="readonly">
        <select class="form-select-schools" id="player">
            <option>Students Name</option>
            <option>NSDA Code</option>
        </select>
        <input id="txt" />
        <a class="searchcoach" id="search" href="javascript:;  ">Search&nbsp;<i class="iconfont icon-sousuo1"></i></a>
        <select size="6" id="sel" style="display:none;">
            <option>123</option>
            <option>23456</option>
        </select>
        <a href="javascript:;" class="boundcoach" id="confirmadd">Submit</a>
    </div>
</div>

@Scripts.Render("~/Content/asset/js/block.js")
@Scripts.Render("~/Content/asset/js/laydate/laydate.js")

<script>
    laydate.render({
        elem: '#staryear',
        type:'month'
    });
    laydate.render({
        elem: '#endyear',
        type: 'month'
    });
</script>











