@media(max-width:320px){

}
@media(min-width:320px){

}
@media(min-width:375px){

}
@media(min-width:768px){
    .compe-con{
        margin-top:15px;
        width:100%;
    }
    .compe-con .nolimit{
        display:inline;
        padding:2px 8px;
        color:white;
        background:#FBB7A0;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
    }
    
    .compe-con .address-left{
        width:13%;
        float:left;
    }
    .compe-con .address-lists{
        float:right;
        width:66%;
        margin-bottom:20px;
    }
    .compe-con .address-lists p{
        float:left;
    }
   .compe-con .address-lists li{
        float:left;
        width:6.5%;
        text-align:center;
    }
   .compe-con .address-lists li:hover{
        background:#FBB7A0;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        color:white;
   }
   .compe-con .level{
       margin-top:60px;
   }
   .compe-con .level-left{
      width:13%;
      float:left;
    }
     .compe-con .level-lists{
         width:66%;
         float:right;
     } 
     .compe-con .level-lists li{
         float:left;
         width:5%;
         text-align:center;
     }
     .compe-con .level-lists li:hover{
         background:#FBB7A0;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        color:white;
     }
     .compe-con .time{
       margin-top:108px;
   }
   .compe-con .time-left{
      width:13%;
      float:left;
    }
     .compe-con .time-lists{
         width:66%;
         float:left;
         border-bottom:1px solid #cacaca;
     } 
     .compe-con .time-lists li{
         float:left;
         width:10%;
         text-align:center;
         border-radius: 6px 6px 0 0;
        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
     }
     .compe-con .time-lists li.active{
         border:1px solid #cacaca;
         border-bottom:1px solid white;
         
     }
     .compe-con table{
         width:78%;
         margin-top:300px
     }
     .compe-con thead tr th{
         padding:10px;
         font-size:14px;
     }
     .compe-con tbody tr td{
         font-size:14px;
     }
      .compe-con tbody tr td a.sign{
          display:inline;
          padding:6px 6px;
          font-size:12px;
          background:#FFD600;
          border-radius: 20px;
         -webkit-border-radius:20px;
         -moz-border-radius: 20px;
      }
      .compe-con tbody tr td a.sign:hover{
          background:#a2a81f;
          color:white;
      }
      .compe-con nav{
          float:right;
          margin:20px;
      }
}
@media(min-width:1024px){
    .compe-con{
        margin-top:15px;
        width:100%;
    }
    .compe-con .nolimit{
        display:inline;
        padding:2px 8px;
        color:white;
        background:#FBB7A0;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
    }
    
    .compe-con .address-left{
        width:10%;
        float:left;
    }
    .compe-con .address-lists{
        float:right;
        width:68%;
        margin-bottom:20px;
    }
    .compe-con .address-lists p{
        float:left;
    }
   .compe-con .address-lists li{
        float:left;
        width:6.8%;
        text-align:center;
    }
   .compe-con .address-lists li:hover{
        background:#FBB7A0;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        color:white;
   }
   .compe-con .level{
       margin-top:60px;
   }
   .compe-con .level-left{
      width:10%;
      float:left;
    }
     .compe-con .level-lists{
         width:68%;
         float:right;
     } 
     .compe-con .level-lists li{
         float:left;
         width:5%;
         text-align:center;
     }
     .compe-con .level-lists li:hover{
         background:#FBB7A0;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        color:white;
     }
     .compe-con .time{
       margin-top:108px;
   }
   .compe-con .time-left{
      width:10%;
      float:left;
    }
     .compe-con .time-lists{
         width:67%;
         float:left;
         border-bottom:1px solid #cacaca;
     } 
     .compe-con .time-lists li{
         float:left;
         width:10%;
         text-align:center;
         border-radius: 6px 6px 0 0;
        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
     }
     .compe-con .time-lists li.active{
         border:1px solid #cacaca;
         border-bottom:1px solid white;
         
     }
      .compe-con .time-mons{
          width:67%;
          height:150px;
          float:left;
          margin-left:10%;
          position:relative;
      }
      .compe-con .time-mons .monsev{
            display:block;
      }
      .compe-con .time-mons .moneig{
            display:none;
      }
       .compe-con .time-mons .moneig li{
           border:1px dashed #666;
       }
      .compe-con .time-mons .time-mon{
          width:100%;
          height:100%;
          position:absolute;
          top:0;
          left:0;
      }
      .compe-con .time-mon li{
          width:8%;
          height:58px;
          border:1px solid #a7a7a7;
          border-radius: 50%;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         float:left;
         margin:10px;
         text-align:center;
         line-height:2;

      }
     .compe-con table{
         width:77%;
         margin-top:300px
     }
     .compe-con thead tr th{
         padding:10px;
         font-size:14px;
     }
     .compe-con tbody tr td{
         font-size:14px;
     }
      .compe-con tbody tr td a.sign{
          display:inline;
          padding:6px 15px;
          font-size:14px;
          background:#FFD600;
          border-radius: 20px;
         -webkit-border-radius:20px;
         -moz-border-radius: 20px;
      }
      .compe-con tbody tr td a.sign:hover{
          background:#a2a81f;
          color:white;
      }
      .compe-con nav{
          float:right;
          margin:20px;
      }
     
}
@media(min-width:1200px){
     .compe-con tbody tr td{
         font-size:16px;
     }
    .compe-con tbody tr td a.sign{
          display:inline;
          padding:6px 20px;
          font-size:16px;
          color:#666;
          background:#FFD600;
          border-radius: 20px;
         -webkit-border-radius:20px;
         -moz-border-radius: 20px;
      }
}
.compe-con .time-mons .monsev{
    
}
.compe-con .time-mons .moneig{
    
}
.nav-tabs{
    border-bottom:none;
}
.nav-tabs>li>a{
    border:none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    border:none;
    text-decoration:none;
}
.info-lists .panel-body ul li.compebaoming{
    background:#EFEFEF;
}
.info-lists .panel-body ul li a.baoming{
    color:#3CC2FF;
}