@media(max-width:320px){
    .mec-ban {
        margin-top: 40px;
        width: 100%;
        height: 140px;
    }
}
@media(min-width:320px){
    .mec-ban {
        margin-top: 40px;
        width: 100%;
        height: 140px;
    }
}
@media(min-width:375px){
    .mec-ban {
        height: 230px;
    }
    .player{
        padding:10px 0 0 0;
    }
    .player-compe{
        padding-top:30px;
        padding-bottom:100px;
    }
    .player-info{
        margin-left:0;
        padding-bottom:0;
        padding-left:10px;
        padding-right:10px;
        box-sizing:border-box;
        border-bottom:1px solid #a7a7a7;
        height:120px;
    }
    .player-info img{
        width:60px;
        height:60px;
        float:left;
    }
    .player-num{
        float:left;
        margin-left:20px;
    }
    .player-num p {
        font-size: 12px;
        color: #666;
        line-height: 1.6;
        font-weight: 600;
        text-align: right;
    }
    .player-code{
        padding: 5px 8px;
        float: right;
        margin-top: 80px;
        font-size: 12px;
    }
    .info-lists{
        width:100%;
        margin-right:10px;
    }
    
    .info-lists .panel-title p {
        font-size: 12px;
        text-align: right;
        padding-right: 1%;
        color: #666666;
        line-height: 1.3;
    }
    .info-lists .panel-title h3 {
        text-align: right;
        font-size: 12px;
        padding-right: 1%;
        color: #2f2e2e;
        line-height: 1.4;
    }
    .info-lists .panel-title h3 a {
        color: #666666;
        font-size: 20px;
        font-weight: normal;
    }

     .info-con{
        width:100%;
    }
     table {
        border-collapse: collapse;
        width: 100%;
    }
    thead {
        background: #E3D2D2;
    }
    thead th {
        border-top: 1px solid #a7a7a7;
        border-bottom: 1px solid #a7a7a7;
        text-align: center;
        color: #666666;
        padding: 5px;
        font-size:12px;
    }
    tbody td {
        border-bottom: 1px solid #a7a7a7;
        text-align: center;
        padding: 16px;
        box-sizing: border-box;
       
    }
    tbody td:not(:last-child) {
        border-right: 1px solid #a7a7a7;
    }
    tbody tr.pink {
        background: #F6F3E7;
    }
    tbody tr td a {
        display: inline;
        width:15px;
        height:20px;
        padding:0;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        text-align: center;
        color: white;
        font-size:12px;
    }
   
    tbody tr td a.enter {
        background: #FF6E4F;
        box-shadow: inset -4px -3px 4px #C06261;
        -webkit-box-shadow: inset -4px -3px 4px #C06261;
        -moz-box-shadow: inset -4px -3px 4px #C06261;
    }
    tbody tr td a.check {
        background: #4BB47F;
        box-shadow: inset -4px -3px 4px #215A3D;
        -webkit-box-shadow: inset -4px -3px 4px #215A3D;
        -moz-box-shadow: inset -4px -3px 4px #215A3D;
    }
    .msg-box{
        width:100%;
        padding:8px;
        min-height:30px;
        margin-top:50px;
        border-top: 1px solid #a7a7a7;
        border-bottom: 1px solid #a7a7a7;
    }
    .msg-box p{
        float:left;
        font-size:12px;
    }
    .msg-box a .msg-more{
        float:right;
    }
    .msgbox-con {
        padding: 20px 10px;
        min-height: 246px;
        border-bottom: 1px solid #a7a7a7;
    }
    .msg-box a .msg-more{
        display:inline;
        width:50px;
        height:16px;
    }
    .msgimg img {
        display: inline;
        width: 46px;
        height: 46px;
        float: left;
    }

    .msgimg p {
        float: left;
        margin-left: 10px;
        line-height: 46px;
        font-size: 12px;
        color: #666666;
    }
    .msgc {
        margin-top: 48px;
        margin-left: 56px;
        margin-right: 20px;
    }
    .msgc .teamcon{
        margin-top:10px;
    }
    .msgbox-con .cmore {
        float: right;
        padding: 6px 13px;
        margin-top: 15px;
        font-size:12px;
    }
    .msgc .msgteam {
        font-size: 12px;
        color: black;
        line-height: 1.8;
    }

    .msgc .teamcon {
        font-size: 12px;
        color: #666666;
        line-height: 1.4;
    }
}
@media(min-width:768px){
    .mec-ban {
        margin-top: 80px;
        height: 240px;
    }

    .player{
    padding:20px 30px 0 50px;
}
     .player-info{
        margin-left:5%;
        padding-bottom:10px;
        padding-left:30px;
        padding-right:10px;
        box-sizing:border-box;
        border-bottom:1px solid #a7a7a7;
        height:100px;
    }
    .player-info img{
        width:88px;
        height:88px;
        float:left;
    }
    .player-num{
        float:left;
        margin-left:20px;
    }
    .player-num p {
        font-size: 14px;
        color: #666;
        line-height: 2.1;
        font-weight: 600;
        text-align: right;
    }
    .player-code{
        padding: 5px 15px;
        float: right;
        margin-top: 50px;
        font-size: 14px;
    }
    .player-compe{
        padding:50px 10px 190px 10px
    }
    .info-lists{
        width:19%;
        float:left;
        margin-right:10px;
    }
    .info-lists .panel-body ul a.compe{
        display:inline;
        width:100%;
    }
    .info-lists .panel-body{
        padding:0;
    }
    .info-lists .panel-body ul li{
        text-align:right;
        font-size:16px;
        
        padding:10px 0 10px 0;
        padding-right:21%;
    }
    .info-lists .panel-body ul li:hover{
        background:#EFEFEF;
    }
    .info-lists .panel-body ul li:hover a{
        color:#3CC2FF;
    }
    .info-lists .panel-body ul li a{
        color:#666;
    }
    .info-lists .panel-body ul li:not(:last-child){
       border-bottom:1px dashed #a7a7a7;
    }
    .info-lists .panel-title p {
        font-size: 16px;
        text-align: right;
        padding-right: 20%;
        color: #666666;
        line-height: 1.4;
    }
    .info-lists .panel-title h3 {
        text-align: right;
        font-size: 16px;
        padding-right: 5%;
        color: #2f2e2e;
        font-weight: 600;
        line-height: 1.4;
        letter-spacing: 1px;
    }
    .info-lists .panel-title h3 a {
        color: #666666;
        font-size: 20px;
        font-weight: normal;
    }
    .info-con{
        width:79%;
        float:left;
    }
     table {
        border-collapse: collapse;
        width: 100%;
    }
    thead {
        background: #E3D2D2;
    }
    thead th {
        border-top: 1px solid #a7a7a7;
        border-bottom: 1px solid #a7a7a7;
        text-align: center;
        color: #666666;
        padding: 7px;
    }
    tbody td {
        border-bottom: 1px solid #a7a7a7;
        text-align: center;
        padding: 12px;
        box-sizing: border-box;
    }
    tbody td:not(:last-child) {
        border-right: 1px solid #a7a7a7;
    }
    tbody tr.pink {
        background: #F6F3E7;
    }
    tbody tr td a {
        display: inline;
        padding: 8px 6px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        text-align: center;
        color: white;
        font-size:12px;
    }
   
    tbody tr td a.enter {
        background: #FF6E4F;
        box-shadow: inset -4px -3px 4px #C06261;
        -webkit-box-shadow: inset -4px -3px 4px #C06261;
        -moz-box-shadow: inset -4px -3px 4px #C06261;
    }
    tbody tr td a.check {
        background: #4BB47F;
        box-shadow: inset -4px -3px 4px #215A3D;
        -webkit-box-shadow: inset -4px -3px 4px #215A3D;
        -moz-box-shadow: inset -4px -3px 4px #215A3D;
    }
    .msg-box{
        width:100%;
        padding:8px;
        min-height:40px;
        margin-top:50px;
        border-top: 1px solid #a7a7a7;
        border-bottom: 1px solid #a7a7a7;
    }
    .msg-box p{
        float:left;
        font-size:16px;
    }
    .msg-box a .msg-more{
        float:right;
    }
    .msg-box a .msg-more{
        display:inline;
        width:70px;
        height:20px;
    }
    .msgbox-con {
        padding: 20px 10px;
        min-height: 220px;
        border-bottom: 1px solid #a7a7a7;
    }

    .msgimg img {
        display: inline;
        width: 46px;
        height: 46px;
        float: left;
    }

    .msgimg p {
        float: left;
        margin-left: 10px;
        line-height: 46px;
        font-size: 14px;
        color: #666666;
    }
    .msgc {
        margin-top: 48px;
        margin-left: 56px;
        margin-right: 100px;
    }
    .msgc .teamcon{
        margin-top:10px;
    }
    .msgbox-con .cmore {
        float: right;
        padding: 8px 20px;
        margin-top: 10px;
    }
    .msgc .msgteam {
        font-size: 14px;
        color: black;
        line-height: 1.8;
    }

    .msgc .teamcon {
        font-size: 14px;
        color: #666666;
        line-height: 1.4;
    }
}
@media(min-width:1024px){
     .mec-ban {
        height: 252px;
    }
     .player{
    padding:20px 50px 0 50px;
}
     .player-info{
        margin-left:20%;
        padding-bottom:10px;
        padding-left:30px;
        padding-right:20px;
        box-sizing:border-box;
        border-bottom:1px solid #a7a7a7;
        height:100px;
    }
    .player-info img{
        width:88px;
        height:88px;
        float:left;
    }
    .player-num{
        float:left;
        margin-left:20px;
    }
    .player-num p {
        font-size: 14px;
        color: #666;
        line-height: 2.1;
        font-weight: 600;
        text-align: right;
    }
    .player-code{
        padding: 5px 15px;
        float: right;
        margin-top: 50px;
        font-size: 16px;
    }
    .player-compe{
        padding:50px 30px 190px 30px
    }
    .info-lists{
        width:20%;
        float:left;
        height:500px;
        margin-right:15px;
    }
    .info-lists .panel-title p {
        font-size: 16px;
        text-align: right;
        padding-right: 20%;
        color: #666666;
        line-height: 1.4;
    }
    .info-lists .panel-title h3 {
        text-align: right;
        font-size: 16px;
        padding-right: 5%;
        color: #2f2e2e;
        font-weight: 600;
        line-height: 1.4;
        letter-spacing: 1px;
    }
    .info-lists .panel-title h3 a {
        color: #666666;
        font-size: 20px;
        font-weight: normal;
    }
    .info-con{
        width:78%;
        float:left;
    }
     table {
        border-collapse: collapse;
        width: 100%;
    }
    thead {
        background: #E3D2D2;
    }
    thead th {
        border-top: 1px solid #a7a7a7;
        border-bottom: 1px solid #a7a7a7;
        text-align: center;
        color: #666666;
        padding: 8px;
    }
    tbody td {
        border-bottom: 1px solid #a7a7a7;
        text-align: center;
        padding: 12px;
        box-sizing: border-box;
    }
    tbody td:not(:last-child) {
        border-right: 1px solid #a7a7a7;
    }
    tbody tr.pink {
        background: #F6F3E7;
    }
    tbody tr td a {
        display: inline;
        padding: 8px 12px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        text-align: center;
        color: white;
        font-size:14px;
    }
   
    tbody tr td a.enter {
        background: #FF6E4F;
        box-shadow: inset -4px -3px 4px #C06261;
        -webkit-box-shadow: inset -4px -3px 4px #C06261;
        -moz-box-shadow: inset -4px -3px 4px #C06261;
    }
    tbody tr td a.check {
        background: #4BB47F;
        box-shadow: inset -4px -3px 4px #215A3D;
        -webkit-box-shadow: inset -4px -3px 4px #215A3D;
        -moz-box-shadow: inset -4px -3px 4px #215A3D;
    }
    .msg-box{
        width:100%;
        padding:8px;
        min-height:40px;
        margin-top:50px;
        border-top: 1px solid #a7a7a7;
        border-bottom: 1px solid #a7a7a7;
    }
    .msg-box p{
        float:left;
        font-size:16px;
    }
    .msg-box a .msg-more{
        float:right;
    }
    .msgbox-con {
        padding: 20px 10px;
        min-height: 200px;
        border-bottom: 1px solid #a7a7a7;
    }

    .msgimg img {
        display: inline;
        width: 46px;
        height: 46px;
        float: left;
    }

    .msgimg p {
        float: left;
        margin-left: 10px;
        line-height: 46px;
        font-size: 14px;
        color: #666666;
    }
    .msgc {
        margin-top: 48px;
        margin-left: 56px;
        margin-right: 100px;
    }
    .msgc .teamcon{
        margin-top:10px;
    }
    .msgbox-con .cmore {
        float: right;
        padding: 8px 20px;
        margin-top: 10px;
    }
}
@media(min-width:1200px){
    
    tbody tr td a {
        padding: 10px 20px;
    }
   
}
.panel-default{
    border-bottom:1px solid #a7a7a7;
}

.msgc .teamcon a {
    color: #3CC2FF;
}
.msgbox-con .cmore {
    display: inline;
    background: #3CC2FF;
    color: white;
    text-align: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

    .msgbox-con .cmore:hover {
        background: #5486cb;
    }


tbody tr td a.enter:hover {
    background:#ae3838;
    color:white;
}
tbody tr td a.check:hover {
    background:#215A3D;
    color:white;
}
.player-compe{
    background:white;
    border-radius:0 0 8px 8px ;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    box-shadow: 2px 2px 4px #D9D9D9;
    margin-bottom:80px;
}
.player-code{
    display: inline;
    background: #10B5FF;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    float: right;
    color: white;
}
 .player-code:hover {
    background:#4a8ad8;
    color:white;
}
 .player-info img{
    display:inline;
}
.mec-ban{
    position:relative;
}
.player{
    width:100%;
    background:rgba(255, 255, 255,0.9);
    position:absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%);
    border-radius:8px 8px 0 0;
    -webkit-border-radius:8px 8px 0 0;
    -moz-border-radius:8px 8px 0 0;
}

.mec-ban {
    background: url("img/mecban_03.jpg") no-repeat center /cover;
    position: relative;
}
body{
    background:#F4F4F4;
}










