@media(max-width:320px){

}
@media(min-width:320px){

}
@media(min-width:375px){

}
@media(min-width:768px){
     .player-score{
        padding-top:100px;
    }
    .score-con{
        width:78%;
        float:left;
        
        margin-top:-50px;
    }
    .score-top{
        width:100%;
        height:46px;
        padding-left:10px;
    }
    .score-top .integral{
        display:inline;
        width:31px;
        height:46px;
        float:left;
        margin-right:4px;
    }
    .score-top .scorecheck{
        font-size:24px;
        color:#666;
        float:left;
        line-height:56px;
        vertical-align:baseline;
        
    }
    .score-top .date-input{
        float:right;
        width:200px;
        height:46px;
        margin-top:5px;
        border:2px solid #d8cece;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        padding:0 5px;
        font-size:18px;
        color:#666;
    }
    .score-search{
        display:inline;
        width:110px;
        height:46px;
        margin-left:10px;
        margin-top:5px;
        margin-right:10px;
        float:right;
        border:2px solid #d2e3ed;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        background:#4E5D66;
        padding:0 10px;
        font-size:20px;
        line-height:38px;
        letter-spacing:1px;
        color:white;
        font-family:"微软雅黑";
    }
     .score-search i{
         font-size:26px;
         color:white;
         margin-right:10px;
     }
     #layui-laydate1{
         top:350px;
     }
     .score-con .score-table{
         width:100%;
         margin-top:10px;
     }
     .score-con .score-table table thead{
         background:#ECECEC;
     }
     .score-con .score-table table tbody td a.checkdetail{
         display:inline;
         padding:5px 20px;
         border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        background:#FFD600;
        color:#666;
     }
}
@media(min-width:1024px){
    .player-score{
        padding-top:100px;
    }
    .score-con{
        width:78%;
        float:left;
        
        margin-top:-50px;
    }
    .score-top{
        width:100%;
        height:46px;
        padding-left:10px;
    }
    .score-top .integral{
        display:inline;
        width:31px;
        height:46px;
        float:left;
        margin-right:4px;
    }
    .score-top .scorecheck{
        font-size:24px;
        color:#666;
        float:left;
        line-height:56px;
        vertical-align:baseline;
        
    }
    .score-top .date-input{
        float:right;
        width:200px;
        height:46px;
        margin-top:5px;
        border:2px solid #d8cece;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        padding:0 5px;
        font-size:18px;
        color:#666;
    }
    .score-search{
        display:inline;
        width:110px;
        height:46px;
        margin-left:10px;
        margin-top:5px;
        margin-right:10px;
        float:right;
        border:2px solid #d2e3ed;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        background:#4E5D66;
        padding:0 10px;
        font-size:20px;
        line-height:38px;
        letter-spacing:1px;
        color:white;
        font-family:"微软雅黑";
    }
     .score-search i{
         font-size:26px;
         color:white;
         margin-right:10px;
     }
     #layui-laydate1{
         top:350px;
     }
     .score-con .score-table{
         width:100%;
         margin-top:10px;
     }
     .score-con .score-table table thead{
         background:#ECECEC;
     }
     .score-con .score-table table tbody td a.checkdetail{
         display:inline;
         padding:5px 20px;
         border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        background:#FFD600;
        color:#666;
     }
}
@media(min-width:1200px){

}
