
@{
    ViewBag.Title = "联系我们";
}

<link href="@Url.Content("~/Content/asset/css/About.css?1.1.2")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/Content/asset/css/aboutus.css?1.1.2")" rel="stylesheet" type="text/css" />

<!--这里可能是logo也可能是广告 到底是什么 我也不知道-->
<div class="ad">

</div>

<!--面包屑导航-->
<div class="rode">
    <ul class="container breadcrumb">
        <li><a href="#">关于我们</a></li>
        <li><a href="#">联系我们</a></li>
    </ul>
</div>

<div class="container contactus-title">
    <h3>联系我们</h3>
    <p>Contact Us</p>
    <span></span>
</div>
<div class="container contactus-con">
    <p>全美演讲与辩论联盟（National Speech and Debate Association，简称NSDA），是美国历史最悠久、规模最大的中学演讲与辩论荣誉组织，也是世界演讲与辩论领域最大的专业教练会员组织。NSDA采取会员制，向会员学校提供包括教练培训、俱乐部建立和辩论比赛支持等全方位的服务。</p>
</div>

<div class="contact-form">
    <div class="form-call">
        <span class="iconfont icon-dianhuabu" aria-hidden="true"></span>
        <div class="call-h">
            <h3>您的称呼<br></h3>
            <p>YOUR NAME</p>
        </div>
        <input type="text">
    </div>
    <div class="form-call">
        <span class="iconfont icon-overview-msg" aria-hidden="true"></span>
        <div class="call-h">
            <h3>您的邮件</h3>
            <p>YOUR  MAIL</p>
        </div>
        <input type="text">
    </div>
    <div class="form-msg">
        <span class="iconfont icon-bianqian" aria-hidden="true"></span>
        <div class="call-h">
            <h3>您的留言</h3>
            <p>MESSAGE</p>
        </div>
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <a href="">
        <div class="sendmsg">
            <h3>发送信息</h3>
            <p>SEND MESSAGE</p>
        </div>
    </a>
</div>


