
@{
    Layout = "~/Views/Shared/_Role.cshtml";
    ViewBag.Title = "找回密码";
}
<link href="@Url.Content("~/Content/asset/css/About.css?1.1.2")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/forgotpwd.css?1.1.2")" rel="stylesheet" type="text/css" />

<!--这里可能是logo也可能是广告 到底是什么 我也不知道-->
<div class="ad">

</div>

<!--面包屑导航-->
<div class="rode">

</div>

<div class="container">
    <div class="forgotpwd">
        <h3>找回密码</h3>
        <h5>So you forgot your password...</h5>
        <span></span>
        <p class="reset">Enter your email address in the box below, and we'll send you an Account Key . </p>
        <p>输入您的注册电子邮箱，我们会在发送一串验证码，已确定您的身份。并便于您重置密码。</p>
        <div class="or-spacer">
            <div class="mask"></div>
        </div>
        <div class="forgotinfo">
            <img src="~/Content/asset/img/icon_03.png" alt="Alternate Text" />
            <div class="info-txt">
                <h4>注册邮箱</h4>
                <p>YOUR MAIL</p>
            </div>
            <input type="email" name="name" value="" />
            <a href="javascript:;" class="code">发送验证码</a>
        </div>
        <div class="forgotinfo">
            <img src="~/Content/asset/img/icon_08.png" alt="Alternate Text" />
            <div class="info-txt">
                <h4>验证码</h4>
                <p>ACCOUNT KEY</p>
            </div>
            <input type="text" name="name" value="" />
        </div>
        <a href="/Main/forgotpwdcert" class="send">
                <h4>修改密码  </h4>
                <p>CREATE NEW PASSWORD</p>
        </a>
    </div>
</div>


