<link href="~/Content/asset/css/judge/judge.css" rel="stylesheet" />
<div class="info-lists">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <a href="/Judge/judgecenter"><p class="jc">裁判中心</p><h3 class="mc">Judger Center</h3></a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <p>我的裁判经历</p>
                        <h3>My Tournaments&nbsp;&nbsp;v</h3>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <ul>
                        <a href="/Judge/judgeapply" class="compe"><li>Apply to Judge</li></a>
                        <a href="/Judge/judgetour" class="compe"><li>Tournaments to Judge</li></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <a href="/Judge/judgeinformation"><p class="jc">个人信息</p><h3 class="mc">Personal information</h3></a>
        </div>
    </div>
</div>





























