
@{
    ViewBag.Title = "裁判登录";
}
<link href="@Url.Content("~/Content/asset/css/common/common.css?1.1.2")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/Content/asset/css/main/About.css?1.1.2")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/judge/judgelogin.css?1.1.2")" rel="stylesheet" type="text/css" />


<div class="ad">

</div>

<!--面包屑导航-->
<div class="rode">

</div>

<div class="container log-con">
    <div class="login">
        <h3>NSDA Judge Login</h3>
        <p>注册邮箱 Email</p>
        <img src="~/Content/asset/img/member.svg" alt="Alternate Text" />
        <input type="text" class="radius5" name="name" value="" />
        <p>登录密码 Password <a href="javascript:;">忘记密码 Forgot?</a></p>
        <img src="~/Content/asset/img/password.svg" alt="Alternate Text" />
        <input type="password" class="radius5" name="name" value="" />
        <a href="/Judge/judgecenter" class="button radius5">登录 Sign In</a>
        <p>Not a judge member? <a href="/Judge/judgeregform" class="reg-a">Sign up now</a></p>
    </div>
    
</div>


