@{
    ViewBag.Title = "锦标赛";
}
<link href="@Url.Content("~/Content/asset/css/common.css?1.1.0")" rel="stylesheet" type="text/css" />
<link href="~/Content/asset/css/judgetourname.css?1.1.0" rel="stylesheet" />
<link href="@Url.Content("~/Content/asset/css/judgetour.css?2.1.0")" rel="stylesheet" type="text/css" />
@Html.Partial("_judgetop")
<div class="container judge-compe">
    <div class="pi-top competitle">
        <img src="~/Content/asset/img/tour_03.png" />
        <div class="title">
            <h4>National High School Academic Debate And Speech Tournament</h4>
            <h3>全国中学生学术辩论与演讲联赛</h3>
        </div>
    </div>
    @Html.Partial("_judgeleft")
    <div class="judge-con">
        <div class="comcon">
            <p>Tournament Code: A45626589</p>
            <div class="constep">
                <h3>STEP 3：You get a new judge paper.</h3>
                <div class="paper">
                    <div><p class="flight">Flight A</p><p class="ftime">Start 9:25</p></div>
                    <div><h3>裁判：</h3><p class="jnumber">J325691234567890</p><p class="name">Nicolas</p><h3 class="room">Room：</h3><p class="roomnum">A201</p></div>
                    <table class="pro">
                        <thead>
                            <tr>
                                <th colspan="3">PRO.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3">队伍编号： 026<span><i class="iconfont icon-exchangejiaohuan"></i></span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Points</td>
                                <td>Rank</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="3" role="button" class="rolebutton click"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="con">
                        <thead>
                            <tr>
                                <th colspan="3">CON.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3">队伍编号： 651</td>
                            </tr>
                            <tr>
                                <td>asdfghj</td>
                                <td>Points</td>
                                <td>Rank</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="3" role="button" class="rolebutton"></td>
                            </tr>
                        </tbody>
                    </table>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">Double Bye 双赢
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Aff Bye Neg Forfeit 反方弃权
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Double Forfeit or Loss 双输
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">Aff Forfeit Neg Bye 正方弃权
                    </label>
                    <button class="refer radius5 color-white darkblue">提交评分单</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var classVal = document.getElementById("collapseOne").getAttribute("class");
    classVal = classVal.concat("in");
    document.getElementById("collapseOne").setAttribute("class", classVal);

</script>
