@using nsda.Model.dto.response
@model  OrderResponse
@{
    ViewBag.Title = "PaidSuccess";
}
<style>
    .container .row {
        margin-left: 0;
        margin-right: 0;
    }
</style>
<div class="container">
    <div class="row">
        <div class="page">
            <div class="page-header">
                <div class="row header">
                    @if (Model.OrderStatus == nsda.Model.enums.OrderStatusEm.支付成功)
                    {
                        <h2>支付成功！</h2>
                    }
                    else
                    {
                        <h2>支付失败！</h2>
                    }
                </div>
                <div>订单号：@Model.Id</div>
            </div>
        </div>
    </div>
</div>
