
@media(min-width:768px){
    .event-lists{
        width:74%;
    }
}
@media(min-width:1024px){
    .event-lists{
        width:74%;
    }
}
@media(min-width:1200px){
    .event-lists{
        width:74%;
    }
}
@media(min-width:1300px){
    .event-lists{
        width:70%;
    }
}
@media(min-width:1500px){
    .event-lists{
        width:65%;
    }
}

.event-lists{
    margin:0 auto;
    padding-top:60px;
    margin-bottom:80px;
    float:left;
    margin-left:300px;
    min-height:900px;
}
.managelists{
    width:200px;
    border:1px solid #B3B9BE;
    float:left;
    position:absolute;
    left:85px;
    top:340px;
}
.managelists ul{
    padding:6px;
}
.managelists ul li{
    border-bottom:1px dashed #CED4D7;
    padding:6px;
    font-size:18px;
    color:#666;
}
.managelists ul li label{
    float:left;
    width:25px;
    height:25px;
    margin-right:6px;
}
.managelists ul li label input[type=checkbox]{
    width:20px;
    height:20px;
}
.clickbtn{
    display:inline-block;
    width:100%;
    padding:6px;
    text-align:center;
    margin-top:5px;
    line-height:26px;
}
.clickready{
    background:#CAE69A;
    border:1px solid #A7CB6C;
    color:#999966;
}
.clickbtn p{
    font-size:14px;
}
.clickbtn h4{
    font-size:14px;
    font-weight:600;
}
.clickstart{
    background:linear-gradient(to bottom,#FFA9A8,#FF8281);
    border:1px solid #F2706E;
    color:#993333;
}
.classcheck img{
    float:left;
    margin-right:30px;
}
.classcheck .class{
    width:90%;
    float:left;
}
.classcheck .class .group{
    width:100%;
    float:left;
    margin-bottom:15px;
}
.group .group-item p,.group .group-item a,.group .group-con a{
    float:left;
    color:#666;
    font-size:14px;
}
 .group .group-item{
    min-width:13%;
    text-align:right;
    float:left;
}
.group .group-item p{
    float:left;
    color:#666;
}
.group .group-item a{
    padding:2px 10px;
    text-align:center;
    float:left;
    color:#666;
}
 .group .group-con a{
    margin-left:2%;
    padding:2px 10px;
    text-align:center;
}
.group .group-item a.selected,.group .group-con a.selected{
    color:white;
    background:#FBB7A0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}
.event-lists table{
    border-collapse:collapse;
    width:100%;
    margin-top:90px;
    margin-bottom:70px;
}
thead{
    color:#666699;
}
tbody{
    color:#666;
}
.event-lists table thead{
    background:#D8E0E5;
}
.event-lists table thead tr th{
    padding:6px 0;
    text-align:center;
    font-size:14px;
}
.event-lists table tbody tr td{
    text-align:center;
    border:1px solid #ccc;
    box-sizing:border-box;
    padding:6px 0;
    font-size:14px;
}
.event-lists tbody td:first-child{
    border-left:none;
}
.event-lists tbody td:last-child{
    border-right:none
}
.event-nav ul a.litwo li{
    position:relative;
    color:#fff;
}
.event-nav ul a.litwo .tri{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #F5F8FA;
    border-left: 15px solid transparent;
    position:absolute;
    top:20px;
    left:40%;
    z-index:9;
}
.event-lists{
    position:relative;
}
.page{
    position:absolute;
    right:0;
}
































