.mapeight{
    height:800px;
}
.vs {
    font-size: 36px;
    position: absolute;
    left: 700px;
    top: 50%;
    z-index:99;
    transform: translateY(-50%);
}
.mline {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-top: 1px solid #B6BCC0;
    position: absolute;
}
.lineright {
    top: 50%;
    left: 730px;
}

.lineleft {
    top: 50%;
    left: 560px;
}
.win {
    display: inline-block;
    width: 100px;
    font-size: 14px;
    border: 1px solid #B6BCC0;
    background: #F5F8FA;
    position: absolute;
    text-align: center;
    line-height: 40px;
    word-break:break-all;
}
.win{
    position:relative;
}
.wtop{
    top:-20px;
}
.wbottom{
    top:155px;
}
.wmiddle{
    left:15%;
}
.mlinetwo{
    display: inline-block;
    width: 150px;
    height: 240px;
    border-top: 1px solid #B6BCC0;
    border-bottom:1px solid #B6BCC0;
    position: absolute;
}
.linetwoleft{
    border-right:1px solid #B6BCC0;
    top:36%;
    left:410px;
}
.linetworight{
    top:36%;
    left:880px;
    border-left:1px solid #B6BCC0;
}
.wleft{
    left:0;
}
.wright{
    left:50px;
}
.mlinefour{
    display: inline-block;
    width: 150px;
    height: 140px;
    border-top: 1px solid #B6BCC0;
    border-bottom:1px solid #B6BCC0;
    position: absolute;
}
.linefourleft{
    border-right:1px solid #B6BCC0;
    top:28%;
    left:260px;
}
.linefourright{
    border-left:1px solid #B6BCC0;
    top:28%;
    left:1030px;
}
.line1{
    top:22%;
}
.line2{
    top:60%;
}
.wfbottom{
    top:65px;
}
.mlineeight{
    display: inline-block;
    width: 150px;
    height: 80px;
    border-top: 1px solid #B6BCC0;
    border-bottom:1px solid #B6BCC0;
    position: absolute;
}
.lineeightleft{
    border-right:1px solid #B6BCC0;
    left:110px;
}
.lineeightright{
    border-left:1px solid #B6BCC0;
    left:1180px;
}
.eline1{
    top:16%;
}
.eline2{
    top:35%;
}
.eline3{
    top:55%;
}
.eline4{
    top:73%;
}
.webottom{
    top:2px;
}





