
<div class="managelists">
    <ul>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Eventmanage/eventmanageround"><p>比赛规则设置</p></a></li>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Eventmanage/eventmanageplayer"><p>选手报名管理</p></a></li>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Eventmanage/eventmanageumpire"><p>裁判报名管理</p></a></li>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Eventmanage/eventmanageroom"><p>Room管理</p></a></li>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Eventmanage/eventnewplayersignin"><p>选手签到管理</p></a></li>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Eventmanage/eventumpiresignin"><p>裁判签到管理</p></a></li>
        <a href="javascript:;" class="clickbtn clickready radius5"><p>准备好了吗？</p><h4>点击开始比赛当日操作</h4></a>
        <a href="/Eventmanage/againstaround" class="clickbtn clickstart radius5"><p>开始比赛</p><h4>点击开始执行对垒</h4></a>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Eventmanage/track"><p>Track 查询</p></a></li>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Eventmanage/resulttrackaround"><p>赛果查询</p></a></li>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Eventmanage/prize"><p>奖项设置</p></a></li>
        <li><label><input type="checkbox" name="name" value="" /></label><a href="/Eventmanage/winnerlist"><p>获奖名单</p></a></li>
    </ul>
</div>