@{
    Layout = "";
    ViewBag.Title = "添加临时裁判";
}
<link href="@Url.Content("~/Content/asset/css/eventmanage/eventmanageumpire.css?1.1.5")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/common/common.css?1.1.0")" rel="stylesheet" type="text/css" />
<div class="addtemporaryjudge">
    <h4>添加临时裁判</h4>
    <span></span>
    <div class="form-group judgename">
        <label for="judgename"></label>
        <input type="text" id="judgename" class="radius5" value="" placeholder="输入临时裁判姓名" />
    </div>
    <div class="form-group judgephone">
        <p>* 裁判联系电话即为登录密码</p>
        <label for="judgephone"></label>
        <input type="text" id="judgephone" class="radius5" value="" placeholder="输入临时裁判的联系电话" />
    </div>
    <button class="radius5 darkblue color-white">确认添加该临时裁判</button>
</div>
