@{
    Layout = "~/Views/Shared/_EventManage.cshtml";
    ViewBag.Title = "发起赛事";
}
<link href="@Url.Content("~/Content/asset/css/common.css?1.1.0")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/common.css?1.1.0")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/eventstart.css?2.1.4")" rel="stylesheet" type="text/css" />

<div class="tri"></div>
<div class="container-fulid event-select">

    <div class="container event">
        <h4>赛事类别</h4>
        <div class="form-group">
            <label>选择赛事类别：</label>
            <select class="form-control">
                <option>选择赛事类别</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label>选择类别：</label>
            <select class="form-control">
                <option>选择类别</option>
                <option>公共论坛式辩论</option>
                <option>林肯·道格拉斯辩论</option>
                <option>英国议会制辩论</option>
            </select>
        </div>
        <a href="/Eventmanage/eventstartlists" class="next-step darkblue linkbutton-min radius5 color-white">NEXT STEP 下一步</a>
    </div>








    @*<div class="container-fulid  eventsel">
        <div class="container">
            <h4>赛事类别</h4>
        </div>
    </div>
    <div class="container-fulid selects">
        <div class="container">
            <select class="form-control">
                <option>选择赛事类别</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <select class="form-control">
                <option>选择类别</option>
                <option>公共论坛式辩论</option>
                <option>林肯·道格拉斯辩论</option>
                <option>英国议会制辩论</option>
            </select>
            <a href="/Eventmanage/eventstartlists">NEXT STEP 下一步</a>
        </div>
    </div>*@


</div>