@{
    Layout = "~/Views/Shared/_EventManage.cshtml";
    ViewBag.Title = "选手管理";
}

<link href="@Url.Content("~/Content/asset/css/eventmanageplayer.css?1.1.0")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/common.css?1.1.0")" rel="stylesheet" type="text/css" />

@Html.Partial("_manager")
<div class="event-lists">
    <div class="classcheck">
        <img src="~/Content/asset/img/sinfo_03.png" alt="" />
        <div class="class">
            <div class="group">
                <div class="group-item">
                    <p>按组别查看：</p><a href="javascript:;" class="selected">不限</a>
                </div>
                <div class="group-con">
                    <a href="javascript:;">新手组</a>
                    <a href="javascript:;">公开组</a>
                    <a href="javascript:;">国际高中组</a>
                    <a href="javascript:;">国际新手组</a>
                </div>
            </div>
            <div class="group">
                <div class="group-item">
                    <p>按状态查看：</p><a href="javascript:;" class="selected">不限</a>
                </div>
                <div class="group-con">
                    <a href="javascript:;">未确认组队</a>
                    <a href="javascript:;">等待付款</a>
                    <a href="javascript:;">报名成功</a>
                    <a href="javascript:;">已退赛</a>
                </div>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>组队编号</th>
                <th>NSDA会员编号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>联系电话</th>
                <th>年级</th>
                <th>学校</th>
                <th>学校所在城市</th>
                <th>报名组别</th>
                <th>状态</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">021</td>
                <td>N1899235</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>

            </tr>
            <tr>
                <td>N1899225</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>
            </tr>
            <tr>
                <td rowspan="2">021</td>
                <td>N1899235</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>

            </tr>
            <tr>
                <td>N1899225</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>
            </tr>
            <tr>
                <td rowspan="2">021</td>
                <td>N1899235</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>

            </tr>
            <tr>
                <td>N1899225</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>
            </tr>
            <tr>
                <td rowspan="2">021</td>
                <td>N1899235</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>

            </tr>
            <tr>
                <td>N1899225</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>
            </tr>
            <tr>
                <td rowspan="2">021</td>
                <td>N1899235</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>

            </tr>
            <tr>
                <td>N1899225</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>
            </tr>
            <tr>
                <td rowspan="2">021</td>
                <td>N1899235</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>

            </tr>
            <tr>
                <td>N1899225</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>
            </tr>
            <tr>
                <td rowspan="2">021</td>
                <td>N1899235</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>

            </tr>
            <tr>
                <td>N1899225</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>
            </tr>
            <tr>
                <td rowspan="2">021</td>
                <td>N1899235</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>
            </tr>
            <tr>
                <td>N1899225</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>
            </tr>
            <tr>
                <td rowspan="2">021</td>
                <td>N1899235</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>
            </tr>
            <tr>
                <td>N1899225</td>
                <td>唐嫣</td>
                <td>女</td>
                <td>12345678945</td>
                <td>7</td>
                <td>上海外国语大学附属双语学校</td>
                <td>上海</td>
                <td>国际高中组</td>
                <td>确认组队</td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation" id="page">
        <div class="page">
            <a href="javascript:void(0);" class="prev"><</a>
            <a href="javascript:void(0);" class="on">1</a>
            <span>...</span>
            <a href="javascript:void(0);">4</a>
            <a href="javascript:void(0);">5</a>
            <a href="javascript:void(0);">6</a>
            <span>...</span>
            <a href="javascript:void(0);">7</a>
            <a href="javascript:void(0);" class="next">></a>
        </div>
    </nav>
</div>
















