@{
    Layout = "";
    ViewBag.Title = "修改Room";
}
<link href="@Url.Content("~/Content/asset/css/common.css?1.1.0")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/asset/css/eventmanageroom.css?1.1.5")" rel="stylesheet" type="text/css" />
<div class="modiroom">
    <h4>修改Room</h4>
    <span></span>
    <div class="form-group roomname">
        <label for="roomname"></label>
        <input type="text" id="roomname" value="" placeholder="输入Room名称" />
    </div>
    <div class="form-group roomclass">
        <label for="roomclass">设为：</label>
        <select id="roomclass">
            <option value="1">停用</option>
            <option value="2">仅 新手组 使用（组别）</option>
            <option value="3">仅 公开组 使用（组别）</option>
        </select>
    </div>
    <button>确认修改Room</button>
</div>
